Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

fix(cart) remove coupon api call
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

Implement isOnCart for commercetools
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

fix(cart) remove coupon
  packages/boilerplate/composables/src/composables/useCart/index.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
Due: commercetools-composables

fix(cart) remove coupon x
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
Due: commercetools-composables

fix(cart) remove coupon x
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
Due: none

chore: publish api-client
  .github/workflows/deploy-storefrontcloud.yml
  packages/commercetools/composables/package.json
  yarn.lock
Due: commercetools-composables

chore: update script
  .github/workflows/deploy-storefrontcloud.yml
Due: none

chore: reforce publish
  .github/workflows/deploy-storefrontcloud.yml
Due: none

chore: publish all
  packages/commercetools/composables/package.json
  yarn.lock
Due: commercetools-composables

chore: publish all
  packages/commercetools/composables/package.json
Due: commercetools-composables

CT module installs plugin & middleware
  packages/commercetools/nuxt/README.MD
  packages/commercetools/nuxt/index.js
  packages/commercetools/nuxt/package.json
  packages/commercetools/nuxt/plugin.js
  packages/commercetools/theme/middleware/commercetools.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/plugins/README.md
  packages/commercetools/theme/plugins/commercetools.js
  yarn.lock
Due: none

Fixed linter error with .ejs parts
  packages/commercetools/nuxt/plugin.js
Due: none

Refactoring
  packages/commercetools/nuxt/plugin.js
Due: none

Nuxt module not as a package
  packages/commercetools/nuxt/package.json
  packages/commercetools/theme/nuxt.config.js
Due: none

i18n created by module
  packages/commercetools/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/nuxt/index.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  yarn.lock
Due: commercetools-composables

Removed empty lines
  packages/commercetools/composables/nuxt/plugin.js
Due: commercetools-composables

Remove duplicate import of '@vue-storefront/core/helpers'
  core/scripts/resolvers/resolveGraphQL.js
Due: none

send user token in header
  config/default.json
  core/data-resolver/ProductService.ts
  core/lib/sync/task.ts
Due: none

update changelog
  CHANGELOG.md
Due: none

About you install plugin to module
  packages/about-you/composables/nuxt/README.MD
  packages/about-you/composables/nuxt/index.js
  packages/about-you/composables/nuxt/plugin.js
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/plugins/about-you.js
Due: none

Boilerplate module
  packages/boilerplate/composables/nuxt/README.MD
  packages/boilerplate/composables/nuxt/index.js
  packages/boilerplate/composables/nuxt/plugin.js
  packages/boilerplate/theme/nuxt.config.js
Due: none

Default config & not setting i18n in ct integration
  packages/commercetools/composables/nuxt/defaultConfig.js
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-composables

Middleware in external file
  packages/commercetools/composables/nuxt/middleware.js
  packages/commercetools/composables/nuxt/plugin.js
Due: commercetools-composables

Overridable getCartToken & getWishlistToken
  .eslintignore
  packages/about-you/composables/nuxt/index.js
  packages/about-you/composables/nuxt/plugin.js
  packages/about-you/theme/helpers/cart/getCartToken.js
  packages/about-you/theme/helpers/wishlist/getWishlistToken.js
  packages/about-you/theme/nuxt.config.js
Due: none

Approach with config in the external file
  packages/about-you/composables/nuxt/plugin.js
  packages/about-you/composables/package.json
  packages/about-you/theme/helpers/cart/getCartToken.js
  packages/about-you/theme/helpers/wishlist/getWishlistToken.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/middleware.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/integration.config.js
  packages/commercetools/theme/middleware/commercetools.js
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-composables

Integration config inside nuxt cfg
  packages/commercetools/theme/integration.config.js
  packages/commercetools/theme/middleware/commercetools.js
  packages/commercetools/theme/nuxt.config.js
Due: none

Injecting middleware for CT is configurable
  .eslintignore
  packages/commercetools/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/middleware.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-composables

Hidden credentials in example configs
  packages/about-you/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/defaultConfig.js
Due: commercetools-composables

Util function for build locales
  packages/commercetools/composables/nuxt/helpers/index.js
Due: commercetools-composables

Long condition -> external function
  packages/commercetools/composables/nuxt/index.js
Due: commercetools-composables

Using ayc functions in the plugin & middleware -> token-middleware
  packages/about-you/composables/nuxt/helpers/cart/getCartToken.js
  packages/about-you/composables/nuxt/helpers/utils/generateToken.js
  packages/about-you/composables/nuxt/helpers/wishlist/getWishlistToken.js
  packages/about-you/composables/nuxt/plugin.js
  packages/about-you/theme/nuxt.config.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/nuxt/token-middleware.js
Due: commercetools-composables

After review fixes
  packages/commercetools/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/middleware/commercetools.js
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-composables

clear cache method added
  core/lib/storage-manager.ts
  core/modules/cart/helpers/cartCacheHandler.ts
Due: none

test
  core/modules/cart/test/unit/helpers/cartCacheHandler.spec.ts
Due: none

fix
  core/modules/cart/helpers/cartCacheHandler.ts
Due: none

fix
  core/lib/storage-manager.ts
Due: none

setItem handles memory overload
  core/lib/storage-manager.ts
  core/lib/store/storage.ts
  core/modules/cart/helpers/cartCacheHandler.ts
Due: none

preserveDrivers in config, handle clear cache hidden
  config/default.json
  core/lib/store/storage.ts
  core/modules/cart/helpers/cartCacheHandler.ts
Due: none

useCko -> useCkoCard
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: none

initial implementation of checkout.com
  package.json
  packages/boilerplate/theme/package.json
  packages/checkout-com/components.js
  packages/checkout-com/jest.config.js
  packages/checkout-com/nuxt/CheckoutComPaymentSuccess.vue
  packages/checkout-com/nuxt/index.ts
  packages/checkout-com/nuxt/package.json
  packages/checkout-com/nuxt/plugin.js
  packages/checkout-com/nuxt/rollup.config.js
  packages/checkout-com/nuxt/tsconfig.json
  packages/checkout-com/package.json
  packages/checkout-com/rollup.config.js
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/test/package.json
  packages/checkout-com/test/test.js
  packages/checkout-com/test/yarn.lock
  packages/checkout-com/tsconfig.json
  packages/commercetools/api-client/package.json
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-module/package.json
  yarn.lock
Due: commercetools-api-client
