Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

chore: update
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/core/nuxt-theme-module/theme/pages/CheckoutV2/Shipping.vue
Due: commercetools-composables

refactor: get rid of compareAddresses
  packages/commercetools/theme/helpers/checkout/compareAddresses.ts
Due: none

refactor: better naming
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

refactor: after CR
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/getters/shippingGetters.ts
  packages/commercetools/composables/src/getters/shippingMethodGetters.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useShippingMethod/index.ts
  packages/commercetools/theme/components/Checkout/CartPreview.vue
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/helpers/Checkout/getShippingMethodPrice.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/CheckoutV2/Shipping.vue
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useShippingMethodFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

refactor: commented chosenShippingMethod
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

refactor: removed ShippingGetters interface
  packages/core/core/src/types.ts
Due: none

separate middleware, config
  package.json
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/types.ts
  packages/core/middleware/middleware.js
  packages/core/middleware/package.json
  packages/core/middleware/src/createServer.ts
  packages/core/middleware/src/integrations.ts
  yarn.lock
Due: commercetools-api-client

chore: BillingGetters
  packages/commercetools/composables/src/getters/billingGetters.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/types/GraphQL.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

revert: checkout getters
  packages/commercetools/composables/src/getters/checkoutGetters.ts
  packages/commercetools/composables/src/getters/index.ts
Due: commercetools-composables

refactor: got rid of getters
  packages/commercetools/composables/src/getters/billingGetters.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

chore: billing factory and composable
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useBilling/index.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useBillingFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

chore: working on BillingForm
  packages/commercetools/theme/components/Checkout/BillingForm.vue
  packages/commercetools/theme/pages/CheckoutV2/Payment.vue
Due: none

fix: types
  packages/commercetools/composables/src/types/GraphQL.ts
Due: commercetools-composables

chore: proper billing form for guest
  packages/commercetools/theme/components/Checkout/BillingForm.vue
Due: none

chore: support for saved addresses
  packages/commercetools/theme/components/Checkout/BillingForm.vue
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
Due: none

fix: from cr
  docs/guide/cookbook/module.md
Due: none

fix test, remove unused filed
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/__tests__/middleware/createMiddleware.spec.ts
  packages/core/core/package.json
  packages/core/core/rollup-server.config.js
  packages/core/core/rollup.config.js
  packages/core/core/src/server/index.ts
  packages/core/core/src/server/memory/index.ts
  packages/core/core/src/utils/context/index.ts
Due: none

cr
  packages/commercetools/composables/src/index.ts
  packages/commercetools/theme/.gitignore
  packages/commercetools/theme/middleware.config.js
  packages/core/core/package.json
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/middleware/nuxt/index.js
Due: commercetools-composables

cr
  packages/core/middleware/src/integrations.ts
Due: none

cr
  packages/commercetools/theme/package.json
  packages/core/middleware/package.json
  yarn.lock
Due: none

cr
  packages/core/middleware/nuxt/index.js
Due: none

Updated: the code to handle applying filters in different cases(#561)
  core/modules/catalog-next/helpers/filterHelpers.ts
Due: none

Updated: changelog to make the issue link clickable(#561)
  CHANGELOG.md
Due: none

Updated: the changelog file (#561)
  CHANGELOG.md
Due: none

cr
  .github/workflows/test.yml
Due: none

cr
  packages/core/core/package.json
  packages/core/middleware/package.json
Due: none

changelog
  packages/core/docs/changelog/5500.js
  packages/core/docs/commercetools/changelog/5500.js
Due: none

chore: working on ct docs anchor
  packages/core/docs/guide/authentication.md
Due: none

chore: added links
  packages/core/docs/guide/authentication.md
Due: none

docs: common authentication
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/authentication.md
Due: none

Update packages/core/docs/guide/authentication.md
  packages/core/docs/guide/authentication.md
Due: none

chore: update
  packages/core/docs/guide/authentication.md
Due: none

docs: update
  packages/core/docs/guide/authentication.md
Due: none

chore: docs update
  packages/core/docs/guide/authentication.md
Due: none

docs: externalized authozation strategy with CT case
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/authorization-strategy.md
  packages/core/docs/guide/authentication.md
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
