Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

test
  packages/core/docs/.vuepress/config.js
Due: none

test
  packages/core/docs/package.json
Due: none

remove typedoc
  packages/core/docs/package.json
  packages/core/docs/scripts/generateCtApiRef.js
  packages/core/docs/typedoc-vsf-theme/helpers/helpers.js
  packages/core/docs/typedoc-vsf-theme/partials/main.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.declaration.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.signature.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.group.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.hbs
  packages/core/docs/typedoc-vsf-theme/partials/title.hbs
  packages/core/docs/typedoc-vsf-theme/removeFiles.js
  packages/core/docs/typedoc-vsf-theme/removeText.js
  packages/core/docs/typedoc-vsf-theme/templates/index.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.member.hbs
  packages/core/docs/typedoc-vsf-theme/theme.js
  packages/core/docs/typedoc.json
  yarn.lock
Due: none

update
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/package.json
Due: none

test
  packages/core/docs/Dockerfile
Due: none

Update
  packages/boilerplate/theme/nuxt.config.js
  packages/boilerplate/theme/themeConfig.js
Due: none

Include more discount info in LineItem fragment
  packages/commercetools/api-client/src/fragments/line-item.ts
Due: commercetools-api-client

Discount getter prototype #1
  packages/commercetools/theme/components/Checkout/CartPreview.vue
Due: none

fix(commercetools:composables): added missing fast exit when there are no coupon
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

docs(commercetools): added the breaking change
  packages/core/docs/commercetools/changelog/6066.js
Due: none

Refs #24341: Storyblok - Grid - fix `width` property processing
  src/modules/vsf-storyblok-module/components/defaults/PageSection.vue
Due: none

test
  .github/workflows/deploy-docs.yml
Due: none

Update getSpecialPrice method (lineItems)
  packages/commercetools/composables/src/getters/_utils.ts
Due: commercetools-composables

Add locales for invalid promo code message
  packages/commercetools/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/lang/en.js
Due: none

Updade cartPreview addCoupon logic
  packages/commercetools/theme/components/Checkout/CartPreview.vue
Due: none

Add coupon list, implement removeCoupon
  packages/commercetools/theme/components/Checkout/CartPreview.vue
Due: none

Add locales for 'remove coupon'
  packages/commercetools/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/lang/en.js
Due: none

Fetch lineItemMode
  packages/commercetools/api-client/src/fragments/line-item.ts
Due: commercetools-api-client

Exclude gift line items price from cart subtotal
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

Add lineItemMode property to ProductVariant interface
  packages/commercetools/composables/src/types/GraphQL.ts
Due: commercetools-composables

uncomment deploy action
  .github/workflows/deploy-docs.yml
Due: none

docs: add migration guide v2.4.0
  packages/core/docs/migrate/2.4.0/commercetools.md
  packages/core/docs/migrate/2.4.0/integrators.md
  packages/core/docs/migrate/2.4.0/overview.md
Due: none

Return null price for gift line items
  packages/commercetools/composables/src/getters/_utils.ts
Due: commercetools-composables

Refactor exclude gift line items price from cart subtotal
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

docs: add 2.4.0 doc link to index.md
  packages/core/docs/migrate/index.md
Due: none

Update getDiscounts cart getter
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

Update AgnosticDiscount interface
  packages/core/core/src/types.ts
Due: none

Remove wip discount getter on CartPreview
  packages/commercetools/theme/components/Checkout/CartPreview.vue
Due: none

Fetch line item discounts descriptions
  packages/commercetools/api-client/src/fragments/line-item.ts
Due: commercetools-api-client

fx: changes after CR
  packages/commercetools/theme/composables/useUiState.ts
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/components/NewsletterModal.vue
  packages/core/nuxt-theme-module/theme/composables/useUiState.ts
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

Update cart coupons and discounts getters names
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

fix: add i18n for boilerplate
  packages/boilerplate/theme/lang/de.js
  packages/boilerplate/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/components/NewsletterModal.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

Falback for no discounts
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

Revert subtotal/special price display changes
  packages/commercetools/theme/components/Checkout/CartPreview.vue
Due: none

Switch places between discounts and special subtotal
  packages/commercetools/theme/components/Checkout/CartPreview.vue
Due: none

Include lineItem quantity in discount amoun calculation
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

Update existing tests
  packages/commercetools/composables/__tests__/getters/_createPrice.spec.ts
Due: commercetools-composables

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
