Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

4647 add proxy for express response to keep same api for redirection
  core/lib/async-data-loader.ts
  core/modules/catalog/events.ts
  core/pages/Checkout.js
  core/scripts/server.ts
  core/scripts/utils/ssr-redirect.ts
  core/scripts/utils/ssr-renderer.ts
  core/scripts/utils/types/index.ts
Due: none

4647 clear code
  core/modules/catalog/events.ts
  core/pages/Checkout.js
Due: none

Fix tests
  packages/commercetools/composables/__tests__/useUser/authenticate.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrders.spec.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
Due: commercetools-composables

cart hydration fix
  packages/core/core/src/factories/useCartFactory.ts
Due: none

cart hydration fix
  packages/core/docs/contributing/changelog.md
Due: none

Fix CustomQuery typings
  packages/commercetools/api-client/src/types/Api.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client

Release core 0.2
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-api-client, commercetools-composables

Export getCustomQuery from CT-api package
  packages/commercetools/api-client/src/index.ts
Due: commercetools-api-client

Release core 0.2
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

Update changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

update verrsions
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/cli/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
Due: commercetools-api-client, commercetools-composables

update verrsions
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

refactor: adjusted styles - category and bottom nav
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/theme/package.json
  packages/core/nuxt-theme-module/theme/components/BottomNavigation.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  yarn.lock
Due: commercetools-api-client

update verrsions
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/tsconfig.json
Due: commercetools-api-client, commercetools-composables

update verrsions
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/docs/commercetools/changelog.md
Due: commercetools-api-client, commercetools-composables

chore: render components factory to components array
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/types.ts
Due: none

Fix BP, composition-api and unexpected token
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/composables/getters/cartGetters.ts
  packages/boilerplate/composables/src/composables/getters/categoryGetters.ts
  packages/boilerplate/composables/src/composables/getters/facetGetters.ts
  packages/boilerplate/composables/src/composables/getters/index.ts
  packages/boilerplate/composables/src/composables/useCart/index.ts
  packages/boilerplate/composables/src/composables/useFacet/index.ts
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/theme/package.json
  packages/boilerplate/theme/tsconfig.json
  packages/boilerplate/theme/yarn copy.lock
  packages/checkout-com/package.json
  packages/commercetools/theme/package.json
  packages/commercetools/theme/tsconfig.json
  packages/core/core/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Due: none

Update deps
  packages/checkout-com/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Due: none

Update tsconfig for about-you and shopify
  packages/about-you/theme/tsconfig.json
  packages/shopify/theme/tsconfig.json
Due: none

update faceting mechanism
  packages/commercetools/composables/yarn-error.log
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: commercetools-composables

update faceting mechanism
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

update faceting mechanism
  packages/core/nuxt-theme-module/theme/composables/useUiHelpers/index.ts
Due: none

4647 add tests for addRedirectTempObject
  core/scripts/utils/ssr-redirect.ts
  core/scripts/utils/ssr-renderer.ts
  core/scripts/utils/test/unit/ssr-redirect.spec.ts
  core/scripts/utils/types/index.ts
Due: none

Gitignore Update
  .gitignore
Due: none

Gitignore
  .gitignore
Due: none

refactor: adjusted styles - home, footer, header, locale selector
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

Add module to optionally redirect to default store.
  src/modules/default-store-redirect/hooks/index.ts
  src/modules/default-store-redirect/server.ts
Due: none

Include appendDefaultStoreCode in default.json
  config/default.json
Due: none

Include info about default store redirect
  CHANGELOG.md
  docs/guide/basics/configuration.md
  src/modules/default-store-redirect/README.md
Due: none

feat(cko): token in sessionStorage & removing onUnmounted
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/src/useCkoCard.ts
Due: none

Readme update
  packages/checkout-com/README.md
Due: none

chore(cko): changelog
  packages/core/docs/checkout-com/CHANGELOG.md
Due: none

Manually purging sessionStorage
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/core/docs/checkout-com/CHANGELOG.md
Due: none

Add 'averageRating` and `getTotalReviews` to product
  packages/boilerplate/composables/src/composables/getters/productGetters.ts
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/composables/src/getters/productGetters.ts
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/core/use-review.md
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: commercetools-api-client, commercetools-composables

Update changelogs
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

Update changelog
  packages/core/docs/commercetools/changelog.md
Due: none

chore: update after CR
  docs/guide/installation/production-setup.md
Due: none

make isUserSession configurable
  packages/commercetools/api-client/__tests__/helpers/isTokenUserSession.spec.ts
  packages/commercetools/api-client/src/helpers/token/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/core/docs/commercetools/changelog.md
Due: commercetools-api-client

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
