Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

change orders composable tests
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
Due: commercetools-composables

fix orders factory
  packages/core/core/src/factories/useUserOrderFactory.ts
Due: none

change orders factory tests
  packages/core/core/__tests__/factories/useUserOrderFactory.spec.ts
Due: none

changelog added
  packages/core/docs/changelog/6108.js
  packages/core/docs/commercetools/changelog/6108.js
Due: none

fix payment template
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: none

changelog added
  packages/core/docs/commercetools/changelog/6104.js
Due: none

Fetch categories with product data
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
Due: commercetools-api-client

Preserve categories in enhancedProduct method
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
Due: commercetools-composables

Create product breadcrumbs getter
  packages/commercetools/composables/src/getters/productGetters.ts
Due: commercetools-composables

Use the product breadcrumbs getter on PDP
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

Fix integration icons
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/public/integrations-logos/Adyen.svg
  packages/core/docs/.vuepress/public/integrations-logos/BigCommerce.svg
  packages/core/docs/.vuepress/public/integrations-logos/Contentful.svg
  packages/core/docs/.vuepress/public/integrations-logos/Recurly.png
  packages/core/docs/.vuepress/public/integrations-logos/Storyblok.svg
  packages/core/docs/.vuepress/public/integrations-logos/algolia.svg
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.jpg
  packages/core/docs/.vuepress/public/integrations-logos/commercetools.svg
  packages/core/docs/integrations/README.md
Due: none

Updatet Shopify logo
  packages/core/docs/.vuepress/public/integrations-logos/Shopify.svg
  packages/core/docs/integrations/README.md
Due: none

Fix integration logos (#6109)
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/public/integrations-logos/Adyen.svg
  packages/core/docs/.vuepress/public/integrations-logos/BigCommerce.svg
  packages/core/docs/.vuepress/public/integrations-logos/Contentful.svg
  packages/core/docs/.vuepress/public/integrations-logos/Recurly.png
  packages/core/docs/.vuepress/public/integrations-logos/Shopify.svg
  packages/core/docs/.vuepress/public/integrations-logos/Storyblok.svg
  packages/core/docs/.vuepress/public/integrations-logos/algolia.svg
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.jpg
  packages/core/docs/.vuepress/public/integrations-logos/commercetools.svg
  packages/core/docs/integrations/README.md
Due: none

Update enhanceProduct tests
  packages/commercetools/composables/__tests__/helpers/__snapshots__/enhanceProduct.spec.ts.snap
  packages/commercetools/composables/__tests__/helpers/enhanceProduct.spec.ts
Due: commercetools-composables

smartphone only promo code input added
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: none

changelog added
  packages/core/docs/commercetools/changelog/6112.js
Due: none

feat(commercetools): added channelId logic
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerChangeMyPassword/index.ts
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/index.ts
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/helpers/utils.ts
  packages/commercetools/composables/__tests__/getters/storeGetters.spec.ts
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/helpers/internals/getStoreCredentials.ts
Due: commercetools-api-client, commercetools-composables

fix(commercetools): fixed request payload prop
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerChangeMyPassword/index.ts
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/index.ts
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/helpers/utils.ts
Due: commercetools-api-client

refactor(ct:api-client): types for new FN
  packages/commercetools/api-client/src/api/requestAuthToken/index.ts
Due: commercetools-api-client

refactor(ct:composables): integrationPlugin
  packages/commercetools/composables/nuxt/plugin.js
Due: commercetools-composables

refactor(ct:theme): auth-token plugin
  packages/commercetools/theme/plugins/auth-token.js
Due: none

refactor(ct:theme): auth-token plugin
  packages/commercetools/theme/nuxt.config.js
Due: none

refactor(core:nuxt): axios cookie config
  packages/core/core/src/utils/nuxt/index.ts
Due: none

refactor(ct): code refactoring
  packages/commercetools/api-client/src/api/requestAuthToken/index.ts
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/plugins/auth-token.js
Due: commercetools-api-client, commercetools-composables

refactor(ct:api-client): fix unit tests
  packages/commercetools/api-client/__tests__/helpers/commercetoolsLink/linkHandlers.spec.ts
Due: commercetools-api-client

[Docs] Update commercetools homepage
  packages/core/docs/commercetools/README.md
Due: none

[Docs] Update commercetools homepage (#6113)
  packages/core/docs/commercetools/README.md
Due: none

Fix links to selfhosted integration logos
  packages/core/docs/integrations/README.md
Due: none

Fix typos and grammar
  packages/core/docs/advanced/context.md
  packages/core/docs/advanced/extending-graphql-queries.md
  packages/core/docs/advanced/internationalization.md
  packages/core/docs/advanced/logging.md
  packages/core/docs/advanced/performance.md
  packages/core/docs/advanced/ssr-cache.md
  packages/core/docs/commercetools/authorization-strategy.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-user-billing.md
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-wishlist.md
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/commercetools/extensions/user-groups.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/contributing/api-design-philosophy.md
  packages/core/docs/contributing/creating-changelog.md
  packages/core/docs/contributing/server-side-rendering.md
  packages/core/docs/contributing/themes.md
  packages/core/docs/enterprise/feature-list.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/guide/checkout.md
  packages/core/docs/guide/configuration.md
  packages/core/docs/guide/user-profile.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrations/adyen.md
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/use-category.md
  packages/core/docs/shopify/use-content.md
  packages/core/docs/shopify/use-product.md
  packages/core/docs/shopify/use-search.md
  packages/core/docs/shopify/use-user-order.md
  packages/core/docs/shopify/use-user.md
Due: none

Fix links to selfhosted integration logos (#6114)
  packages/core/docs/integrations/README.md
Due: none

fix: useProductFactory TS definitions
  packages/commercetools/composables/src/types/index.ts
  packages/core/docs/commercetools/composables/use-product.md
Due: commercetools-composables

Update project description
  packages/commercetools/theme/README.md
  packages/commercetools/theme/package.json
Due: none

Upgrade VuePress and delete AboutYou docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/enhanceApp.js
  packages/core/docs/.vuepress/styles/palette.styl
  packages/core/docs/aboutyou/README.md
  packages/core/docs/aboutyou/api-client.md
  packages/core/docs/aboutyou/composables.md
  packages/core/docs/aboutyou/feature-list.md
  packages/core/docs/aboutyou/getting-started.md
  packages/core/docs/aboutyou/use-cart.md
  packages/core/docs/aboutyou/use-product.md
  packages/core/docs/aboutyou/use-wishlist.md
  packages/core/docs/package.json
  yarn.lock
Due: none

Upgrade VuePress to ^1.8.2
  packages/core/docs/package.json
  yarn.lock
Due: none

Satisfy eslint
  packages/core/middleware/src/helpers.ts
Due: none

Update
  packages/core/docs/.vuepress/config.js
Due: none

Update
  packages/core/docs/.vuepress/components/IntegrationList.vue
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/public/integrations-logos/Recurly.png
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.jpg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.png
  packages/core/docs/integrations/README.md
Due: none

Upgrade VuePress and delete AboutYou docs (#6117)
  packages/core/docs/.vuepress/components/IntegrationList.vue
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/enhanceApp.js
  packages/core/docs/.vuepress/public/integrations-logos/Recurly.png
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.jpg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.png
  packages/core/docs/.vuepress/styles/palette.styl
  packages/core/docs/aboutyou/README.md
  packages/core/docs/aboutyou/api-client.md
  packages/core/docs/aboutyou/composables.md
  packages/core/docs/aboutyou/feature-list.md
  packages/core/docs/aboutyou/getting-started.md
  packages/core/docs/aboutyou/use-cart.md
  packages/core/docs/aboutyou/use-product.md
  packages/core/docs/aboutyou/use-wishlist.md
  packages/core/docs/integrations/README.md
  packages/core/docs/package.json
  yarn.lock
Due: none

Update
  packages/core/docs/package.json
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
