Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

chore: mark packages to publish
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/prismic/package.json
Due: commercetools-api-client, commercetools-composables

chore: update packages
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  packages/core/theme-module/package.json
  yarn.lock
Due: none

workflow: publish canary versions script
  .github/workflows/publish-canary.yml
Due: none

chore: update node version for publishing
  .github/workflows/publish-canary.yml
Due: none

Added GPMD & BeeCommerce Partners
  README.md
Due: none

refcator: fixed spacings and content on mobile pdp
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Product.vue
Due: none

chore: use canary version of core packages
  packages/about-you/composables/package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/commercetools/composables/package.json
  yarn.lock
Due: commercetools-composables

fix: adjusted login modal
  packages/core/theme-module/theme/components/LoginModal.vue
Due: none

Add `tailwindcss-animations` lib for animations (#299)
  src/themes/icmaa-imp/package.json
  src/themes/icmaa-imp/tailwind.js
  yarn.lock
Due: none

marked CT packages as publishable
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
Due: commercetools-api-client, commercetools-composables

change ct to canary
  packages/commercetools/composables/package.json
Due: commercetools-composables

update publish canary
  .github/workflows/publish-canary.yml
Due: none

chore: update lockfile
  yarn.lock
Due: none

fix(commercetools): Using token provider (#409)
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
  packages/commercetools/theme/middleware/commercetools.js
Due: commercetools-api-client

implement coupons, cart rules (#406)
  packages/commercetools/api-client/__tests__/api/updateCart/applyCartCoupon.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/removeCartCoupon.spec.ts
  packages/commercetools/api-client/src/api/applyCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeCartCoupon/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/__tests__/getters/_createPrice.spec.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
Due: commercetools-api-client, commercetools-composables

chore: adjusted margins on CAtegory page
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
  packages/core/theme-module/theme/pages/Category.vue
Due: none

#199473 Remove token cookies in `icmaa-external-checkout` (#300)
  src/modules/icmaa-external-checkout/index.ts
Due: none

Replaced headings on category view
  packages/core/theme-module/theme/pages/Category.vue
Due: none

mark ct as private
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
Due: commercetools-api-client, commercetools-composables

check qty after first Microcart open
  src/themes/default/components/core/blocks/Microcart/Product.vue
Due: none

update changelog
  CHANGELOG.md
Due: none

rfc: internal fields
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useUser/authenticate.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUser/index.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/authenticate.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUser/index.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
Due: commercetools-composables

internal fields (#342)
  packages/core/rfcs/setting-composable-internal-fields.md
Due: none

refactor: adjusted checkout personal details
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
  packages/core/theme-module/theme/pages/Checkout.vue
  packages/core/theme-module/theme/pages/Checkout/PersonalDetails.vue
Due: none

refactor: adjusted checkout titles
  packages/core/theme-module/theme/components/checkout/CartPreview.vue
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Checkout/Payment.vue
  packages/core/theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/theme-module/theme/pages/Checkout/Shipping.vue
Due: none

refactor(ayc): api-client revamp
  packages/about-you/composables/src/helpers/category/mapCategorySearchByPathParams.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
  packages/about-you/theme/helpers/category/getCategorySearchParameters.js
Due: none

remove unused files & temporarily ignore ayc test coverage
  packages/about-you/api-client/__tests__/api/addCoupon/index.spec.ts
  packages/about-you/api-client/__tests__/api/addToCart/index.spec.ts
  packages/about-you/api-client/__tests__/api/clearCart/index.spec.ts
  packages/about-you/api-client/__tests__/api/getCategory/index.spec.ts
  packages/about-you/api-client/__tests__/api/getProduct/index.spec.ts
  packages/about-you/api-client/__tests__/api/getUser/index.spec.ts
  packages/about-you/api-client/__tests__/api/placeOrder/index.spec.ts
  packages/about-you/api-client/__tests__/api/removeCoupon/index.spec.ts
  packages/about-you/api-client/__tests__/api/removeFromCart/index.spec.ts
  packages/about-you/api-client/package.json
  packages/about-you/api-client/src/api/addCoupon/index.ts
  packages/about-you/api-client/src/api/addToCart/index.ts
  packages/about-you/api-client/src/api/clearCart/index.ts
  packages/about-you/api-client/src/api/getCategory/index.ts
  packages/about-you/api-client/src/api/getProduct/index.ts
  packages/about-you/api-client/src/api/getUser/index.ts
  packages/about-you/api-client/src/api/placeOrder/index.ts
  packages/about-you/api-client/src/api/removeCoupon/index.ts
  packages/about-you/api-client/src/api/removeFromCart/index.ts
  packages/about-you/api-client/src/index.ts
  packages/about-you/api-client/src/types/index.ts
  packages/about-you/composables/__tests__/composables/useProduct/index.spec.ts
  packages/about-you/composables/package.json
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
  packages/about-you/composables/src/composables/getters/productGetters.ts
  packages/about-you/composables/src/composables/useCategory/index.ts
  packages/about-you/composables/src/composables/useLocale/factoryParams.ts
  packages/about-you/composables/src/composables/useProduct/index.ts
  packages/about-you/composables/src/helpers/index.ts
  packages/about-you/composables/src/helpers/mapProductSearch.ts
  packages/about-you/theme/package.json
  yarn.lock
Due: none

[Docs] Updated header link for blog
  docs/.vuepress/config.js
Due: none

#199586 Bugfix for iOS input-zoom and html-lang
  src/themes/icmaa-imp/layouts/Default.vue
  src/themes/icmaa-imp/resource/meta/head.ts
Due: none

Bugfix for E2E price test
  src/themes/icmaa-imp/test/e2e/integration/Catalog/price.spec.ts
  src/themes/icmaa-imp/test/e2e/support/commands.ts
  src/themes/icmaa-imp/test/e2e/typings/index.d.ts
Due: none

refactor(ayc): bump backbone version to 7.0.0, fix category tree and CR comments
  packages/about-you/api-client/package.json
  packages/about-you/api-client/src/index.ts
  packages/about-you/composables/package.json
  packages/about-you/composables/src/composables/useProduct/index.ts
  packages/about-you/theme/helpers/category/getCategorySearchParameters.js
  yarn.lock
Due: none

refactor(ayc): change ay to ayc, fix kids category link
  package.json
  packages/core/theme-module/theme/components/AppHeader.vue
Due: none

fix(ayc): skip tests
  packages/about-you/api-client/__tests__/index.spec.ts
  packages/about-you/composables/__tests__/composables/useCategory/index.spec.ts
  packages/about-you/composables/__tests__/composables/useProduct/index.spec.ts
  packages/about-you/composables/__tests__/helpers/mapProductSearch.spec.ts
Due: none

fix(ayc): fix travis CI
  .travis.yml
Due: none

fix(ayc): fix travis CI
  packages/about-you/api-client/package.json
Due: none

fix: adjusted headings
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Checkout/Payment.vue
  packages/core/theme-module/theme/pages/Checkout/Shipping.vue
Due: none

Improve `icmaa-url`module and E2E tests (#303)
  src/modules/icmaa-url/store/actions.ts
  src/themes/icmaa-imp/test/e2e/integration/Menu/languages.spec.ts
  src/themes/icmaa-imp/test/e2e/support/commands.ts
Due: none

#199546 Add missing translations (#304)
  src/themes/icmaa-imp/components/core/blocks/Category/PromoBanner.vue
  src/themes/icmaa-imp/components/core/blocks/MyAccount/MyAddresses.vue
  src/themes/icmaa-imp/resource/i18n/cs-CZ.csv
  src/themes/icmaa-imp/resource/i18n/en-US.csv
  src/themes/icmaa-imp/resource/i18n/es-ES.csv
  src/themes/icmaa-imp/resource/i18n/fi-FI.csv
  src/themes/icmaa-imp/resource/i18n/fr-FR.csv
  src/themes/icmaa-imp/resource/i18n/it-IT.csv
  src/themes/icmaa-imp/resource/i18n/nl-NL.csv
  src/themes/icmaa-imp/resource/i18n/pl-PL.csv
  src/themes/icmaa-imp/resource/i18n/pt-BR.csv
  src/themes/icmaa-imp/resource/i18n/sv-SE.csv
Due: none

fix i18n
  packages/commercetools/theme/nuxt.config.js
  packages/core/theme-module/theme/components/AppFooter.vue
  packages/core/theme-module/theme/lang/de.js
  packages/core/theme-module/theme/lang/en.js
  packages/core/theme-module/theme/pages/Category.vue
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
