Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Make parameters "changePassword" in "useUser" optional (#5943)
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5943.js
Due: none

chore: add #5935 changelog
  packages/core/docs/changelog/5935.js
Due: none

fix: Move setting selected filters logic to onSSR
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

Allow overriding createCart query
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

Add changelog
  packages/core/docs/changelog/5950.js
Due: none

Move changelog to proper folder
  packages/core/docs/commercetools/changelog/5950.js
Due: none

feat: Add setSelectedFilters method to onMounted
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

Fix currency internationalization
  packages/commercetools/api-client/__tests__/api/createCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart.spec.ts
  packages/commercetools/api-client/src/api/createCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/updateCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-api-client

chore: Displaying network errors via core middleware
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/theme/middleware.config.js
  packages/core/middleware/src/createServer.ts
  packages/core/middleware/src/logMiddlewareNetworkError.ts
Due: commercetools-api-client

feat: Add selectedFilters check
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

Update
  packages/commercetools/api-client/src/api/createMyOrderFromCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/getCart/defaultQuery.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
  packages/commercetools/api-client/src/api/getOrders/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/types.ts
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/context.js
  packages/core/nuxt-module/lib/plugins/e2e-testing.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
  packages/core/nuxt-module/lib/plugins/logger.js
  packages/core/nuxt-module/lib/plugins/ssr.js
Due: commercetools-api-client

Add changelogs
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/changelog/5953.js
  packages/core/docs/commercetools/changelog/5953.js
Due: none

Update
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
Due: none

Update README
  README.md
Due: none

fix use store factory
  packages/core/core/__tests__/factories/useStoreFactory.spec.ts
  packages/core/core/src/factories/useStoreFactory.ts
  packages/core/core/src/types.ts
Due: none

add CT api client methods
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/api/getStore/defaultQuery.ts
  packages/commercetools/api-client/src/api/getStore/index.ts
  packages/commercetools/api-client/src/api/getStores/defaultQuery.ts
  packages/commercetools/api-client/src/api/getStores/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/nuxt/defaultConfig.js
  packages/commercetools/composables/nuxt/plugin.js
Due: commercetools-api-client, commercetools-composables

nuxt config options added
  packages/commercetools/composables/nuxt/README.MD
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-composables

CT useStore composbale created
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/composables/src/useStore/index.ts
Due: commercetools-composables

fix getStores default query
  packages/commercetools/api-client/src/api/getStores/defaultQuery.ts
Due: commercetools-api-client

Update workflow with new envs, change auth method
  .github/workflows/deploy-storefrontcloud.yml
Due: none

Fix docker image namespace
  .github/workflows/deploy-storefrontcloud.yml
Due: none

draft
  packages/commercetools/api-client/src/api/getStores/defaultQuery.ts
  packages/commercetools/api-client/src/api/getStores/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/theme/middleware.config.js
Due: commercetools-api-client, commercetools-composables

useSearch
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useSearchFactory.ts
  packages/core/core/src/types.ts
Due: none

Refs #24606: update cart sync process to respect custom products
  core/modules/cart/helpers/createCartItemForUpdate.ts
  core/modules/cart/helpers/productChecksum.ts
  core/modules/cart/store/actions/mergeActions.ts
  core/modules/cart/store/actions/productActions.ts
  core/modules/cart/types/CartItem.ts
  core/modules/cart/types/Servertem.ts
  src/modules/budsies/store/actions.ts
Due: none

fix(ct-composables): unit tests
  packages/commercetools/composables/__tests__/getters/_createPrice.spec.ts
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/__tests__/useBilling/useBilling.spec.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useCategory/useCategory.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/__tests__/useShipping/useShipping.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUser/index.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
Due: commercetools-composables

fix
  packages/commercetools/composables/src/getters/_utils.ts
Due: commercetools-composables

Move Composition API section to separate doc file
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/composition-api.md
Due: none

Add links to API reference in Composables section
  packages/core/docs/.vuepress/styles/index.styl
  packages/core/docs/guide/composables.md
Due: none

Move Error Handling and Customizing GQL Queries sections to separate files
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/custom-graphql-queries.md
  packages/core/docs/guide/error-handling.md
Due: none

fix: Repeat setting selected filters logic in onSSR
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

changelog
  packages/core/docs/commercetools/changelog.md
Due: none

chore: updated mocks
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
Due: commercetools-composables

refactor
  packages/commercetools/theme/helpers/validators/phone.ts
Due: none

refactor
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/helpers/validators/phone.ts
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: none

chore: phone number just required
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: none

feat: phone validator with awesome-phonenumber
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  yarn.lock
Due: none

Fix typos and errors
  packages/core/docs/guide/composables.md
Due: none

feat: fix wrong prices after coupon
  CHANGELOG.md
  core/modules/cart/helpers/getProductPrice.ts
  core/modules/cart/helpers/index.ts
  core/modules/cart/test/unit/helpers/getProductPrice.spec.ts
Due: none

Refs #24606: keep custom product image after qty change in cart
  core/modules/cart/helpers/createCartItemForUpdate.ts
  core/modules/cart/store/actions/mergeActions.ts
  core/modules/cart/types/Servertem.ts
Due: none

Refs #24606: fix addons getter
  src/modules/budsies/store/getters.ts
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
