Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

update changelog
  CHANGELOG.md
Due: none

Retry for deployment
  .github/workflows/deploy-storefrontcloud.yml
Due: none

Added missing attributes
  packages/core/theme-module/theme/components/AppFooter.vue
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/BottomNavigation.vue
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Home.vue
  packages/core/theme-module/theme/pages/MyAccount.vue
  packages/core/theme-module/theme/pages/MyAccount/LoyaltyCard.vue
  packages/core/theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/core/theme-module/theme/pages/MyAccount/MyReviews.vue
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/theme-module/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/theme-module/theme/pages/Product.vue
  packages/core/theme-module/theme/pages/index.vue
Due: none

feat: unique attribute for sub category
  packages/core/theme-module/theme/pages/Category.vue
Due: none

Update deploy-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
Due: none

new config
  packages/commercetools/theme/pages/Category.vue
  packages/commercetools/theme/pages/Home.vue
  packages/commercetools/theme/plugins/commercetools-config.js
Due: none

fix: working on order review adjustmnts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
Due: none

feat: added attrs to the the filters
  packages/core/theme-module/theme/components/RelatedProducts.vue
  packages/core/theme-module/theme/pages/Category.vue
Due: none

build pricmis
  .github/workflows/deploy-storefrontcloud.yml
Due: none

fix: updated ui version
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  yarn.lock
Due: none

fix product page
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetDetails.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useCheckout/initFields.ts
  packages/commercetools/composables/src/useCheckout/shared.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware/checkout.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/pages/Checkout.vue
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/commercetools/theme/plugins/commercetools.js
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/theme-module/theme/components/CartSidebar.vue
Due: commercetools-api-client, commercetools-composables

checkout
  packages/commercetools/composables/src/useCheckout/createLoadDetails.ts
  packages/commercetools/composables/src/useCheckout/createLoadPaymentMethods.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPaymentMethod.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: commercetools-composables

feat: limited related products to 8
  packages/core/theme-module/theme/pages/Product.vue
Due: none

Forgot password support
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/theme-module/index.js
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/pages/NewPassword.vue
Due: none

revert config
  config/default.json
Due: none

Fixes password validation and shows a proper error when changing the password fails
  packages/core/theme-module/theme/pages/MyAccount/MyProfile.vue
Due: none

Hook up account personal details to existing apis.
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/theme-module/theme/pages/MyAccount.vue
Due: none

Implements order details
  packages/core/theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: none

4353: Negative price has doubled minus sign
  CHANGELOG.md
  core/filters/price.js
Due: none

feat(commercetools): add filters to useProduct
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/helpers/internals/getFiltersFromProductsAttributes.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/tsconfig.base.json
Due: commercetools-composables

feat(commercetools): handle filters in API client
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

chore(commercetools): fix getting value of enumed attributes
  packages/commercetools/composables/__tests__/getters/_formatAttributeList.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/theme/components/Filters.vue
Due: commercetools-composables

chore(theme): restore localePath in category page
  packages/core/theme-module/theme/pages/Category.vue
Due: none

chore: CR fixes
  packages/commercetools/theme/helpers/filters/applyFiltersFromUrl.js
  packages/commercetools/theme/helpers/filters/getFiltersForUrl.js
  packages/core/theme-module/theme/helpers/filters/applyFiltersFromUrl.js
  packages/core/theme-module/theme/helpers/filters/getFiltersForUrl.js
  packages/core/theme-module/theme/helpers/filters/index.js
  packages/core/theme-module/theme/pages/Category.vue
Due: none

test(commercetools): add tests for filters
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/composables/__tests__/helpers/getFiltersFromProductsAttributes.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
Due: commercetools-api-client, commercetools-composables

chore(commercetools): mark filters done in feature list
  packages/core/docs/commercetools/feature-list.md
Due: none

feat(theme): bind filters to UI
  packages/commercetools/theme/components/Filters.vue
  packages/core/theme-module/theme/components/Filters.vue
  packages/core/theme-module/theme/pages/Category.vue
Due: none

chore: CR fixes
  packages/commercetools/composables/src/helpers/internals/getFiltersFromProductsAttributes.ts
  packages/commercetools/theme/components/Filters.vue
  packages/commercetools/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/theme-module/theme/helpers/filters/applyFiltersFromUrl.js
  packages/core/theme-module/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/theme-module/theme/helpers/filters/index.js
  packages/core/theme-module/theme/pages/Category.vue
Due: commercetools-composables

move helpers to product-next
  core/lib/search.ts
  core/modules/catalog-next/helpers/index.ts
  core/modules/catalog-next/types/CustomOption.ts
  core/modules/catalog-next/types/Product.ts
  core/modules/catalog-next/types/ProductState.ts
  core/modules/catalog/store/product/actions.ts
  core/types/search/SearchRequest.ts
Due: none

add tests
  packages/commercetools/api-client/__tests__/api/updateCart/placeOrder.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/setShippingMethod.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateShippingDetails.spec.ts
  packages/commercetools/api-client/src/api/placeOrder/index.ts
  packages/commercetools/api-client/src/api/updateMyCustomer/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateMyCustomer/index.ts
  packages/commercetools/api-client/src/helpers/myCustomerActions/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/useCheckout/shared.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/index.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

added **/cypress/plugins/index.js to ignore
  .eslintignore
Due: none

end-to-end tests of critical path for vsf next
  .eslintignore
  cypress.json
  cypress/fixtures/example.json
  cypress/fixtures/profile.json
  cypress/fixtures/users.json
  cypress/integration/cart.js
  cypress/integration/category-page.js
  cypress/integration/login-path.js
  cypress/integration/my-account.js
  cypress/integration/navigation.js
  cypress/integration/place-an-order.js
  cypress/integration/product-page.js
  cypress/plugins/index.js
  cypress/support/commands.js
  cypress/support/index.js
  package.json
Due: none

code review
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createSetDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
  packages/commercetools/composables/src/useCheckout/initFields.ts
  packages/commercetools/composables/src/useCheckout/shared.ts
  packages/commercetools/theme/middleware/checkout.js
  packages/commercetools/theme/pages/Checkout.vue
Due: commercetools-api-client, commercetools-composables

replacing the selector
  cypress/integration/register-path.js
Due: none

add loading state
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetBillingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/composables/src/useCheckout/shared.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: commercetools-composables

add validation
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware/checkout.js
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: commercetools-composables

add typing for asyncData so it does not throw an typescript error in vue components
  core/scripts/utils/ssr-renderer.ts
  core/scripts/utils/types/index.ts
  core/types/asyncData.d.ts
Due: none

feat(ayc): initial ayc docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/aboutyou/README.md
  packages/core/docs/aboutyou/api-client.md
  packages/core/docs/aboutyou/composables.md
  packages/core/docs/aboutyou/feature-list.md
  packages/core/docs/aboutyou/getting-started.md
  packages/core/docs/aboutyou/use-product.md
Due: none

chore(theme): add categories accordion on mobile
  packages/commercetools/theme/components/Filters.vue
  packages/core/theme-module/theme/components/Filters.vue
  packages/core/theme-module/theme/pages/Category.vue
Due: none

chore(theme): adjust paination logic to new component
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/theme-module/theme/layouts/default.vue
  packages/core/theme-module/theme/pages/Category.vue
  yarn.lock
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
