Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

chore: update cart quantity custom query
  packages/commercetools/api-client/src/api/updateCartQuantity/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client

chore: remove coupon custom query
  packages/commercetools/api-client/src/api/removeCartCoupon/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client

docs(cko): removed a few legacy sentences
  packages/checkout-com/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

corrext release notes
  packages/core/docs/contributing/changelog.md
Due: none

remove yarn error report
  packages/commercetools/theme/report.20200907.142855.26448.0.001.json
Due: none

[CT] Fix updateUser method
  .gitignore
  packages/commercetools/api-client/src/api/customerUpdateMe/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/helpers/customer/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  yarn-error.log
Due: commercetools-api-client, commercetools-composables

Pass only productId in review "search" method
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn.lock
Due: none

update yarn lock
  packages/core/nuxt-module/yarn.lock
  yarn.lock
Due: none

chore: apply coupon custom query
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/applyCartCoupon/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

chore: removed prettier
  .editorconfig
  package.json
Due: none

revert: eslint config
  .eslintrc.json
  yarn-error.log
  yarn.lock
Due: none

Add 'useReview' docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/core/getting-started.md
  packages/core/docs/core/use-product.md
  packages/core/docs/core/use-review.md
Due: none

Reversed bump of packages' versions
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/about-you/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/core/package.json
Due: commercetools-api-client, commercetools-composables

Bumped versions
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/about-you/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/core/package.json
Due: commercetools-api-client, commercetools-composables

Fixed unit test in ayc composables
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
Due: none

AYC useCart generic update and tests fix
  packages/about-you/composables/src/composables/getters/cartGetters.ts
  packages/about-you/composables/src/composables/useCart/factoryParams.ts
  packages/about-you/composables/src/composables/useCart/index.ts
Due: none

Persistent coupon with new approach
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

Fixed tests
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
Due: commercetools-composables

Bumped versions, updated changelogs & shopify update
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/about-you/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/shopify/changelog.md
  packages/shopify/composables/src/composables/getters/cartGetters.ts
  packages/shopify/composables/src/composables/useCart/index.ts
Due: commercetools-api-client, commercetools-composables

Added value field to AgnosticCoupon
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

chore: unbumped versions of packages as it should be in a separated pr
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/about-you/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-api-client, commercetools-composables

chore: cart custom query resolver
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

chore: typo
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

chore: cart custom query resolver
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
Due: commercetools-api-client, commercetools-composables

refactor: getCouponFromCart helper under useCart & cart getter
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/helpers/internals/getCouponFromCart.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

fix: resolving current cart params
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
Due: commercetools-api-client, commercetools-composables

fix: wrong param value for getMe method
  packages/commercetools/composables/src/useCart/currentCart.ts
Due: commercetools-composables

revert: cart custom query fn types
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

chore: core useCartFactory tests
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/types.ts
Due: none

test: ct api client
  packages/commercetools/api-client/__tests__/api/getMe/getMe.spec.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

chore: use content factory
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/types.ts
Due: none

Update PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE/PULL_REQUEST_TEMPLATE.md
Due: none

Update packages/core/docs/core/use-review.md
  packages/core/docs/core/use-review.md
Due: none

Update changelog and fix helpers naming
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/helpers/customer/index.ts
  packages/core/docs/commercetools/changelog.md
Due: commercetools-api-client

chore(coupon): better args names, getting few coupons, selective remove
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/helpers/internals/getCouponsFromCart.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

fix(cko): building urls with channel's data in the proxy
  packages/checkout-com/nuxt/proxyMiddleware.js
Due: none

feat(cko): channels support
  packages/checkout-com/nuxt/index.js
  packages/checkout-com/nuxt/plugin.js
  packages/checkout-com/nuxt/proxyMiddleware.js
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
Due: none
