Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

chore: typo
  packages/core/core/__tests__/factories/useContentFactory.spec.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

Remove gql export
  packages/commercetools/api-client/src/index.ts
Due: commercetools-api-client

Change path to useReview
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useReview/mock.ts
Due: commercetools-composables

Update custom query docs
  packages/core/docs/commercetools/composables.md
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/core/use-review.md
Due: none

Update docs
  packages/core/docs/commercetools/composables.md
Due: none

chore: custom quert customizable where param
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
Due: commercetools-api-client

Fix tests
  packages/core/core/__tests__/factories/useReviewFactory.spec.ts
Due: none

changed the base of getting images
  config/default.json
Due: none

Prepublish command fix
  packages/core/cli/package.json
Due: none

new docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/README.md
  packages/core/docs/get-started/api-design-philosophy.md
  packages/core/docs/get-started/themes.md
  packages/core/docs/integrations/README.md
  packages/core/docs/vsf-core/README.md
  packages/core/docs/vsf-core/faceting.md
  packages/core/docs/vsf-core/i18n.md
  packages/core/docs/vsf-core/server-side-rendering.md
Due: none

creating user session token on-demand
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
  packages/commercetools/api-client/src/helpers/createCommerceToolsLink/index.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware/checkout.js
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: commercetools-api-client, commercetools-composables

creating user session token on-demand
  packages/commercetools/api-client/src/api/getCart/index.ts
Due: commercetools-api-client

creating user session token on-demand
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
  packages/commercetools/api-client/src/helpers/token/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: commercetools-api-client, commercetools-composables

revert: category page use content call
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

fix(cli): using path.join and nuxt-theme as dep not devDev
  packages/core/cli/package.json
  packages/core/cli/src/index.ts
Due: none

fix tests
  packages/commercetools/api-client/__tests__/helpers/createCommerceToolsLink.spec.ts
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/src/getters/reviewGetters.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
Due: commercetools-api-client, commercetools-composables

creating user session token on-demand
  packages/core/docs/commercetools/changelog.md
Due: none

creating user session token on-demand
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

Improve typings
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUserOrders/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

chore(cko): tokenized card in ref, not in localStorage
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/useCkoCard.ts
Due: none

Updated the docs to fix some typos (#4920)
  docs/guide/basics/configuration.md
Due: none

Fixed filterUnavailableVariants
  core/modules/catalog/helpers/stock/filterOutUnavailableVariants.ts
Due: none

Update CHANGELOG
  CHANGELOG.md
Due: none

Fix types for CT api-client and composables packages
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/helpers/internals/getFiltersFromProductsAttributes.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-api-client, commercetools-composables

Fix types for getMe api
  packages/commercetools/api-client/src/api/getMe/index.ts
Due: commercetools-api-client

code review
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Due: commercetools-composables

Removed usused variables
  packages/shopify/theme/helpers/category/getCategorySearchParameters.js
  packages/shopify/theme/pages/Category.vue
Due: none

Update changelog
  packages/core/docs/commercetools/changelog.md
Due: none

Revert changes in nuxt.config.js
  packages/commercetools/theme/nuxt.config.js
Due: none

Fix types in tests
  packages/commercetools/api-client/__tests__/api/getMyOrders/getMyOrders.spec.ts
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
Due: commercetools-api-client

code review
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
Due: commercetools-api-client

code review
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
Due: commercetools-api-client

Add complex sort options to `CategoryService` class to be able to add a sorting in `storefront-query-builder` style
  core/data-resolver/CategoryService.ts
  core/data-resolver/types/DataResolver.d.ts
Due: none

Improve `getCategoryByParams` as it will return the first value of `state.categoriesMap` if no route-params are set
  core/modules/catalog-next/store/category/getters.ts
Due: none

Bugfix for type error in `omitSelectedVariantFields` return value
  core/modules/catalog/helpers/variant/omitSelectedVariantFields.ts
Due: none

Fix failing tests
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
Due: commercetools-composables

code review
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: none

code review
  packages/core/docs/contributing/changelog.md
Due: none

Update packages/core/docs/contributing/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

docs
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/testLogger.js
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/use-cart.md
  packages/core/docs/general/logging.md
  packages/core/nuxt-module/lib/module.js
Due: none
