Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Fix: useCart
  packages/core/docs/commercetools/use-cart.md
Due: none

generated api client reference
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client-reference/modules/addtocart.md
  packages/core/docs/commercetools/api-client-reference/modules/applycartcoupon.md
  packages/core/docs/commercetools/api-client-reference/modules/createcart.md
  packages/core/docs/commercetools/api-client-reference/modules/createmyorderfromcart.md
  packages/core/docs/commercetools/api-client-reference/modules/customerchangemypassword.md
  packages/core/docs/commercetools/api-client-reference/modules/customersignmein.md
  packages/core/docs/commercetools/api-client-reference/modules/customersignmeup.md
  packages/core/docs/commercetools/api-client-reference/modules/customersignout.md
  packages/core/docs/commercetools/api-client-reference/modules/customerupdateme.md
  packages/core/docs/commercetools/api-client-reference/modules/getcart.md
  packages/core/docs/commercetools/api-client-reference/modules/getcategory.md
  packages/core/docs/commercetools/api-client-reference/modules/getme.md
  packages/core/docs/commercetools/api-client-reference/modules/getorders.md
  packages/core/docs/commercetools/api-client-reference/modules/getproduct.md
  packages/core/docs/commercetools/api-client-reference/modules/getshippingmethods.md
  packages/core/docs/commercetools/api-client-reference/modules/isguest.md
  packages/core/docs/commercetools/api-client-reference/modules/removecartcoupon.md
  packages/core/docs/commercetools/api-client-reference/modules/removefromcart.md
  packages/core/docs/commercetools/api-client-reference/modules/updatecart.md
  packages/core/docs/commercetools/api-client-reference/modules/updatecartquantity.md
  packages/core/docs/commercetools/api-client-reference/modules/updateshippingdetails.md
  packages/core/docs/package.json
  packages/core/docs/scripts/generateCtComposablesRef.js
  packages/core/docs/typedoc-vsf-theme/templates/reflection.hbs
Due: none

useCart api composables
  packages/core/docs/commercetools/use-cart.md
  packages/core/docs/commercetools/use-product.md
Due: none

fix: useProduct
  packages/core/docs/commercetools/use-product.md
Due: none

fix: replaced comma
  packages/core/docs/commercetools/use-category.md
Due: none

auto gen api ref docs simple config
  packages/core/docs/.vuepress/config.js
  packages/core/docs/package.json
  packages/core/docs/scripts/generateCtApi.js
  packages/core/docs/typedoc.json
Due: none

fix
  packages/core/docs/commercetools/use-user-billing.md
Due: none

fix: missing slug parameter
  packages/core/docs/commercetools/use-category.md
Due: none

chore: removed unnecessary concat-md
  packages/core/docs/.gitignore
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/commercetools/api-client-reference/modules.md
  packages/core/docs/commercetools/api-composables-reference.md
  packages/core/docs/package.json
  packages/core/docs/typedoc.json
Due: none

update typings
  package.json
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/applyCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/api/updateCartQuantity/index.ts
  packages/commercetools/api-client/src/api/updateShippingDetails/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/context.d.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/types.ts
  yarn.lock
Due: commercetools-api-client, commercetools-composables

Add useMakeOrder
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/useMakeOrder/index.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useMakeOrder/index.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useMakeOrderFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
Due: commercetools-composables

Rename "useUserOrders" to "useUserOrder"
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/useUserOrder/index.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
  packages/core/core/__tests__/factories/useUserOrderFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useUserOrderFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/composables.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/contributing/api-design-philosophy.md
  packages/core/docs/core/composables.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/migrate/integrators-2.2.0.md
  packages/core/docs/migrate/projects-2.2.0.md
  packages/core/docs/shopify/use-user-order.md
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: commercetools-composables

update typings
  .eslintrc.json
  package.json
  packages/about-you/composables/src/types/index.ts
  packages/commercetools/api-client/__tests__/helpers/commercetoolsLink/linkHandlers.spec.ts
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/core/core/src/utils/shared/index.ts
  yarn.lock
Due: commercetools-api-client, commercetools-composables

update typings
  .eslintrc.json
Due: none

Update changelog
  packages/core/docs/changelog/5584.js
Due: none

Undo some changes in docs
  packages/core/docs/migrate/integrators-2.2.0.md
  packages/core/docs/migrate/projects-2.2.0.md
Due: none

caches
  packages/core/docs/advanced/ssr-cache.md
  packages/core/docs/integrations/redis-cache.md
Due: none

update typings
  packages/core/core/__tests__/setup.ts
Due: none

Revert changes
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: none

fix linter
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/src/getters/wishlistGetters.ts
  packages/commercetools/composables/src/useShipping/index.ts
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/core/core/__tests__/factories/_mountComposable.ts
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/utils/nuxt/_proxyUtils.ts
  packages/core/nuxt-theme-module/theme/composables/useUiNotification/index.ts
Due: commercetools-api-client, commercetools-composables

Update Cache library (#5524)
  packages/core/cache/CHANGELOG.md
  packages/core/cache/__tests__/defaultHandler.spec.ts
  packages/core/cache/__tests__/nuxtModule.spec.ts
  packages/core/cache/__tests__/useCache.spec.ts
  packages/core/cache/defaultHandler/index.js
  packages/core/cache/jest.config.js
  packages/core/cache/nuxt/helpers.js
  packages/core/cache/nuxt/index.js
  packages/core/cache/nuxt/plugin.js
  packages/core/cache/package.json
  packages/core/cache/src/composables/useCache.ts
  packages/core/cache/src/index.ts
  packages/core/cache/src/types.ts
  packages/core/cache/tsconfig.json
  packages/core/docs/changelog/5524.js
  packages/core/jest.config.js
  packages/jest.base.config.js
  packages/tsconfig.base.json
  yarn.lock
Due: none

Update packages/core/docs/commercetools/use-facet.md
  packages/core/docs/commercetools/use-facet.md
Due: none

Update packages/core/docs/commercetools/use-review.md
  packages/core/docs/commercetools/use-review.md
Due: none

Update packages/core/docs/commercetools/use-user-shipping.md
  packages/core/docs/commercetools/use-user-shipping.md
Due: none

Update packages/core/docs/commercetools/use-user-billing.md
  packages/core/docs/commercetools/use-user-billing.md
Due: none

Update packages/core/docs/commercetools/use-wishlist.md
  packages/core/docs/commercetools/use-wishlist.md
Due: none

chore: added missing useUserOrders Composable
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/use-user-orders.md
Due: none

Revert change
  packages/commercetools/api-client/rollup.config.js
  packages/commercetools/composables/package.json
Due: commercetools-api-client, commercetools-composables

Fix
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
Due: commercetools-api-client, commercetools-composables

Add "useMakeOrder" and rename "useUserOrders" to "useUserOrder" (#5584)
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/useMakeOrder/index.ts
  packages/boilerplate/composables/src/useUserOrder/index.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useMakeOrder/index.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/core/core/__tests__/factories/useUserOrderFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useMakeOrderFactory.ts
  packages/core/core/src/factories/useUserOrderFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/5584.js
  packages/core/docs/commercetools/composables.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/contributing/api-design-philosophy.md
  packages/core/docs/core/composables.md
  packages/core/docs/general/key-concepts.md
  packages/core/docs/shopify/use-user-order.md
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: commercetools-composables

Fix "dev" mode in CT api-client (#5581)
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup-main.config.js
  packages/commercetools/api-client/rollup.config.js
Due: commercetools-api-client

Update
  packages/core/docs/commercetools/use-facet.md
Due: none

chore: rename "useUserOrders" to "useUserOrder"
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/use-user-order.md
Due: none

chore: fixes for theme
  packages/core/docs/commercetools/api-client-reference.md
  packages/core/docs/package.json
  packages/core/docs/typedoc-vsf-theme/partials/member.hbs
  packages/core/docs/typedoc-vsf-theme/partials/title.hbs
Due: none

refactor: prop hooks
  packages/commercetools/theme/components/Checkout/VsfShippingProvider.vue
Due: none

chore: happy path
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/components/Checkout/ShippingProvider.vue
  packages/commercetools/theme/components/Checkout/ShippingProviderUtils.ts
  packages/commercetools/theme/pages/CheckoutV2/Shipping.vue
Due: none

chore: showin shipping methods
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/components/Checkout/ShippingProvider.vue
  packages/commercetools/theme/components/Checkout/ShippingProviderUtils.ts
Due: none

refactor: VsfShippingProvider inside ShippingForm
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/pages/CheckoutV2/Shipping.vue
Due: none

refactor: types
  packages/commercetools/theme/components/Checkout/ShippingProviderUtils.ts
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
