Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

refactor(commercetools:api-client): change the import of the createCommerceToolsConnection to graphqlFactory.ts
  packages/commercetools/api-client/src/index.server.ts
Due: commercetools-api-client

fix(commercetools:api-client): exported only the usable function from the commercetools helpers
  packages/commercetools/api-client/src/index.ts
Due: commercetools-api-client

docs(core:docs): added changelog for #6066 PR
  packages/core/docs/commercetools/changelog/6066.js
Due: none

Add keep-alive and props to <nuxt /> component
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Due: none

Add name to Category page component
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

fix: remove hero buttons
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

Hopefully final update for the build command
  package.json
Due: none

Add condition for null values
  packages/core/middleware/src/helpers.ts
Due: none

fix: remove mobile banner app
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

fix: links for banner buttons
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

fix: retry logic of CT updateCart + minor refactoring
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

chore: add changelog info
  packages/core/docs/commercetools/changelog/6050.js
Due: none

chore: ct api client version bump
  packages/commercetools/api-client/package.json
Due: commercetools-api-client

Switch places between state and country inputs in shipping form
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: none

feat: implement mobile menu
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/BottomNavigation.vue
  packages/core/nuxt-theme-module/theme/components/HeaderNavigation.vue
Due: none

chore(commercetools:theme): updated theme package description
  packages/commercetools/theme/package.json
Due: none

chore(boilerplate:theme): added webpack chunking rules
  packages/boilerplate/theme/nuxt.config.js
Due: none

chore(boilerplate:api-client): updated rollup.config.js to a better structure
  packages/boilerplate/api-client/package.json
  packages/boilerplate/api-client/rollup.config.js
  packages/boilerplate/api-client/tsconfig.json
Due: none

chore(boilerplate): updated rollup.config.js to a better structure
  packages/boilerplate/composables/package.json
  packages/boilerplate/rollup.base.config.js
Due: none

chore(commercetools:api-client): renamed graphqlFactory.ts to createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/index.server.ts
Due: commercetools-api-client

chore(commercetools:api-client): updated rollup.config.js to match the new rollup.base.config.js
  packages/commercetools/api-client/rollup.config.js
  packages/commercetools/api-client/tsconfig.json
Due: commercetools-api-client

chore(commercetolls:composables): updated rollup.config.js to a better structure
  packages/commercetools/composables/rollup.config.js
  packages/commercetools/composables/tsconfig.json
Due: commercetools-composables

chore: updated rollup.base.config.js to add terser and other improvements
  packages/rollup.base.config.js
Due: none

chore: test update
  packages/core/core/__tests__/composables/useUiState.spec.ts
  packages/core/nuxt-theme-module/theme/composables/useUiState.ts
Due: none

feat: add real email in my profile password changing
  packages/commercetools/theme/pages/MyAccount/MyProfile.vue
Due: none

feat: update footer in docs
  docs/README.md
Due: none

feat: update api-extractor
  packages/core/docs/package.json
Due: none

chore: changelog
  packages/core/docs/changelog/6077.js
  packages/core/nuxt-theme-module/theme/components/HeaderNavigation.vue
Due: none

chore: update yarn.lock
  yarn.lock
Due: none

patch: conditional shippingInfo removal
  packages/commercetools/composables/src/useShipping/index.ts
  packages/core/docs/commercetools/composables/use-shipping.md
Due: commercetools-composables

chore: update tagline
  docs/README.md
Due: none

docs: updated changelog
  packages/core/docs/changelog/6068.js
Due: none

docs: updated changelog
  packages/core/docs/changelog/6069.js
Due: none

fix: links for banner buttons
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/changelog/6070.js
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

fix: buttons without underline
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

docs: updated changelog
  packages/core/docs/commercetools/changelog/6070.js
Due: none

Update
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/theme/layouts/Layout.vue
Due: none

Add GTM to docs (#6062)
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/theme/index.js
  packages/core/docs/.vuepress/theme/layouts/Layout.vue
Due: none

chore: updated tsconfigs to ES2017 support
  packages/boilerplate/api-client/tsconfig.json
  packages/boilerplate/theme/tsconfig.json
  packages/boilerplate/tsconfig.base.json
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/tsconfig.json
  packages/commercetools/theme/tsconfig.json
Due: commercetools-api-client, commercetools-composables

chore: add info to changelog
  packages/core/docs/commercetools/changelog/6079.js
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
