Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

bug-#5537: create newsletterGetters in boilerplate
  packages/boilerplate/composables/src/getters/index.ts
  packages/boilerplate/composables/src/getters/newsletterGetters.ts
Due: none

bug-#5537: create newsletterGetters for ct
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/getters/newsletterGetters.ts
Due: commercetools-composables

bug-#5537: adjust NewsletterForm to use props
  packages/commercetools/theme/components/MyAccount/NewsletterForm.vue
Due: none

bug-#5537: extend MyNewsletter logic
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
Due: none

bug-#5537: remove unused newsletterGetters
  packages/boilerplate/composables/src/getters/index.ts
  packages/boilerplate/composables/src/getters/newsletterGetters.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/getters/newsletterGetters.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
Due: commercetools-composables

bug-#5537: adjust return type for updateNewsletter
  packages/core/core/src/factories/useNewsletterFactory.ts
  packages/core/core/src/types.ts
Due: none

Fix error in SearchResults.vue and update Boilerplate build command (#5596)
  packages/boilerplate/api-client/package.json
  packages/boilerplate/api-client/rollup-main.config.js
  packages/boilerplate/api-client/rollup.config.js
  packages/core/docs/changelog/5566.js
  packages/core/nuxt-module/lib/plugins/composition-api.js
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
  yarn.lock
Due: none

bug-#5537: add guard clause for updateNewsletter
  packages/boilerplate/composables/src/useNewsletter/index.ts
  packages/commercetools/composables/src/useNewsletter/index.ts
Due: commercetools-composables

bug-#5537: add changelog for update newsletter
  packages/core/docs/changelog/5537.js
Due: none

fix: remove double space
  packages/core/docs/changelog/5514.js
Due: none

Update useFacet docs
  packages/core/docs/commercetools/use-facet.md
Due: none

bug-#5537: write unit tests for useNewsletter
  packages/commercetools/composables/__tests__/useNewsletter/useNewsletter.spec.ts
  packages/core/core/__tests__/factories/useNewsletterFactory.spec.ts
Due: commercetools-composables

Update
  packages/core/docs/commercetools/use-facet.md
Due: none

fix: cartHelpers tests
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
Due: commercetools-composables

docs(cms): copy
  packages/core/docs/integrate/cms.md
Due: none

fix: after CR fixes
  packages/core/docs/guide/cart-and-wishlist.md
Due: none

chore(release): version bump
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cli/package.json
  packages/core/core/package.json
  packages/core/docs/integrate/cms.md
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-api-client, commercetools-composables

chore(release): ct version bump
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-api-client, commercetools-composables

chore(release): ct version bump
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-composables

Update packages/core/docs/guide/cart-and-wishlist.md
  packages/core/docs/guide/cart-and-wishlist.md
Due: none

fix: fix for deprecated description field
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/theme/components/Checkout/VsfShippingProvider.vue
Due: commercetools-api-client

chore: changelog
  packages/core/docs/changelog/5598.js
Due: none

docs(cms): render content update
  packages/core/docs/integrate/cms.md
Due: none

fix: changing descriptions and examples after CR
  packages/core/docs/guide/cart-and-wishlist.md
Due: none

Add Migration Guide for 2.3.0-rc.1
  packages/core/docs/.vuepress/config.js
  packages/core/docs/changelog/5507.js
  packages/core/docs/changelog/5530.js
  packages/core/docs/migrate/2.1.0-rc.1/integrators.md
  packages/core/docs/migrate/2.1.0-rc.1/overview.md
  packages/core/docs/migrate/2.1.0-rc.1/projects.md
  packages/core/docs/migrate/2.2.0/integrators.md
  packages/core/docs/migrate/2.2.0/overview.md
  packages/core/docs/migrate/2.2.0/projects.md
  packages/core/docs/migrate/2.3.0-rc.1/integrators.md
  packages/core/docs/migrate/2.3.0-rc.1/overview.md
  packages/core/docs/migrate/index.md
Due: none

chore: shipping & billing docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/composables/use-billing.md
  packages/core/docs/composables/use-shipping.md
Due: none

fix: useContent typo fix
  packages/core/docs/composables/use-content.md
Due: none

feat: remove about you cloud scripts
  package.json
Due: none

feat: remove about you cloud semantic
  .github/semantic.yml
Due: none

feat: remove remaining about you cloud references
  .eslintignore
  .github/workflows/test.yml
Due: none

docs-#5608: add .html to links
  packages/core/docs/README.md
  packages/core/docs/general/getting-started.md
Due: none

Update
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/rollup.config.js
  packages/core/docs/.vuepress/config.js
  packages/core/docs/migrate/2.3.0-rc.1/commercetools.md
  packages/core/docs/migrate/2.3.0-rc.1/integrators.md
  packages/core/docs/migrate/2.3.0-rc.1/overview.md
Due: commercetools-api-client

Update packages/core/docs/migrate/2.3.0-rc.1/integrators.md
  packages/core/docs/migrate/2.3.0-rc.1/integrators.md
Due: none

Fix typo
  packages/core/docs/migrate/2.3.0-rc.1/overview.md
Due: none

Update
  packages/core/docs/migrate/2.3.0-rc.1/integrators.md
  packages/core/docs/migrate/2.3.0-rc.1/overview.md
Due: none

docs: fix examples in cart and wishlist
  packages/core/docs/guide/cart-and-wishlist.md
Due: none

docs: fix cart and wishlist and vuepress config
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/cart-and-wishlist.md
Due: none
