Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

travis cache
  .travis.yml
Due: none

chore: #4763 typings
  packages/core/core/src/types.ts
Due: none

Solve problem of email address with symbols
  core/modules/newsletter/mixins/Subscribe.ts
  core/modules/newsletter/mixins/SubscriptionStatus.ts
  core/modules/newsletter/mixins/Unsubscribe.ts
Due: none

Update changelog
  CHANGELOG.md
Due: none

chore: #4763 resolving custom query variables
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
Due: commercetools-api-client

fix: #4763 passing where variable
  packages/commercetools/api-client/src/helpers/search/index.ts
Due: commercetools-api-client

bump coverage
  packages/commercetools/api-client/__tests__/api/updateCart/updateShippingDetails.spec.ts
  packages/commercetools/api-client/__tests__/helpers/actions/updateShippingDetails.spec.ts
  packages/commercetools/api-client/__tests__/helpers/createCommerceToolsLink.spec.ts
Due: commercetools-api-client

chore: #4763 passing default query and variables
  packages/commercetools/api-client/src/api/getProduct/index.ts
Due: commercetools-api-client

[feat] product details + pagination (WIP)
  packages/salesforce-cc-poc/api-client/src/api/getCategory/index.ts
  packages/salesforce-cc-poc/api-client/src/api/getProduct/defaultProductDetailsQuery.ts
  packages/salesforce-cc-poc/api-client/src/api/getProduct/defaultProductSearchQuery.ts
  packages/salesforce-cc-poc/api-client/src/api/getProduct/index.ts
  packages/salesforce-cc-poc/api-client/src/types.ts
  packages/salesforce-cc-poc/composables/src/composables/getters/categoryGetters.ts
  packages/salesforce-cc-poc/composables/src/composables/getters/productGetters.ts
  packages/salesforce-cc-poc/composables/src/composables/useProduct/index.ts
  packages/salesforce-cc-poc/theme/pages/Product.vue
Due: none

[chore] pagination parameters fixed
  packages/salesforce-cc-poc/api-client/src/api/getProduct/defaultProductSearchQuery.ts
  packages/salesforce-cc-poc/api-client/src/api/getProduct/index.ts
Due: none

fix: 4695 - refresh categoryMappedFilters after loading attributes
  core/modules/catalog-next/store/category/actions.ts
  core/modules/catalog-next/store/category/getters.ts
Due: none

update changelog
  CHANGELOG.md
Due: none

Move changelog to 1.12.3 section
  CHANGELOG.md
Due: none

Updated
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-api-client, commercetools-composables

New lock after conflict
  yarn.lock
Due: none

Card configuration params & unit tests fix
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/useCkoCard.ts
Due: none

params -> cardParams
  packages/checkout-com/src/useCkoCard.ts
Due: none

Success_url, failure_url & secure3d & readme update select -> selected
  packages/checkout-com/README.md
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
Due: none

fix: shipping methods query fragment
  packages/commercetools/api-client/src/fragments/index.ts
Due: commercetools-api-client

New packages versions
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-api-client, commercetools-composables

[chore] eslint warnings fixed
  packages/salesforce-cc-poc/composables/src/composables/getters/productGetters.ts
  packages/salesforce-cc-poc/theme/pages/Product.vue
Due: none

Paypal MVP
  packages/checkout-com/src/helpers.ts
  packages/checkout-com/src/useCko.ts
  packages/checkout-com/src/useCkoCard.ts
  packages/checkout-com/src/useCkoPaypal.ts
Due: none

Got rid of legacy method
  packages/checkout-com/src/helpers.ts
Due: none

[feat] AddToCart mockup
  packages/salesforce-cc-poc/api-client/src/types.ts
  packages/salesforce-cc-poc/composables/src/composables/getters/cartGetters.ts
  packages/salesforce-cc-poc/composables/src/composables/getters/productGetters.ts
  packages/salesforce-cc-poc/composables/src/composables/useCart/index.ts
  packages/salesforce-cc-poc/composables/src/types/index.ts
  packages/salesforce-cc-poc/theme/pages/Product.vue
Due: none

[chore] logs removed
  packages/salesforce-cc-poc/api-client/src/api/getCategory/index.ts
  packages/salesforce-cc-poc/api-client/src/api/getProduct/index.ts
  packages/salesforce-cc-poc/composables/src/composables/useProduct/index.ts
Due: none

[chore] eslint fixes
  packages/salesforce-cc-poc/composables/src/composables/getters/productGetters.ts
Due: none

[chore] eslint fixes, console logs removed
  packages/salesforce-cc-poc/api-client/src/helpers/normalizeCategoryId.ts
  packages/salesforce-cc-poc/composables/src/composables/useProduct/index.ts
Due: none

[chore] minor fixes to productgetters
  packages/salesforce-cc-poc/composables/src/composables/getters/productGetters.ts
Due: none

Readme update
  packages/checkout-com/README.md
  yarn-error.log
Due: none

.styles -> .style
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/useCkoCard.ts
Due: none

Updated existing tests
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/__tests__/payment.spec.ts
  packages/checkout-com/src/configuration.ts
Due: none

Test for helpers
  packages/checkout-com/__tests__/helpers.spec.ts
Due: none

Tests for paypal
  packages/checkout-com/__tests__/setup.ts
  packages/checkout-com/__tests__/useCkoPaypal.spec.ts
  packages/checkout-com/jest.config.js
Due: none

CkoCard unit tests
  packages/checkout-com/__tests__/useCkoCard.spec.ts
  packages/checkout-com/src/useCkoCard.ts
Due: none

chore: #4763 core api typings; after merge fixes
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/composables/yarn-error.log
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

chore: #4763 add missing Search intreface
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/composables/yarn-error.log
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

[chore] stabilization fixes for product loading
  packages/salesforce-cc-poc/composables/src/composables/getters/productGetters.ts
  packages/salesforce-cc-poc/composables/src/composables/useProduct/index.ts
  packages/salesforce-cc-poc/theme/pages/Category.vue
  packages/salesforce-cc-poc/theme/pages/Product.vue
Due: none

Writing tests for useCko
  packages/checkout-com/__tests__/useCko.spec.ts
  packages/checkout-com/src/useCko.ts
Due: none

[chore] stabilization fixes
  packages/salesforce-cc-poc/composables/src/composables/useCart/index.ts
  packages/salesforce-cc-poc/theme/pages/Category.vue
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
