Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Update the docs after 2.4 release (#6217)
  packages/core/docs/general/installation.md
  packages/core/docs/integrate/integration-guide.md
Due: none

tests(e2e): add e2e tests for MyAccount
  packages/commercetools/theme/components/MyAccount/PasswordResetForm.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/tests/e2e/api/requests.ts
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-my-account.json
  packages/commercetools/theme/tests/e2e/integration/e2e-my-account.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-login.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-user-registration.spec.ts
  packages/commercetools/theme/tests/e2e/pages/my-account.ts
  packages/commercetools/theme/tests/e2e/utils/network.ts
Due: none

#4782 use omit to exclude product attribute
  core/pages/Checkout.js
Due: none

#4782 update changelog
  CHANGELOG.md
Due: none

#4782 add upgrade note for checkout payload optimization
  docs/guide/upgrade-notes/README.md
Due: none

tests(e2e): add email assertion on Change Password tab
  packages/commercetools/theme/pages/MyAccount/MyProfile.vue
  packages/commercetools/theme/tests/e2e/integration/e2e-my-account.spec.ts
  packages/commercetools/theme/tests/e2e/pages/my-account.ts
Due: none

Update Integrations page and optimize SVG logos
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/constructor-io.svg
  packages/core/docs/.vuepress/public/integrations-logos/opencart.svg
  packages/core/docs/.vuepress/public/integrations-logos/sap.svg
  packages/core/docs/.vuepress/public/integrations-logos/vendure.png
  packages/core/docs/.vuepress/public/integrations-logos/woocommerce.svg
  packages/core/docs/integrations/README.md
Due: none

Update Enterprise and Integrations page
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/adyen.md
  packages/core/docs/integrations/bazaarvoice.md
  packages/core/docs/integrations/redis-cache.md
Due: none

Remove CLI preview image, because it's outdated
  packages/core/docs/general/installation.md
  packages/core/docs/images/cli.jpg
Due: none

tests(e2e): fix code formatting
  packages/commercetools/theme/components/MyAccount/PasswordResetForm.vue
  packages/commercetools/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/commercetools/theme/pages/MyAccount/MyProfile.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-my-account.json
Due: none

Remove CLI preview image, because it's outdated (#6223)
  packages/core/docs/general/installation.md
  packages/core/docs/images/cli.jpg
Due: none

[Docs] Update Integrations page and optimize SVG logos (#6220)
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/constructor-io.svg
  packages/core/docs/.vuepress/public/integrations-logos/opencart.svg
  packages/core/docs/.vuepress/public/integrations-logos/sap.svg
  packages/core/docs/.vuepress/public/integrations-logos/vendure.png
  packages/core/docs/.vuepress/public/integrations-logos/woocommerce.svg
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/general/enterprise.md
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/adyen.md
  packages/core/docs/integrations/bazaarvoice.md
  packages/core/docs/integrations/redis-cache.md
Due: none

[Docs] Add Odoo to Integrations page
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/odoo.svg
Due: none

[Docs] Add "Added in 1.3" badges to useForgotPassword and useStore in commercetools
  packages/core/docs/commercetools/composables/use-forgot-password.md
  packages/core/docs/commercetools/composables/use-store.md
Due: none

[Docs] Add Odoo to Integrations page (#6224)
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/odoo.svg
Due: none

Export missing methods for api-extractor
  packages/commercetools/api-client/src/index.ts
Due: commercetools-api-client

Add api-extractor-data file
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/src/api-extractor-data.ts
  packages/commercetools/api-client/src/index.ts
Due: commercetools-api-client

fix: redirect to 404 page when category page does not exist
  packages/core/docs/changelog/5871.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

update
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

perf: EN-334 convert images to webp format
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/commercetools/theme/static/homepage/apple.png
  packages/commercetools/theme/static/homepage/apple.webp
  packages/commercetools/theme/static/homepage/bannerD.png
  packages/commercetools/theme/static/homepage/bannerD.webp
  packages/commercetools/theme/static/homepage/google.png
  packages/commercetools/theme/static/homepage/google.webp
  packages/commercetools/theme/static/productpage/productA.jpg
  packages/commercetools/theme/static/productpage/productB.jpg
  packages/commercetools/theme/static/productpage/productM.jpg
  packages/commercetools/theme/static/thank-you/bannerD.webp
  packages/commercetools/theme/static/thank-you/bannerM.webp
  packages/core/nuxt-theme-module/theme/components/MobileStoreBanner.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/ThankYou.vue
Due: none

perf: EN-334 remove unused images
  packages/commercetools/theme/static/thank-you/bannerD.png
  packages/commercetools/theme/static/thank-you/bannerM.png
Due: none

perf: EN-337 implement lazy-load plugin in core
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/lazy-load.js
  packages/core/nuxt-module/package.json
Due: none

perf: EN-337 use lazy load in pages
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

perf: EN-337 move lazy load to plugins in ct theme
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/plugins/lazy-load.js
  packages/core/nuxt-module/package.json
Due: none

perf: EN-337 bump yarn lock
  yarn.lock
Due: none

perf: EN-337 remove core plugin
  packages/core/nuxt-module/lib/module.js
Due: none

perf: EN-338 bump SFUI to 0.10.8
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  yarn.lock
Due: none

Update Vendure maintainers
  packages/core/docs/.vuepress/integrations.js
Due: none

Update Vendure maintainers (#6230)
  packages/core/docs/.vuepress/integrations.js
Due: none

fix(ct): fix no property error in useUser/changePassword
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/docs/commercetools/changelog/6231.js
Due: commercetools-composables

fix(core): add debounce for updateCartQuantity
  packages/core/docs/changelog/6226.js
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
Due: none

fix(ct/core): change `logOut` signature
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/docs/core/changelog/6231.js
Due: commercetools-composables

Refs #24984: Creation Wizard - fix update method
  core/modules/cart/store/actions/itemActions.ts
  core/modules/cart/store/actions/mergeActions.ts
  core/modules/cart/store/actions/synchronizeActions.ts
Due: none

[Docs] Update API references and CT Composables pages
  packages/commercetools/composables/api-extractor.json
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/index.ts
  packages/core/cache/api-extractor.json
  packages/core/cache/tsconfig.json
  packages/core/core/tsconfig.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/composables/use-billing.md
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/commercetools/composables/use-category.md
  packages/core/docs/commercetools/composables/use-facet.md
  packages/core/docs/commercetools/composables/use-forgot-password.md
  packages/core/docs/commercetools/composables/use-make-order.md
  packages/core/docs/commercetools/composables/use-product.md
  packages/core/docs/commercetools/composables/use-review.md
  packages/core/docs/commercetools/composables/use-shipping-provider.md
  packages/core/docs/commercetools/composables/use-shipping.md
  packages/core/docs/commercetools/composables/use-store.md
  packages/core/docs/commercetools/composables/use-user-billing.md
  packages/core/docs/commercetools/composables/use-user-order.md
  packages/core/docs/commercetools/composables/use-user-shipping.md
  packages/core/docs/commercetools/composables/use-user.md
  packages/core/docs/commercetools/composables/use-wishlist.md
  packages/core/docs/commercetools/enterprise/use-wishlist.md
  packages/core/docs/package.json
  packages/core/middleware/api-extractor.json
Due: commercetools-composables

Update
  package.json
  packages/commercetools/api-client/src/api-extractor-data.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
  packages/core/cache/api-extractor.json
  packages/core/core/api-extractor.json
  packages/core/core/src/types.ts
  packages/core/core/tsconfig.json
  packages/core/middleware/api-extractor.json
  packages/core/middleware/package.json
Due: commercetools-api-client, commercetools-composables

Update
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
Due: commercetools-composables

Update
  packages/commercetools/api-client/src/api-extractor-data.ts
  packages/commercetools/composables/src/index.ts
  packages/core/cache/api-extractor.json
  packages/core/cache/src/index.ts
  packages/core/core/src/index.ts
  packages/core/docs/.vuepress/config.js
  packages/core/middleware/api-extractor.json
  packages/core/middleware/src/index.ts
Due: commercetools-api-client, commercetools-composables

Update
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrate/cms.md
  packages/core/docs/integrate/integration-guide.md
Due: none

Update
  packages/core/docs/.vuepress/components/PersonTile.vue
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
