Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

Update
  packages/core/docs/advanced/ssr-cache.md
  packages/core/docs/integrate/cache-driver.md
  packages/core/docs/integrations/redis-cache.md
Due: none

Update changelog
  packages/core/docs/changelog/5524.js
Due: none

Update
  packages/core/cache/package.json
Due: none

docs: remove coposition api sentence
  packages/core/docs/guide/cart-and-wishlist.md
Due: none

changelog
  packages/core/docs/changelog/5530.js
Due: none

Update
  packages/core/cache/nuxt/index.js
Due: none

Change `defaultInvalidator` to `defaultHandler`
  packages/core/cache/defaultHandler/index.js
  packages/core/cache/package.json
Due: none

Update
  packages/core/docs/advanced/ssr-cache.md
Due: none

skip error retry when it is not graphql error response
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
Due: commercetools-api-client

changelog
  packages/core/docs/commercetools/changelog.md
Due: none

Update deps
  yarn.lock
Due: none

chore(ct-api): package version bump
  packages/commercetools/api-client/package.json
Due: commercetools-api-client

chore(ct-api): package version bump
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-composables

chore(ct-api): depts version bump
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-composables

refacotr: setCart from useCheckoutShipping
  packages/commercetools/composables/src/useCheckoutShipping/index.ts
Due: commercetools-composables

refactor: shippingMethodGetters
  packages/commercetools/composables/src/getters/shippingMethodGetters.ts
Due: commercetools-composables

refactor: shippingGetters getAddress type
  packages/core/core/src/types.ts
Due: none

refactor: got rid of not used parts
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/pages/CheckoutV2/Shipping.vue
Due: none

refactor: returns useShipping responses from the set earlier cart
  packages/commercetools/composables/src/useShipping/index.ts
Due: commercetools-composables

chore: refactoring
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
Due: none

refactor: removed ShippingGetters interface
  packages/core/core/src/types.ts
Due: none

feat(ct): saving shipping method
  packages/commercetools/composables/src/useCheckoutShippingMethod/index.ts
Due: commercetools-composables

chore: stop if error while saving shippingMethod
  packages/core/nuxt-theme-module/theme/pages/CheckoutV2/Shipping.vue
Due: none

feat(ct): persistent address selection
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: commercetools-composables

chore: isShipping..Completed inside ShippingForm 2
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/core/nuxt-theme-module/theme/pages/CheckoutV2/Shipping.vue
Due: none

fix(ct): on input->change in SfAddressPicker in checkout
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
Due: none

fix: better ui conditioning after manual tests
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

refactor: explaination comment
  packages/commercetools/composables/src/getters/shippingGetters.ts
Due: commercetools-composables

refactor: shippingGetters fallback
  packages/commercetools/composables/src/getters/shippingGetters.ts
Due: commercetools-composables

fix(ct): reduced CLS after refresh
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

fix: persistent selected address via router
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

refactor: isMethodDefault getter
  packages/commercetools/composables/src/getters/checkoutShippingMethodGetters.ts
Due: commercetools-composables

chore: useCheckoutShippingFactory
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useCheckoutShippingFactory.ts
  packages/core/core/src/types.ts
Due: none

refactor: better naming
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

fix: searching current address for set as default
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

feat(ct): loading shipping details from the server
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

refactor: changedDetails -> changeDetails
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
Due: none

better handling current address, selecting default if current is empty
  packages/commercetools/theme/components/Checkout/ShippingForm.vue
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
Due: none

refactor: more types
  packages/commercetools/composables/src/getters/checkoutShippingGetters.ts
  packages/commercetools/composables/src/getters/checkoutShippingMethodGetters.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useCheckoutShippingMethod/index.ts
  packages/core/core/src/factories/useCheckoutShippingMethodFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-composables
