Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

fix unit tests
  packages/about-you/composables/__tests__/composables/getters/categoryGetters.spec.ts
Due: none

fix unit tests
  packages/commercetools/composables/package.json
Due: commercetools-composables

code review
  packages/about-you/composables/__tests__/composables/getters/categoryGetters.spec.ts
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
  packages/commercetools/composables/__tests__/getters/facetHelpers.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/getters/facetGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/_utils.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/theme/helpers/ui/index.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/helpers/ui/index.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: commercetools-composables

code review
  packages/core/core/__tests__/factories/useFacetFactory.spec.ts
  packages/core/nuxt-theme-module/theme/assets/ui-state.ts
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

code review
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

Update README.md
  README.md
Due: none

2.0.6 core with deps update in boilerplate
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/core/core/package.json
Due: none

Got rid of bad dependencies in boilerplate
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
Due: none

2.0.6 in CT api client & composables
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
Due: commercetools-api-client, commercetools-composables

added full configuration match possibility for option availability check #4831
  core/modules/catalog/helpers/variant/checkFullConfigurationMatch.ts
  core/modules/catalog/helpers/variant/findConfigurableVariant.ts
  core/modules/catalog/helpers/variant/isOptionAvailable.ts
Due: none

simplified price to string function #4564
  core/filters/price.js
Due: none

add toString to compare to options values #4851
  core/modules/catalog/helpers/productOptions/getSelectedOption.ts
Due: none

review, BC
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/assets/ui-state.ts
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/composables/index.ts
  packages/core/nuxt-theme-module/theme/composables/useUiHelpers/index.ts
  packages/core/nuxt-theme-module/theme/helpers/category/getCategoryPath.js
  packages/core/nuxt-theme-module/theme/helpers/category/getCategorySearchParameters.js
  packages/core/nuxt-theme-module/theme/helpers/category/index.js
  packages/core/nuxt-theme-module/theme/helpers/filters/getFiltersForUrl.js
  packages/core/nuxt-theme-module/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/nuxt-theme-module/theme/helpers/filters/index.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/shopify/theme/components/Filters.vue
Due: none

changelog
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

updateupdate changelog
  packages/core/docs/contributing/changelog.md
Due: none

chore: some desctructures
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/yarn-error.log
  yarn-error.log
Due: commercetools-api-client, commercetools-composables

Corrected the name for a custom variable
  packages/shopify/api-client/src/api/category/fetchByCustomQuery.ts
Due: none

convert to String before compare attribute_code options values #4851
  CHANGELOG.md
  core/modules/catalog/helpers/productOptions/getSelectedOption.ts
Due: none

Vue CAPI in nuxt-module in .13 version
  packages/core/nuxt-module/package.json
Due: none

simplified price to string function #4564
  CHANGELOG.md
  core/filters/price.js
Due: none

removed toString
  core/modules/catalog/helpers/productOptions/getSelectedOption.ts
Due: none

Bumped version of nuxt-module & nuxt-theme module with .13 capi version
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: none

Bumped modules' version in themes
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
Due: none

CLI & shopify bump deps' versions
  packages/core/cli/package.json
  packages/shopify/theme/package.json
Due: none

Bumped ct theme version
  packages/core/cli/package.json
Due: none

Keep product/list in Category.js file, Category.js is not used anymore and this..getters['product/findProducts'] doesn't exist. Thanks @gibkigonzo for the review
  core/pages/Category.js
Due: none

chore: load cart custom queries
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
Due: commercetools-api-client, commercetools-composables

fix: customer query condition
  packages/commercetools/api-client/src/api/getMe/index.ts
Due: commercetools-api-client

Add fixes to make Pro package working
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/yarn-error.log
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
  packages/core/nuxt-theme-module/theme/pages/Product.vue
  yarn-error.log
Due: commercetools-api-client, commercetools-composables

chore: prettier added
  .editorconfig
  .prettierrc
  package.json
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-api-client, commercetools-composables

add new resetUserInvalidation action which is responsible to clear invalidation state before user wants to log in
  core/modules/user/store/actions.ts
  core/modules/user/test/unit/store/actions.spec.ts
  core/store/actions.ts
  core/store/mutation-types.ts
  core/store/mutations.ts
Due: none

clear refresh token and order history after user is logged out
  core/modules/user/store/actions.ts
Due: none

redirect user if he gets logout
  core/pages/MyAccount.js
Due: none

update changelog
  CHANGELOG.md
Due: none

chore: add to cart custom query handling
  .eslintrc.json
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

clear only specific callback for 'user-after-logout'
  core/pages/MyAccount.js
Due: none

revert: un test method call
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/composables/src/index.ts
Due: commercetools-api-client, commercetools-composables

Fix whitespaces
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
Due: commercetools-api-client

chore: missing typings, custom query for remove from cart
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
