Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

Update packages/core/docs/general/logging.md
  packages/core/docs/general/logging.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

update changelog
  CHANGELOG.md
Due: none

Remove custom query generic and ObjectWithAnyKeys
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/applyCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/api-client/src/api/updateCartQuantity/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUserOrders/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Revert some typings
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Revert changes
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/applyCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeCartCoupon/index.ts
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/api-client/src/api/updateCartQuantity/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/composables/src/useUserOrders/index.ts
Due: commercetools-api-client, commercetools-composables

Revert minor styling changes
  packages/commercetools/composables/src/useUserOrders/index.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
Due: commercetools-composables

Reverts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/types.ts
Due: none

chore(cli): changelog
  packages/core/docs/cli/CHANGELOG.md
Due: none

Remove polyfills from CT nuxt config
  packages/commercetools/theme/nuxt.config.js
Due: none

Rename useReview composable file name
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useReview/index.ts
Due: commercetools-composables

Revert changes in docs
  packages/core/docs/commercetools/composables.md
Due: none

Fix types
  packages/core/core/src/types.ts
Due: none

Fix types
  packages/commercetools/api-client/src/types/Api.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client

Task: 4427. add 'beforeUserProfileUpdate' mutator and change 'afterUserAddressUpdated' to 'afterUserProfileUpdated'
  core/modules/user/components/UserAccount.ts
  core/modules/user/components/UserShippingDetails.ts
  core/modules/user/hooks.ts
  core/modules/user/store/actions.ts
Due: none

Fix boilerplate
  packages/boilerplate/composables/src/composables/getters/categoryGetters.ts
  packages/boilerplate/composables/src/composables/getters/facetGetters.ts
  packages/boilerplate/composables/src/composables/getters/index.ts
  packages/boilerplate/composables/src/composables/useFacet/index.ts
  packages/boilerplate/composables/src/index.ts
Due: none

Remove CUSTOM_QUERY generic
  packages/core/core/src/types.ts
Due: none

Update docs
  packages/core/docs/commercetools/use-review.md
Due: none

chore(coupon): fix
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
  packages/about-you/composables/src/composables/getters/cartGetters.ts
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/helpers/internals/getCouponsFromCart.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
  packages/shopify/composables/src/composables/getters/cartGetters.ts
  packages/shopify/composables/src/composables/useCart/index.ts
Due: commercetools-composables

chore(ct): fixed tests for new coupons
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrders.spec.ts
Due: commercetools-composables

fix(core): useCartFactory test
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
Due: none

fix(cko): api prefix only for publicKey endpoints
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/payment.spec.ts
  packages/checkout-com/src/payment.ts
Due: none

chore(cko): changelog
  packages/core/docs/checkout-com/CHANGELOG.md
Due: none

refactor(cko): got rid of ckoWebhookUrl & fixed tests for that
  packages/checkout-com/README.md
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/__tests__/index.spec.ts
  packages/checkout-com/__tests__/payment.spec.ts
  packages/checkout-com/src/configuration.ts
  packages/checkout-com/src/index.ts
  packages/checkout-com/src/payment.ts
Due: none

4647 add ssrRedirect
  core/modules/catalog/events.ts
  core/pages/Checkout.js
  core/scripts/server.ts
  core/scripts/utils/ssr-redirect.ts
  core/scripts/utils/ssr-renderer.ts
  core/scripts/utils/types/index.ts
Due: none

4647 change ssrRedirect api
  core/modules/catalog/events.ts
  core/pages/Checkout.js
  core/scripts/server.ts
  core/scripts/utils/ssr-redirect.ts
  core/scripts/utils/ssr-renderer.ts
  core/scripts/utils/types/index.ts
Due: none

test(ct): custom where variable
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
Due: commercetools-api-client

fix: remove redundant user token invalidation code
  core/lib/sync/task.ts
Due: none

4427 add types
  core/modules/user/components/UserAccount.ts
  core/modules/user/components/UserShippingDetails.ts
  core/modules/user/store/actions.ts
Due: none

Integrate My Profile page
  packages/about-you/composables/src/composables/getters/userGetters.ts
  packages/about-you/composables/src/types/index.ts
  packages/boilerplate/composables/src/composables/getters/userGetters.ts
  packages/boilerplate/composables/src/types/index.ts
  packages/commercetools/composables/src/getters/userGetters.ts
  packages/commercetools/composables/src/useUser/authenticate.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyProfile.vue
  packages/shopify/composables/src/composables/getters/userGetters.ts
Due: commercetools-composables

fix custom queries
  packages/commercetools/api-client/__tests__/api/getCategory/getCategory.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateCart.spec.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/helpers/queries/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

Update changelog
  packages/core/docs/contributing/changelog.md
Due: none

chore(core) render content/components factory
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/core/src/types.ts
Due: none

chore: typo
  packages/core/core/src/factories/useContentFactory.ts
Due: none

fix custom queries
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

fix custom queries
  packages/core/docs/commercetools/changelog.md
Due: none

fix custom queries
  packages/commercetools/api-client/__tests__/api/getCategory/getCategory.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateCart.spec.ts
Due: commercetools-api-client

fix custom queries
  packages/commercetools/api-client/__tests__/api/updateCart/updateCart.spec.ts
Due: commercetools-api-client
