Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

docs-#5963: add custom query example to docs
  packages/core/docs/guide/composables.md
Due: none

docs-#5963: add note about extracting to separate folder
  packages/core/docs/guide/composables.md
Due: none

docs-#5963: move custom query docs to a new doc
  packages/core/docs/.vuepress/config.js
  packages/core/docs/advanced/extending-graphql-queries.md
  packages/core/docs/guide/composables.md
Due: none

feat-#5968: create password reset default mutation
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/defaultMutation.ts
Due: commercetools-api-client

feat-#5968: create password reset mutation handler
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/index.ts
Due: commercetools-api-client

feat-#5968: create reset password default mutation
  packages/commercetools/api-client/src/api/customerResetPassword/defaultMutation.ts
Due: commercetools-api-client

feat-#5968: create reset password mutation handler
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
Due: commercetools-api-client

feat-#5968: create typings for forgot password
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/commercetools/composables/src/types/GraphQL.ts
Due: commercetools-api-client, commercetools-composables

feat-#5968: update imports
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/composables/src/index.ts
  packages/core/core/src/factories/index.ts
Due: commercetools-api-client, commercetools-composables

feat-#5968: add core useForgotPasswordFactory
  packages/core/core/src/factories/useForgotPasswordFactory.ts
Due: none

feat-#5968: add types to core
  packages/core/core/src/types.ts
Due: none

feat-#5968: add useForgotPassword CT composable
  packages/commercetools/composables/src/useForgotPassword/index.ts
Due: commercetools-composables

feat-#5968: create ResetPassword page
  packages/core/nuxt-theme-module/theme/pages/ResetPassword.vue
Due: none

feat-#5968: add password-reset route to routes.js
  packages/core/nuxt-theme-module/routes.js
Due: none

feat-#5968: refactor LoginModal
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Due: none

feat-#5968: adjust create password reset token mut
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/index.ts
Due: commercetools-api-client

feat-#5968: update i18n forgot password buttons
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
Due: none

feat-#5968: adjust LoginModal to work with forgot
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Due: none

feat-#5968: return boolean from password change
  packages/commercetools/composables/src/useForgotPassword/index.ts
Due: commercetools-composables

feat-#5968: create blank layout
  packages/core/nuxt-theme-module/theme/layouts/blank.vue
Due: none

feat-#5968: update CT project scopes to admin
  packages/commercetools/theme/middleware.config.js
Due: none

feat-#5968: add custom query to password reset
  packages/commercetools/api-client/src/api/customerResetPassword/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
Due: commercetools-api-client

feat-#5968: update changelog
  packages/core/docs/changelog/5968.js
Due: none

remove getStore api method
  packages/commercetools/api-client/src/api/getStore/defaultQuery.ts
  packages/commercetools/api-client/src/api/getStore/index.ts
Due: commercetools-api-client

fix getStores api method
  packages/commercetools/api-client/src/api/getStores/defaultQuery.ts
  packages/commercetools/api-client/src/api/getStores/index.ts
Due: commercetools-api-client

refactor fragments
  packages/commercetools/api-client/src/fragments/address.ts
  packages/commercetools/api-client/src/fragments/cart.ts
  packages/commercetools/api-client/src/fragments/channel.ts
  packages/commercetools/api-client/src/fragments/customer.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/fragments/initiator.ts
  packages/commercetools/api-client/src/fragments/line-item.ts
  packages/commercetools/api-client/src/fragments/localized-string.ts
  packages/commercetools/api-client/src/fragments/order.ts
  packages/commercetools/api-client/src/fragments/product-price.ts
  packages/commercetools/api-client/src/fragments/reference.ts
  packages/commercetools/api-client/src/fragments/shipping-method.ts
  packages/commercetools/api-client/src/fragments/store-query-result.ts
  packages/commercetools/api-client/src/fragments/store.ts
Due: commercetools-api-client

fix types
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/commercetools/composables/src/types/GraphQL.ts
Due: commercetools-api-client, commercetools-composables

fix default use store getters type
  packages/core/core/src/types.ts
Due: none

fix use store factory params
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/composables/src/useStore/index.ts
Due: commercetools-composables

implement use store getters
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/getters/storeGetters.ts
Due: commercetools-composables

Change test data for happy path e2e tests
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
Due: none

fix config settings
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/nuxt/plugin.js
Due: commercetools-api-client, commercetools-composables

fix factory
  packages/core/core/src/factories/useStoreFactory.ts
Due: none

fix use store getter type
  packages/core/core/src/types.ts
Due: none

fix factory params and getters
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
Due: commercetools-composables

feat-#5968: add docs for forgotPassword
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/composables/use-forgot-password.md
  packages/core/docs/guide/authentication.md
Due: none

feat-#5968: write unit tests
  packages/commercetools/composables/__tests__/useForgotPassword/useForgotPassword.spec.ts
  packages/core/core/__tests__/factories/useForgotPasswordFactory.spec.ts
Due: commercetools-composables

feat-#5968: add env to contionally log email body
  packages/commercetools/composables/src/useForgotPassword/index.ts
  packages/commercetools/theme/nuxt.config.js
Due: commercetools-composables

feat-#5968: add to boilerplate composables
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/useForgotPassword/index.ts
Due: none

chore: removed copy of doc
  packages/core/docs/guide/composables.md
Due: none
