Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

fix: cr and update changelog
  packages/core/docs/changelog/5363.js
  packages/core/nuxt-theme-module/theme/components/Notification.vue
Due: none

better overlay visibility for categories without children
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/commercetools/theme/components/header/HeaderNav.vue
  packages/core/nuxt-theme-module/theme/components/header/HeaderNav.vue
Due: none

removed computed from catChild
  packages/commercetools/theme/components/header/HeaderNav.vue
  packages/core/nuxt-theme-module/theme/components/header/HeaderNav.vue
Due: none

resolved conflicts
  packages/core/docs/contributing/changelog.md
Due: none

chore: updated branch
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/boilerplate/theme/static/megamenu/bannerA.webp
  packages/boilerplate/theme/static/megamenu/bannerB.webp
  packages/commercetools/api-client/src/api/getCategory/defaultQuery.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/theme/components/header/HeaderNav.vue
  packages/commercetools/theme/queries/topCategories.ts
  packages/commercetools/theme/static/megamenu/bannerA.webp
  packages/commercetools/theme/static/megamenu/bannerB.webp
  packages/core/nuxt-theme-module/package.json
  packages/core/nuxt-theme-module/theme/components/header/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/header/HeaderNav.vue
  packages/core/nuxt-theme-module/theme/components/header/NewCatBanners.vue
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Due: commercetools-api-client

chore: update changelog
  packages/core/docs/changelog/5267.js
Due: none

chore: update changelog
  packages/core/docs/changelog/5363.js
  packages/core/docs/contributing/changelog.md
Due: none

chore: update changelog
  packages/core/docs/changelog/5267.js
  packages/core/docs/contributing/changelog.md
Due: none

4305 add/remove cart item if one is added/removed on server only on authorize action
  core/modules/cart/store/actions/connectActions.ts
  core/modules/cart/store/actions/mergeActions.ts
  core/modules/cart/store/actions/synchronizeActions.ts
Due: none

4305 update tests
  core/modules/cart/test/unit/store/connectActions.spec.ts
  core/modules/cart/test/unit/store/mergeActions.spec.ts
  core/modules/cart/test/unit/store/synchronizeActions.spec.ts
Due: none

fix: get rid of regenratorRuntime error
  core/build/webpack.base.config.ts
Due: none

chore: changelog revert
  CHANGELOG.md
Due: none

chore: updated doc about vsf-cli for vsf1
  docs/guide/installation/theme.md
Due: none

4305 remove serverSyncCanModifyLocalItems and serverSyncCanRemoveLocalItems
  config/default.json
  core/modules/cart/store/actions/mergeActions.ts
Due: none

release
  packages/core/docs/contributing/changelog.md
Due: none

fix
  packages/core/docs/.vuepress/config.js
Due: none

Update packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrate/integration-guide.md
Due: none

cr
  packages/commercetools/composables/nuxt/plugin.js
  packages/core/docs/integrate/integration-guide.md
Due: commercetools-composables

guest fix
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/src/factories/apiClientFactory.ts
Due: commercetools-composables

cr
  packages/core/docs/integrate/integration-guide.md
Due: none

tests for api-client
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/__tests__/factories/apiProxyFactory.spec.ts
  packages/core/core/__tests__/factories/proxyUtils.spec.ts
  packages/core/core/src/factories/apiFactory/_utils.ts
  packages/core/core/src/factories/apiFactory/apiClientFactory.ts
  packages/core/core/src/factories/apiFactory/apiProxyFactory.ts
Due: none

cr
  packages/about-you/api-client/__tests__/index.spec.ts
  packages/about-you/api-client/src/index.ts
  packages/boilerplate/api-client/src/index.ts
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/index.client.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/__tests__/factories/apiProxyFactory.spec.ts
  packages/core/core/__tests__/factories/proxyUtils.spec.ts
  packages/core/core/__tests__/utils/context.spec.ts
  packages/core/core/__tests__/utils/nuxt/nuxtContentFactory.spec.ts
  packages/core/core/src/factories/apiFactory/_proxyUtils.ts
  packages/core/core/src/factories/apiFactory/_utils.ts
  packages/core/core/src/factories/apiFactory/apiClientFactory.ts
  packages/core/core/src/factories/apiFactory/apiProxyFactory.ts
  packages/core/core/src/factories/apiFactory/types.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/nuxt/nuxtContextFactory.ts
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/migrate/integrators-rc1.md
  packages/core/middleware/middleware.js
  packages/core/middleware/module.js
  packages/core/middleware/nuxt/index.js
Due: commercetools-api-client, commercetools-composables

cr
  package.json
  packages/commercetools/api-client/src/index.server.ts
  packages/core/middleware/package.json
Due: commercetools-api-client

test proxy
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

tests for core
  packages/core/cli/__tests__/scripts/generateTemplates/index.spec.ts
  packages/core/cli/src/scripts/generateTemplates/index.ts
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/__tests__/factories/apiProxyFactory.spec.ts
  packages/core/core/__tests__/factories/proxyUtils.spec.ts
  packages/core/core/src/factories/apiClientFactory/_proxyUtils.ts
  packages/core/core/src/factories/apiClientFactory/apiProxyFactory.ts
Due: none

cr
  packages/commercetools/api-client/src/helpers/utils.ts
Due: commercetools-api-client

api middleware draft
  packages/core/docs/integrate/integration-guidev2.md
Due: none

middleware
  packages/core/core/src/factories/apiClientFactory/_utils.ts
  packages/core/core/src/factories/apiClientFactory/apiProxyFactory.ts
Due: none

middleware
  package.json
  packages/commercetools/api-client/.gitignore
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup-client.config.js
  packages/commercetools/api-client/rollup-server.config.js
  packages/commercetools/api-client/src/helpers/apiClient/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/index.client.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/nuxt/pluginProxy.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/core/src/utils/nuxt/nuxtContextFactory.ts
  packages/core/middleware/middleware.js
  yarn.lock
Due: commercetools-api-client, commercetools-composables

middleware
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

middleware
  packages/commercetools/api-client/src/index.server.ts
Due: commercetools-api-client

tests for api-client
  packages/core/core/src/factories/apiFactory/types.ts
  packages/core/core/src/utils/nuxt/index.ts
Due: none

test proxy
  packages/core/core/src/factories/apiClientFactory.ts
Due: none

test proxy
  packages/commercetools/api-client/src/index.server.ts
Due: commercetools-api-client

middleware
  packages/core/docs/.vuepress/config.js
  packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrate/integration-guidev2.md
Due: none

test proxy
  packages/commercetools/api-client/src/helpers/utils.ts
Due: commercetools-api-client

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
