Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

fix: conflict resolved
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: none

feat: updated pr template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Fix typo
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

Improve cart missmatch handling (#5272)
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

Update
  packages/commercetools/api-client/__tests__/api/updateCart.spec.ts
  packages/commercetools/api-client/src/helpers/apiClient/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
Due: commercetools-api-client

Simplify updateCart tests
  packages/commercetools/api-client/__tests__/api/updateCart.spec.ts
Due: commercetools-api-client

Ignore type definitions file
  packages/commercetools/composables/jest.config.js
Due: commercetools-composables

Set logger levels based on NODE_ENV
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/utils/logger/index.ts
Due: none

Update changelogs
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

feat: homepage
  packages/boilerplate/theme/static/homepage/google.png
  packages/boilerplate/theme/static/homepage/imageA.webp
  packages/boilerplate/theme/static/homepage/imageAd.webp
  packages/boilerplate/theme/static/homepage/imageAm.webp
  packages/boilerplate/theme/static/homepage/imageB.webp
  packages/boilerplate/theme/static/homepage/imageBd.webp
  packages/boilerplate/theme/static/homepage/imageBm.webp
  packages/boilerplate/theme/static/homepage/imageC.webp
  packages/boilerplate/theme/static/homepage/imageCd.webp
  packages/boilerplate/theme/static/homepage/imageCm.webp
  packages/boilerplate/theme/static/homepage/imageD.webp
  packages/boilerplate/theme/static/homepage/imageDd.webp
  packages/boilerplate/theme/static/homepage/imageDm.webp
  packages/commercetools/theme/static/homepage/google.png
  packages/commercetools/theme/static/homepage/imageA.webp
  packages/commercetools/theme/static/homepage/imageAd.webp
  packages/commercetools/theme/static/homepage/imageAm.webp
  packages/commercetools/theme/static/homepage/imageB.webp
  packages/commercetools/theme/static/homepage/imageBd.webp
  packages/commercetools/theme/static/homepage/imageBm.webp
  packages/commercetools/theme/static/homepage/imageC.webp
  packages/commercetools/theme/static/homepage/imageCd.webp
  packages/commercetools/theme/static/homepage/imageCm.webp
  packages/commercetools/theme/static/homepage/imageD.webp
  packages/commercetools/theme/static/homepage/imageDd.webp
  packages/commercetools/theme/static/homepage/imageDm.webp
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/components/MobileStoreBanner.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

Fix typo in doc 🤟🏻👽🤟🏻
  core/lib/search.ts
Due: none

Update docs
  packages/core/docs/general/logging.md
Due: none

fix: missing changelog for 5373
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

fix: device fix & stress test
  src/modules/device/index.ts
  src/modules/device/pages/TestMode.vue
  src/modules/device/test.js
  src/modules/device/util/checkAndInjectResults.ts
Due: none

fix: last category is visible
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Due: none

feat: possible to modify cache key
  core/scripts/server.ts
  core/server/hooks.ts
  src/modules/device/README.md
  src/modules/device/server.ts
Due: none

Test linkHeaders
  packages/commercetools/api-client/__tests__/helpers/commercetoolsLink/linkHandlers.spec.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
Due: commercetools-api-client

chore: changelog & readme
  CHANGELOG.md
  src/modules/device/README.md
Due: none

chore: changelog update
  CHANGELOG.md
Due: none

chore: CTA for reading cache
  src/modules/device/README.md
Due: none

Cleanup
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
Due: commercetools-api-client

fix: select for changinig variant
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

Improve link structure
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
Due: commercetools-api-client

edit read.me
  README.md
Due: none

Disable `fail-fast` in GH Action
  .github/workflows/test.yml
Due: none

Update deps
  yarn.lock
Due: none

update interface
  packages/boilerplate/composables/src/getters/cartGetters.ts
Due: none

fix: cacheKey from hook only if exists
  core/scripts/server.ts
Due: none

refactor: checkAndInjectResults from index
  src/modules/device/README.md
  src/modules/device/index.ts
Due: none

fix: cr fixes
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Due: none

refactor: 2 functions
  src/modules/device/README.md
  src/modules/device/index.ts
  src/modules/device/util/createDeviceTests.ts
  src/modules/device/util/injectDeviceTests.ts
Due: none

refactor: base on appendToInstance
  src/modules/device/README.md
  src/modules/device/index.ts
  src/modules/device/util/injectDeviceTests.ts
Due: none

update context docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client.md
  packages/core/docs/composables/use-product.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/general/context.md
  packages/core/docs/integrate/ecommerce.md
  packages/core/docs/integrate/integration-guide.md
Due: none

update context docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/integrate/ecommerce.md
  packages/core/docs/integrate/integration-guide.md
Due: none

Remove ignore
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
Due: commercetools-api-client

Update packages/core/docs/general/context.md
  packages/core/docs/general/context.md
Due: none
