Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Updated suggessons
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/authorization-strategy.md
  packages/core/docs/shopify/getting-started.md
Due: none

fix: remove mobile observer causing infinite loop error
  packages/core/nuxt-theme-module/theme/components/NewsletterModal.vue
Due: none

Linking repaired
  packages/core/docs/shopify/README.md
Due: none

Store last discount item as a separate variable
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

Use object property value shorthand for removeCoupon arg
  packages/commercetools/theme/components/Checkout/CartPreview.vue
Due: none

Add de locales for invalid promo vode and remove coupon
  packages/commercetools/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/de.js
Due: none

feat: add category getter
  packages/commercetools/theme/pages/Category.vue
Due: none

Agnosticize AgnosticDiscount valueType
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/commercetools/composables/src/types/GraphQL.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Fix 0e6612a8d3c90b711a1ba8bdab64b2dbc0ca24b7
  packages/commercetools/composables/src/getters/cartGetters.ts
Due: commercetools-composables

Updated Shopify DOC
  packages/core/docs/.vuepress/config.js
  packages/core/docs/shopify/README.md
  packages/core/docs/shopify/api-client-reference.md
  packages/core/docs/shopify/auth-middleware.md
  packages/core/docs/shopify/authorization-strategy.md
  packages/core/docs/shopify/checkout.md
  packages/core/docs/shopify/configuration.md
  packages/core/docs/shopify/feature-list.md
  packages/core/docs/shopify/getting-started.md
  packages/core/docs/shopify/maintainers.md
  packages/core/docs/shopify/use-cart.md
  packages/core/docs/shopify/use-category.md
Due: none

Updated vuepress config.js
  packages/core/docs/.vuepress/config.js
Due: none

refactor(api-cliente): removed Customer changes
  packages/commercetools/api-client/src/api/customerChangeMyPassword/index.ts
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/index.ts
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
Due: commercetools-api-client

chore: removed beta tag from Shopify (#6143)
  packages/core/cli/src/utils/getIntegrations.ts
  packages/core/docs/changelog/6143.js
Due: none

feat(api-client): added getInventory api
  packages/commercetools/api-client/src/api/getInventory/defaultQuery.ts
  packages/commercetools/api-client/src/api/getInventory/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/fragments/inventory-entries-query-result.ts
  packages/commercetools/api-client/src/fragments/inventory.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
Due: commercetools-api-client

Updated maintainers pictures
  packages/core/docs/shopify/maintainers.md
Due: none

feat(commercetools:api-client): add config channel
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/theme/middleware.config.js
  packages/core/core/src/types.ts
Due: commercetools-api-client

Shopify doc: Enabled sidebar in features list page
  packages/core/docs/shopify/feature-list.md
Due: none

fix: add missing awesomenumber dep
  packages/commercetools/theme/package.json
  yarn.lock
Due: none

fix: change email submit event name
  packages/core/nuxt-theme-module/theme/components/NewsletterModal.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

feat(ct): add InventoryMode to createCart
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/fragments/cart.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: commercetools-api-client

Add changelog file
  packages/core/docs/changelog/5982.js
Due: none

docs(ct): update configuration docs with inventoryMode
  packages/commercetools/theme/middleware.config.js
  packages/core/docs/commercetools/configuration.md
Due: none

Make CT tests happy
  packages/commercetools/api-client/__tests__/api/customerUpdateMe.spec.ts
Due: commercetools-api-client

refactor(commercetools): fix the frontend client bundling the commercetools-sdk and apollo client (#6066)
  packages/boilerplate/api-client/package.json
  packages/boilerplate/api-client/rollup.config.js
  packages/boilerplate/api-client/tsconfig.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/rollup.base.config.js
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup.config.js
  packages/commercetools/api-client/src/helpers/commercetoolsLink/authHelpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/createCommerceToolsConnection.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/graphqlError.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/rollup.config.js
  packages/commercetools/composables/tsconfig.json
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/commercetools/theme/themeConfig.js
  packages/core/docs/commercetools/changelog/6066.js
  packages/rollup.base.config.js
  yarn.lock
Due: commercetools-api-client, commercetools-composables

refactor: updated the applyCoupon interface to match the removeCoupon (#6126)
  packages/boilerplate/composables/src/useCart/index.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/changelog/6126.js
  packages/core/docs/commercetools/changelog/6126.js
  packages/core/docs/commercetools/composables/use-cart.md
  packages/core/docs/migrate/2.4.0/integrators.md
  packages/core/docs/migrate/2.4.0/overview.md
  packages/core/docs/migrate/2.4.0/projects.md
Due: commercetools-composables

chore: enterprise
  packages/core/docs/.vuepress/integrations.js
Due: none

fix: fix conflicts with next branch
  packages/commercetools/composables/__tests__/getters/_createPrice.spec.ts
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/__tests__/useCart/currentCart.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/useCart/currentCart.ts
  packages/commercetools/theme/package.json
  yarn.lock
Due: commercetools-composables

docs: added good-practices.md
  packages/core/docs/.vuepress/config.js
  packages/core/docs/integrate/good-practices.md
Due: none

fix(commercetools): removed wrong config
  packages/commercetools/theme/middleware.config.js
Due: none

Add "not" to filter predicate optionally
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

Allow passing custom where to product, category and order search
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
Due: commercetools-api-client

Another approach to passing custom where to product, category and order search
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

Update search tests
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
Due: commercetools-api-client

Abbreviate adding not to product search filters
  packages/commercetools/api-client/src/helpers/search/index.ts
Due: commercetools-api-client

fix: add api ref to gitignore
  packages/core/docs/.gitignore
Due: none

new line at the end of file
  packages/core/docs/.gitignore
Due: none

fix: address house number field mapping
  packages/commercetools/theme/components/Checkout/UserBillingAddresses.vue
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserBillingAddress.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: none

Add tests for new `where` param
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
Due: commercetools-api-client

Add test for product filter's 'not' option
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
Due: commercetools-api-client

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
