Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

chore: #4763 custom query docs
  packages/commercetools/composables/src/useUserOrders/index.ts
  packages/core/docs/commercetools/composables.md
  packages/core/docs/core/composables.md
Due: commercetools-composables

chore: #4763 custom query docs for ct
  packages/core/docs/commercetools/composables.md
  packages/core/docs/core/composables.md
Due: none

remove use locale
  packages/about-you/composables/__tests__/composables/useLocale/factoryParams.spec.ts
  packages/about-you/composables/__tests__/composables/useLocale/index.spec.ts
  packages/about-you/composables/src/composables/useLocale/factoryParams.ts
  packages/about-you/composables/src/composables/useLocale/index.ts
  packages/about-you/composables/src/index.ts
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/package.json
  packages/boilerplate/composables/src/composables/useLocale/index.ts
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/theme/nuxt.config.js
  packages/commercetools/composables/__tests__/useLocale/factoryParams.ts
  packages/commercetools/composables/__tests__/useLocale/useLocale.ts
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useLocale/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/core/core/__tests__/factories/useLocaleFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useLocaleFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/core/composables.md
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/shopify/composables/src/composables/useLocale/factoryParams.ts
  packages/shopify/composables/src/composables/useLocale/index.ts
  packages/shopify/composables/src/index.ts
  packages/shopify/theme/components/LocaleSelector.vue
  packages/shopify/theme/nuxt.config.js
  packages/shopify/theme/package.json
  yarn.lock
Due: commercetools-composables

code review
  packages/about-you/theme/nuxt.config.js
  packages/about-you/theme/package.json
  packages/boilerplate/theme/nuxt.config.js
  packages/boilerplate/theme/package.json
  packages/commercetools/composables/nuxt/index.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/package.json
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/package.json
  packages/shopify/theme/nuxt.config.js
  packages/shopify/theme/package.json
Due: commercetools-composables

update docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/api-client.md
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/i18n/overview.md
Due: none

[chore] enrichLink fixed
  packages/salesforce-cc-poc/theme/helpers/link/enrichLink.js
Due: none

resolve conflicts, update changelog
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  yarn.lock
Due: none

resolve conflicts, update changelog
  packages/core/docs/commercetools/getting-started.md
Due: none

chore: #4763 custom query resolve function
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

fix: #4763 un passing default query
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

Fixed sorting issue on product listing page
  packages/shopify/api-client/src/api/category/fetchByCustomQuery.ts
  packages/shopify/api-client/src/api/category/fetchByHandle.ts
  packages/shopify/api-client/src/types.ts
Due: none

Rename useReviews to useReview and use it in CT
  packages/commercetools/api-client/src/api/addReview/index.ts
  packages/commercetools/api-client/src/api/getReview/index.ts
  packages/commercetools/api-client/src/api/getReviews/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/commercetools/composables/__tests__/getters/reviewHelpers.spec.ts
  packages/commercetools/composables/__tests__/useReview/useReview.spec.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/getters/reviewGetters.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/types/GraphQL.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/theme/pages/Product.vue
  packages/core/core/__tests__/factories/useReviewFactory.spec.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Fixed sorting issue on product listing page
  packages/shopify/theme/pages/Category.vue
Due: none

Remove unnecessary whitespaces
  packages/commercetools/api-client/src/api/addReview/index.ts
Due: commercetools-api-client

Pass sort params in category search params via helper
  packages/shopify/theme/helpers/category/getCategorySearchParameters.js
Due: none

Update changelog
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

Bumped ct versions & published
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-api-client, commercetools-composables

Forgot about bump core version. Updated
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/core/package.json
Due: commercetools-api-client, commercetools-composables

New return signature
  packages/about-you/composables/src/composables/useCart/factoryParams.ts
  packages/boilerplate/composables/src/composables/useCart/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/shopify/composables/src/composables/useCart/loadCurrentCart.ts
Due: commercetools-composables

Updated changelogs
  packages/core/docs/contributing/changelog.md
  packages/core/docs/shopify/changelog.md
Due: none

Better console logs for composables
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
Due: commercetools-composables

Same as previously for shipping
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
Due: none

Same here
  packages/commercetools/composables/src/index.ts
Due: commercetools-composables

It probably shouldn't be part of this PR
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
Due: commercetools-composables

Billing single param and access to addresses
  packages/core/core/src/factories/useUserBillingFactory.ts
Due: none

Simple mocks
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
Due: commercetools-composables

User Shipping Factory
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/types.ts
Due: none

It should respond with addresses
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/types.ts
Due: none

useUserShippingFactory tests
  packages/core/core/__tests__/factories/useUserShippingFactory.spec.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
Due: none

Default address available
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
Due: none

useUserBilling tests
  packages/core/core/__tests__/factories/useUserBillingFactory.spec.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
Due: none

Export new factories
  packages/core/core/src/factories/index.ts
Due: none

Got rid of useless interface, and setting defaultAddress in setDefault
  packages/core/core/src/factories/useUserBillingFactory.ts
Due: none

Marked as readonly
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
Due: none

useUserBilling almost same as for Shipping
  packages/core/core/src/factories/useUserBillingFactory.ts
Due: none

Changelog update
  packages/core/docs/contributing/changelog.md
Due: none

Add K8s production setup to docs
  docs/guide/installation/production-setup.md
Due: none

Fix for removeCode
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

Add more review getters / refactor reviews factory
  packages/commercetools/api-client/src/api/addReview/index.ts
  packages/commercetools/api-client/src/api/getReview/index.ts
  packages/commercetools/composables/__tests__/getters/reviewHelpers.spec.ts
  packages/commercetools/composables/__tests__/useReview/useReview.spec.ts
  packages/commercetools/composables/src/getters/reviewGetters.ts
  packages/commercetools/composables/src/types/GraphQL.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/commercetools/theme/pages/Product.vue
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Add doc outline
  docs/guide/installation/production-setup.md
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
