Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

refactor: updates form validation scheme for street, number and city (#6122)
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/changelog/6122.js
  packages/core/docs/commercetools/changelog/6122.js
  packages/core/nuxt-theme-module/theme/pages/Checkout/Billing.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
Due: none

fix(commercetools:theme): fixed publicRuntimeConfig location in nuxt.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/themeConfig.js
Due: none

refactor(boilerplate:theme): applied the new interface to removeCoupon
  packages/boilerplate/composables/src/useCart/index.ts
Due: none

refactor(commercetools:theme): rollback the interfaces of applyCoupon
  packages/commercetools/theme/components/Checkout/CartPreview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: none

refactor(core): applied the new interface to removeCoupon
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: none

refactor(commercetools:composables): updated the removeCoupon method
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

docs(commercetools): created the documentation for the removeCoupon
  packages/core/docs/commercetools/composables/use-cart.md
Due: none

docs(core): created the docs for the removeCoupon method
  packages/core/docs/guide/cart-and-wishlist.md
Due: none

docs(migrate): changed migrate to 2.4 and applied the correct method
  packages/core/docs/migrate/2.4.0/integrators.md
  packages/core/docs/migrate/2.4.0/overview.md
  packages/core/docs/migrate/2.4.0/projects.md
Due: none

chore: updated changelogs for PR #6126
  packages/core/docs/changelog/6126.js
  packages/core/docs/commercetools/changelog/6126.js
Due: none

docs(migrate): fixed some leftovers and typos
  packages/core/docs/migrate/2.4.0/overview.md
Due: none

docs: added CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

docs: added CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

docs: added LICENSE.md
  LICENSE.md
Due: none

chore: added .gitpod.yml
  .gitpod.yml
Due: none

chore: added .editorconfig
  .editorconfig
Due: none

chore: added commitlint and commitizen
  .czrc
  commitlint.config.js
  package.json
  yarn.lock
Due: none

chore: updated package.json to fix commitizen
  .czrc
  README.md
  package.json
  yarn.lock
Due: none

refactor(boilerplate:composables): applied lint rules, and removed COUPON generic
  packages/boilerplate/composables/src/useCart/index.ts
Due: none

refactor(commercetools:composables): applied lint rules, and removed COUPON generic
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
Due: commercetools-composables

refactor(core): applied lint rules, and removed COUPON generic
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: none

fix-#6132(ct:api-client): add total to query
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
Due: commercetools-api-client

fix-#6132(ct:composable): return all orders from query
  packages/commercetools/composables/src/useUserOrder/index.ts
Due: commercetools-composables

fix-#6132(core): change default orders value
  packages/core/core/src/factories/useUserOrderFactory.ts
Due: none

fix-#6132(ct:composable): create getOrdersTotal getter
  packages/commercetools/composables/src/getters/orderGetters.ts
Due: commercetools-composables

fix-#6132(core:theme): adjust template to new orders
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: none

fix-#6132(core/ct): fix unit tests
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrder.spec.ts
  packages/core/core/__tests__/factories/useUserOrderFactory.spec.ts
Due: commercetools-composables

fix-#6132(core): add changelogs
  packages/core/docs/changelog/6132.js
  packages/core/docs/commercetools/changelog/6132.js
Due: none

fix-#6132(docs): add docs for new changes
  packages/boilerplate/composables/src/getters/orderGetters.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/composables/use-user-order.md
Due: none

fix-#6132(test): fix types and tests
  packages/commercetools/composables/__tests__/getters/orderHelpers.spec.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

feat: api ref update
  .github/workflows/deploy-docs.yml
  package.json
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/src/index.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/Dockerfile
  packages/core/docs/package.json
  packages/core/docs/typedoc-vsf-theme/helpers/helpers.js
  packages/core/docs/typedoc-vsf-theme/partials/main.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.declaration.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.hbs
  packages/core/docs/typedoc-vsf-theme/partials/member.signature.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.group.hbs
  packages/core/docs/typedoc-vsf-theme/partials/members.hbs
  packages/core/docs/typedoc-vsf-theme/partials/title.hbs
  packages/core/docs/typedoc-vsf-theme/removeFiles.js
  packages/core/docs/typedoc-vsf-theme/removeText.js
  packages/core/docs/typedoc-vsf-theme/templates/index.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.hbs
  packages/core/docs/typedoc-vsf-theme/templates/reflection.member.hbs
  packages/core/docs/typedoc-vsf-theme/theme.js
  packages/tsconfig.base.json
  yarn.lock
Due: commercetools-api-client

Update
  packages/core/docs/.vuepress/components/IntegrationList.vue
  packages/core/docs/.vuepress/components/IntegrationTile.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/integrations.js
  packages/core/docs/.vuepress/public/integrations-logos/Adyen.svg
  packages/core/docs/.vuepress/public/integrations-logos/Contentful.svg
  packages/core/docs/.vuepress/public/integrations-logos/Shopify.svg
  packages/core/docs/.vuepress/public/integrations-logos/Storyblok.svg
  packages/core/docs/.vuepress/public/integrations-logos/algolia.svg
  packages/core/docs/.vuepress/public/integrations-logos/auth0.svg
  packages/core/docs/.vuepress/public/integrations-logos/bloomreach.png
  packages/core/docs/.vuepress/public/integrations-logos/commercetools.svg
Due: none

Update
  packages/core/docs/.vuepress/config.js
Due: none

test
  .github/workflows/deploy-docs.yml
Due: none

test
  packages/core/docs/package.json
Due: none

test
  packages/core/docs/Dockerfile
  packages/core/docs/package.json
Due: none

docs: commercetools adapter
  packages/core/docs/integrations/algolia.md
Due: none

test
  packages/core/docs/Dockerfile
Due: none

Fix validate boilerplate
  package.json
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
