Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

Fixed
  test/unit/setupTestEnvironment.ts
Due: none

Updated Changelog.md file(#5071)
  CHANGELOG.md
Due: none

Fixed some typos in docs/guide/cookbook/checklist.md (#5071)
  docs/guide/cookbook/checklist.md
Due: none

Fixed: some typos in docs/guide/general/introduction.md (#5071)
  docs/guide/general/introduction.md
Due: none

Fixed: some typos in docs/guide/core-themes/layouts.md (#5071)
  docs/guide/core-themes/layouts.md
Due: none

Fixed: some typos in docs/guide/core-themes/core-components.md (#5071)
  docs/guide/core-themes/core-components.md
Due: none

Fixed: some typos in docs/guide/core-themes/service-workers.md (#5071)
  docs/guide/core-themes/service-workers.md
Due: none

composables docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/composables/rules-and-best-practices.md
  packages/core/docs/composables/use-cart.md
  packages/core/docs/composables/use-category.md
  packages/core/docs/composables/use-facet.md
  packages/core/docs/composables/use-product.md
  packages/core/docs/composables/use-user-billing.md
  packages/core/docs/composables/use-user-shipping.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/composables/use-wishlist.md
Due: none

basic composables docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/composables/rules-and-best-practices.md
  packages/core/docs/composables/use-cart.md
  packages/core/docs/composables/use-category.md
  packages/core/docs/composables/use-content.md
  packages/core/docs/composables/use-product.md
  packages/core/docs/composables/use-review.md
  packages/core/docs/composables/use-user-shipping.md
  packages/core/docs/composables/use-user.md
  packages/core/docs/composables/use-wishlist.md
  packages/core/docs/integrate/cms.md
Due: none

correct i18n docs
  packages/core/docs/general/i18n.md
Due: none

UPDATE REVIEWS
  packages/core/docs/composables/use-review.md
Due: none

Fixed: some typos in docs/guide/integrations/multistore.md (#5071)
  docs/guide/integrations/multistore.md
Due: none

Fixed: some typos in docs/guide/data-resolvers (#5071)
  docs/guide/data-resolvers/introduction.md
  docs/guide/data-resolvers/user-service.md
Due: none

Fixed: some typos in docs/guide/cookbook/setup.md (#5071)
  docs/guide/cookbook/setup.md
Due: none

Fixed: some typos in docs/guide/upgrade-notes/README.md (#5071)
  docs/guide/upgrade-notes/README.md
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

fix: formatPrice added
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: none

Handle cart version missmatch
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

Update
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

Improve syntax for `getUrl` token replacement
  core/lib/sync/task.ts
Due: none

Update changelog
  packages/core/docs/commercetools/changelog.md
Due: none

Handle cart version missmatch (#5264)
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/core/docs/commercetools/changelog.md
Due: commercetools-api-client

context standarize
  packages/commercetools/theme/middleware/checkout.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/docs/general/context.md
  packages/core/nuxt-module/helpers/index.js
  packages/core/nuxt-module/lib/plugins/context.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

context standarize
  packages/core/docs/general/context.md
Due: none

context standarize
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserBillingAddress.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/commercetools/theme/composables/useUiHelpers/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/core/src/utils/shared/index.ts
  packages/core/docs/general/context.md
  packages/core/nuxt-module/lib/plugins/context.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: commercetools-composables

context standarize
  packages/commercetools/theme/nuxt.config.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

context standarize
  packages/core/core/src/utils/nuxt/index.ts
Due: none

context standarize
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/utils/index.ts
Due: none

context standarize
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/utils/context/index.ts
  packages/core/core/src/utils/nuxt/index.ts
Due: none

context standarize
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/src/index.ts
  packages/core/core/src/utils/nuxt/index.ts
Due: commercetools-composables

fix core
  packages/core/core/__tests__/factories/apiClientFactory.spec.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/__tests__/factories/useCategoryFactory.spec.ts
  packages/core/core/__tests__/factories/useContentFactory.spec.ts
  packages/core/core/__tests__/factories/useProductFactory.spec.ts
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/__tests__/factories/useWishlistFactory.spec.ts
  packages/core/core/__tests__/setup.ts
  packages/core/core/__tests__/utils/shared.spec.ts
Due: none

tests
  packages/commercetools/api-client/__tests__/api/createCart/createCart.spec.ts
  packages/commercetools/api-client/__tests__/api/createMyOrderFromCart/createMyOrderFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/customerChangeMyPassword/customerChangeMyPassword.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeIn/customerSignMeIn.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeUp/customerSignMeUp.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignOut/customerSignOut.spec.ts
  packages/commercetools/api-client/__tests__/api/getCart/getCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getCategory/getCategory.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getMyOrders/getMyOrders.spec.ts
  packages/commercetools/api-client/__tests__/api/getProducts/getProducts.spec.ts
  packages/commercetools/api-client/__tests__/api/getShippingMethods/getShippingMethods.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/addToCart.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/applyCartCoupon.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/removeCartCoupon.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/removeFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateCart.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateCartQuantity.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart/updateShippingDetails.spec.ts
  packages/commercetools/api-client/__tests__/helpers/createCommerceToolsLink.spec.ts
  packages/commercetools/api-client/__tests__/helpers/isTokenUserSession.spec.ts
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/__tests__/helpers/setup.spec.ts
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/jest.config.js
Due: commercetools-api-client

Rethrow errors in factories
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
Due: none

Rethrow errors in factories (#5269)
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
Due: none

fix composables
  packages/commercetools/composables/__tests__/getters/_formatPrice.spec.ts
  packages/commercetools/composables/__tests__/useCart/currentCart.spec.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useCategory/useCategory.spec.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/commercetools/composables/__tests__/useUserOrders/useUserOrders.spec.ts
Due: commercetools-composables
