Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Fixed tests
  packages/checkout-com/__tests__/configuration.spec.ts
  packages/checkout-com/__tests__/index.spec.ts
  packages/checkout-com/__tests__/payment.spec.ts
Due: none

Readme update
  packages/checkout-com/README.md
Due: none

Sending whole AgnosticCoupon to removeCoupon
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

fix(ayc): test & 4th arg for generic
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
  packages/about-you/composables/src/composables/getters/cartGetters.ts
  packages/about-you/composables/src/composables/useCart/factoryParams.ts
  packages/about-you/composables/src/composables/useCart/index.ts
Due: none

fix(shopify): update cartGetters
  packages/shopify/composables/src/composables/getters/cartGetters.ts
Due: none

composition api quickfix
  packages/core/nuxt-module/package.json
  yarn.lock
Due: none

fix(coupons): persistent and removable in core and ct
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/helpers/internals/getCouponsFromCart.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-module/package.json
  yarn.lock
Due: commercetools-composables

fix(coupon): cart tests
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
Due: commercetools-composables

Fixed mock in user tests
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
Due: commercetools-composables

fix(ayc): cartGetters update and test for it
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
  packages/about-you/composables/src/composables/getters/cartGetters.ts
Due: none

fix(shopify): cartGetters update and test for it
  packages/shopify/composables/src/composables/getters/cartGetters.ts
  packages/shopify/composables/src/composables/useCart/index.ts
Due: none

feat: created composable useUiState instead ui-state.ts
  packages/about-you/theme/components/AppHeader.vue
  packages/commercetools/theme/pages/Checkout/PersonalDetails.vue
  packages/core/core/__tests__/composables/useUiState.spec.ts
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/theme/assets/ui-state.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/components/TopBar.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/composables/index.ts
  packages/core/nuxt-theme-module/theme/composables/useUiState.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/shopify/theme/components/AppHeader.vue
  packages/shopify/theme/components/CartSidebar.vue
  packages/shopify/theme/components/LoginModal.vue
  yarn.lock
Due: none

Update useReview docs, export custom query helper
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/theme/nuxt.config.js
  packages/core/docs/commercetools/use-review.md
  packages/core/docs/core/use-review.md
Due: commercetools-api-client

Remove _rating from product
  packages/commercetools/composables/src/helpers/internals/enhanceProduct.ts
Due: commercetools-composables

Update changelog
  packages/core/docs/commercetools/changelog.md
Due: none

fix: params none optional
  packages/core/core/src/types.ts
Due: none

chore: typo
  packages/core/core/src/factories/useContentFactory.ts
Due: none

revert: optional params
  packages/core/core/src/factories/useContentFactory.ts
Due: none

Update useFactoryReview
  packages/core/core/src/factories/useReviewFactory.ts
Due: none

Update typings for UseReview methods
  packages/core/core/src/types.ts
Due: none

CLI Version bump & published, .lock update
  packages/core/cli/package.json
  yarn.lock
Due: none

Updated lock
  yarn.lock
Due: none

Lock update
  yarn.lock
Due: none

check for no_selection in image attributes #4908
  core/modules/catalog/helpers/index.ts
Due: none

New lock
  yarn.lock
Due: none

check for no_selection in image attributes #4908
  CHANGELOG.md
Due: none

Update packages/about-you/theme/components/AppHeader.vue
  packages/about-you/theme/components/AppHeader.vue
Due: none

logger implementation
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/core/src/factories/useCategoryFactory.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserOrdersFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/factories/useWishlistFactory.ts
  packages/core/core/src/types.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/logger/index.ts
  packages/core/nuxt-module/lib/module.js
Due: none

logger implementation
  packages/core/nuxt-module/lib/plugins/logger.js
Due: none

logger implementation
  packages/core/core/src/factories/apiClientFactory.ts
  packages/core/core/src/types.ts
  packages/core/core/src/utils/logger/defaultLogger.ts
  packages/core/core/src/utils/logger/index.ts
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/logger.js
Due: none

logger implementation
  packages/core/core/src/factories/useCartFactory.ts
Due: none

update tests
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
  packages/core/core/__tests__/factories/useUserOrdersFactory.spec.ts
  packages/core/core/__tests__/setup.ts
  packages/core/core/__tests__/utils/loggerFactory.spec.ts
  packages/core/core/src/utils/logger/defaultLogger.ts
Due: commercetools-composables

[Docs] Update devops
  docs/guide/cookbook/devops.md
Due: none

masking + custom logger
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/testLogger.js
  packages/core/core/__tests__/setup.ts
  packages/core/core/__tests__/utils/loggerFactory.spec.ts
  packages/core/core/__tests__/utils/mask.spec.ts
  packages/core/core/src/factories/useUserFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
  packages/core/core/src/utils/index.ts
  packages/core/core/src/utils/logger/index.ts
  packages/core/core/src/utils/logger/mask.ts
  packages/core/nuxt-module/lib/plugins/logger.js
Due: none

update docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/.vuepress/public/vuelogo.jpg
  packages/core/docs/README.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/getting-started.md
  packages/core/docs/get-started/README.md
  packages/core/docs/get-started/api-design-philosophy.md
  packages/core/docs/get-started/themes.md
  packages/core/docs/images/faceting.jpg
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/available-integrations.md
  packages/core/docs/integrations/step-by-step-guide.md
  packages/core/docs/vsf-core/README.md
  packages/core/docs/vsf-core/changelog.md
  packages/core/docs/vsf-core/faceting.md
  packages/core/docs/vsf-core/i18n.md
  packages/core/docs/vsf-core/server-side-rendering.md
Due: none

code review
  packages/core/docs/.vuepress/config.js
  packages/core/docs/README.md
  packages/core/docs/commercetools/use-facet.md
  packages/core/docs/get-started/README.md
  packages/core/docs/integrations/available-integrations.md
  packages/core/docs/integrations/step-by-step-guide.md
  packages/core/docs/vsf-core/README.md
  packages/core/docs/vsf-core/faceting.md
Due: none

changelogs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/vsf-core/changelog.md
Due: none

Improve typing for custom queries
  packages/boilerplate/composables/src/composables/useReview/index.ts
  packages/commercetools/composables/src/useReview/index.ts
  packages/core/core/src/factories/useReviewFactory.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

Export 'graphql-tag' for plugins to use
  packages/commercetools/api-client/src/index.ts
Due: commercetools-api-client

code review
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/use-facet.md
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
