Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

chore(ct): useCheckout custom query added
  packages/commercetools/composables/src/useCheckout/createLoadDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetBillingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
Due: commercetools-composables

fix problem with reaching / and /de for default store
  core/lib/multistore/index.ts
Due: none

use 'url' for defaultStoreCode storeView
  core/lib/multistore/index.ts
  core/lib/multistore/test/unit/localizedRoute.spec.ts
Due: none

remove leading slash for mapping fallback
  core/lib/multistore/test/unit/removeLocalization.spec.ts
  core/modules/catalog-next/store/category/getters.ts
  core/modules/url/store/actions.ts
Due: none

clear code
  core/modules/url/store/actions.ts
Due: none

fix: input in payment fixed
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: none

Resolve conflicts
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  yarn.lock
Due: none

chore: update changelog
  packages/core/docs/contributing/changelog.md
Due: none

Add changes to CHANGELOG
  CHANGELOG.md
Due: none

Remove vue-lazyload from core
  CHANGELOG.md
  core/app.ts
  core/package.json
  docs/guide/upgrade-notes/README.md
  yarn.lock
Due: none

Update translation docs
  docs/guide/core-themes/translations.md
Due: none

Update changelog
  packages/core/docs/contributing/changelog.md
Due: none

Fix test
  packages/core/cli/__tests__/utils/helpers.spec.ts
Due: none

add setConfig plugin for cypress
  .gitignore
  package.json
  test/e2e/integration/set-config.js
  test/e2e/plugins/index.js
Due: none

update changelog
  CHANGELOG.md
Due: none

update script in package.json for e2e
  package.json
Due: none

Use correct command name
  docs/guide/basics/ssr-cache.md
Due: none

Fix typo in docs
  docs/guide/basics/configuration.md
Due: none

Use address fragments and add isDefault checkbox to address form
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
Due: commercetools-api-client

Add more userShippingGetters and make template platform-agnostic (#5032)
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/package.json
  packages/commercetools/composables/src/getters/userShippingGetters.ts
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
  packages/commercetools/theme/components/UserShippingAddress.vue
  packages/commercetools/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/core/src/types.ts
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/enterprise/use-user-shipping.md
  packages/core/docs/commercetools/use-user-shipping.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/use-review.md
  packages/core/docs/core/use-user-shipping.md
  packages/core/nuxt-theme-module/theme/components/MyAccount/PasswordResetForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/ProfileUpdateForm.vue
  packages/core/nuxt-theme-module/theme/components/MyAccount/ShippingAddressForm.vue
  packages/core/nuxt-theme-module/theme/components/UserShippingAddress.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
  yarn.lock
Due: commercetools-api-client, commercetools-composables

init
  package.json
  packages/commercetools/composables/src/getters/cartGetters.ts
  packages/commercetools/composables/src/getters/productGetters.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/core/core/src/factories/useProductFactory.ts
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: commercetools-composables

chore(core): create order custom query
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
Due: commercetools-api-client, commercetools-composables

chore(core): loading shipping custom query
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/api-client/src/api/updateShippingDetails/index.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
Due: commercetools-api-client, commercetools-composables

Bump versions and fix getters
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/composables/src/composables/getters/userShippingGetters.ts
  packages/boilerplate/theme/package.json
  packages/core/nuxt-theme-module/theme/components/UserShippingAddress.vue
  yarn.lock
Due: none

Remove unnecessary component from MyAccount
  packages/boilerplate/theme/pages/MyAccount/ShippingDetails.vue
Due: none

Update changelog.md
  packages/core/docs/contributing/changelog.md
Due: none

test(ct): create my order with custom query, corrects
  packages/commercetools/api-client/__tests__/api/createMyOrderFromCart/createMyOrderFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getMyOrders/getMyOrders.spec.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/helpers/queries/index.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
Due: commercetools-api-client, commercetools-composables

chore(ct): missing custom query types
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getMyOrders/index.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/api/updateShippingDetails/index.ts
Due: commercetools-api-client

test(ct): missing optional custom qyery
  packages/commercetools/api-client/src/api/removeFromCart/index.ts
  packages/commercetools/api-client/src/api/updateShippingDetails/index.ts
Due: commercetools-api-client

update yarn.lock
  yarn.lock
Due: none

add new e2e tests for multistore
  test/e2e/integration/multistore-domain.js
  test/e2e/integration/multistore-prefixes.js
  test/e2e/integration/set-config.js
Due: none

update multistore configuration in docs
  docs/guide/archives/cookbook.md
  docs/guide/basics/configuration.md
  docs/guide/cookbook/setup.md
  docs/guide/integrations/multistore.md
Due: none

remove default multistore configuration and add it to docs
  config/default.json
Due: none

support empty or invalid mapStoreUrlsFor
  core/lib/multistore/getStoreViewByStoreCode.ts
  core/lib/multistore/index.ts
  core/lib/multistore/removeLocalization.ts
  core/lib/multistore/storeCodeFromRoute.ts
  core/lib/multistore/test/unit/storeCodeFromRoute.spec.ts
  core/modules/breadcrumbs/test/unit/parseCategoryPath.spec.ts
  core/modules/url/helpers/index.ts
  core/modules/url/test/unit/helpers/formatCategoryLink.spec.ts
  docs/guide/basics/configuration.md
  test/e2e/integration/multistore/domain.js
  test/e2e/integration/multistore/enable.js
  test/e2e/integration/multistore/internal-prefixes.js
Due: none

add info about e2e tests
  docs/guide/integrations/multistore.md
Due: none

update upgrade notes about multistore
  docs/guide/upgrade-notes/README.md
Due: none

chore(ct): user billing composables update to match new interface
  packages/commercetools/composables/src/getters/userBillingGetters.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
Due: commercetools-composables

refactor: userBillingGetters interface and useuserbilling refactor
  packages/core/core/__tests__/factories/useUserBillingFactory.spec.ts
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/types.ts
Due: none
