Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Update packages/core/docs/general/context.md
  packages/core/docs/general/context.md
Due: none

Update packages/core/docs/integrate/integration-guide.md
  packages/core/docs/integrate/integration-guide.md
Due: none

Apply suggestions from code review
  packages/core/docs/general/context.md
  packages/core/docs/integrate/integration-guide.md
Due: none

refactor: removed redundant step
  src/modules/client.ts
  src/modules/device/README.md
Due: none

chore: typo fix
  src/modules/device/README.md
Due: none

fix: cr fixes
  packages/core/nuxt-theme-module/theme/components/InstagramFeed.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
Due: none

update context docs
  packages/core/docs/general/context.md
  packages/core/docs/integrate/integration-guide.md
Due: none

update context docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/migrate/index.md
  packages/core/docs/migrate/integrators.md
  packages/core/docs/migrate/projects.md
Due: none

update context docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/migrate/index.md
  packages/core/docs/migrate/integrators-rc1.md
  packages/core/docs/migrate/projects-rc1.md
Due: none

update context docs
  packages/core/docs/composables/use-user.md
Due: none

update context docs
  packages/core/docs/integrate/integration-guide.md
Due: none

Release Candidate 1
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/cli/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-api-client, commercetools-composables

Release Candidate 1
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cli/package.json
Due: commercetools-api-client, commercetools-composables

Reduce Total Blocking Time
  packages/boilerplate/theme/package.json
  packages/core/nuxt-theme-module/package.json
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  yarn.lock
Due: none

Missing v-if
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: none

mock for boilerplate and test case for onlyParents
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/boilerplate/theme/static/megamenu/bannerA.png
  packages/boilerplate/theme/static/megamenu/bannerB.png
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
Due: commercetools-api-client

change png to webp
  packages/boilerplate/theme/static/megamenu/bannerA.png
  packages/boilerplate/theme/static/megamenu/bannerA.webp
  packages/boilerplate/theme/static/megamenu/bannerB.png
  packages/boilerplate/theme/static/megamenu/bannerB.webp
  packages/commercetools/theme/static/megamenu/bannerA.png
  packages/commercetools/theme/static/megamenu/bannerA.webp
  packages/commercetools/theme/static/megamenu/bannerB.png
  packages/commercetools/theme/static/megamenu/bannerB.webp
Due: none

remove unused import
  packages/commercetools/theme/components/AppHeader.vue
Due: none

customQuery for Ct
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/queries/rootCategoriesMenuWithoutChildrenQuery.ts
Due: none

fixes from cr
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: commercetools-api-client

add mega menu
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/theme/static/megamenu/bannerA.png
  packages/commercetools/theme/static/megamenu/bannerB.png
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Due: commercetools-api-client

fixes from cr
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/queries/topCategories.ts
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: commercetools-api-client

Added lodash.debounce
  packages/commercetools/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/package.json
Due: none

fixes from cr
  packages/commercetools/api-client/src/api/getCategory/defaultQuery.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/queries/topCategories.ts
Due: commercetools-api-client

Docker Compose 3.0 without network_mode
  docker-compose.yml
Due: none

Use StorageManager properly
  core/modules/url/store/actions.ts
Due: none

Init StorageManager properly
  core/modules/url/index.ts
Due: none

Remove duplicate import of '@vue-storefront/core/helpers'
  core/scripts/resolvers/resolveGraphQL.js
Due: none

Removed hardcoded values for createPassword_endpoint url
  config/default.json
Due: none

Decompress items in `api-search-query` adapter
  config/default.json
  core/lib/search/adapter/api-search-query/searchAdapter.ts
Due: none

Fixes calling indexOf() on non-strings in filterAttributes.ts file
  core/modules/catalog/helpers/filterAttributes.ts
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
