Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

omit totals for product comparision
  core/helpers/index.ts
Due: none

update changelog
  CHANGELOG.md
Due: none

feat(ayc-theme): implement category tree
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
  packages/about-you/theme/helpers/category/getCategoryUrl.js
  packages/core/theme-module/theme/helpers/category/getCategoryUrl.js
  packages/core/theme-module/theme/helpers/category/index.js
  packages/core/theme-module/theme/pages/Category.vue
Due: none

fix(core-theme): fix CT getCategoryUrl
  packages/core/theme-module/theme/helpers/category/getCategoryUrl.js
Due: none

Improve state update in `populateProductConfigurationAsync`
  core/modules/catalog/helpers/index.ts
Due: none

chore(docs): api design philosophy
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/api-design-philosophy.md
  packages/core/docs/integration/api-client.md
Due: none

chore(docs): update README
  README.md
Due: none

chore(docs) update url to docs
  README.md
Due: none

Add custom `formatValue` and `round` filter in `icmaa-config` module
  src/modules/icmaa-config/helpers/price.ts
  src/modules/icmaa-config/index.ts
Due: none

Bugfixes for price-formatting in `MyOrders` and several property-types
  src/modules/icmaa-google-tag-manager/store/index.ts
  src/modules/icmaa-tracking/components/TrackingLink.vue
  src/themes/icmaa-imp/components/core/blocks/MyAccount/MyOrder.vue
  src/themes/icmaa-imp/components/core/blocks/MyAccount/MyOrders.vue
Due: none

#187376 Change key-names in DataLayer of `icmaa-google-tag-manager` (#307)
  src/modules/icmaa-google-tag-manager/mixins/checkoutSuccessGtm.ts
Due: none

#198736 & #198728 Add preorder info to PDP (#306)
  src/themes/icmaa-imp/components/core/blocks/Product/ProductPreorder.vue
  src/themes/icmaa-imp/pages/Product.vue
  src/themes/icmaa-imp/resource/i18n/cs-CZ.csv
  src/themes/icmaa-imp/resource/i18n/de-DE.csv
  src/themes/icmaa-imp/resource/i18n/en-US.csv
  src/themes/icmaa-imp/resource/i18n/es-ES.csv
  src/themes/icmaa-imp/resource/i18n/fi-FI.csv
  src/themes/icmaa-imp/resource/i18n/fr-FR.csv
  src/themes/icmaa-imp/resource/i18n/it-IT.csv
  src/themes/icmaa-imp/resource/i18n/nl-NL.csv
  src/themes/icmaa-imp/resource/i18n/pl-PL.csv
  src/themes/icmaa-imp/resource/i18n/pt-BR.csv
  src/themes/icmaa-imp/resource/i18n/sv-SE.csv
Due: none

chore: fix build command for Windows environment
  package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  yarn.lock
Due: commercetools-api-client, commercetools-composables

fix(core-theme): rename getCategoryUrl helper to getCategoryPath
  packages/about-you/theme/helpers/category/getCategoryPath.js
  packages/about-you/theme/helpers/category/getCategoryUrl.js
  packages/core/theme-module/theme/helpers/category/getCategoryPath.js
  packages/core/theme-module/theme/helpers/category/index.js
  packages/core/theme-module/theme/pages/Category.vue
Due: none

Updated partners: Hotwax, NetSteps, Retail Insight
  README.md
Due: none

fix mostly infra isuses
  .travis.yml
  dev/docker/Dockerfile
  lerna.json
  package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/theme-module/theme/components/AppHeader.vue
  packages/core/theme-module/theme/components/RelatedProducts.vue
  packages/core/theme-module/theme/pages/Category.vue
  yarn.lock
Due: commercetools-composables

feat: adjusted order details
  packages/commercetools/theme/package.json
  packages/core/theme-module/theme/pages/Checkout.vue
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Checkout/Payment.vue
  packages/core/theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/theme-module/theme/pages/Checkout/Shipping.vue
  yarn.lock
Due: none

fix: small spacing and alingment fixes
  packages/core/theme-module/theme/components/checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Category.vue
  packages/core/theme-module/theme/pages/Checkout.vue
  packages/core/theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/theme-module/theme/pages/Checkout/Payment.vue
  packages/core/theme-module/theme/pages/Checkout/PersonalDetails.vue
  packages/core/theme-module/theme/pages/Checkout/Shipping.vue
Due: none

fix mostly infra isuses
  package.json
Due: none

fix mostly infra isuses
  .travis.yml
  dev/docker/Dockerfile
Due: none

refactor: refactored filters on mobile
  packages/core/theme-module/theme/pages/Category.vue
Due: none

fix: spacer adjustments
  packages/core/theme-module/theme/components/LoginModal.vue
  packages/core/theme-module/theme/components/checkout/OrderReview.vue
Due: none

fix: self cr fix
  packages/core/theme-module/theme/components/CartSidebar.vue
Due: none

fix: heading level
  packages/core/theme-module/theme/pages/Product.vue
Due: none

change settings position
  packages/about-you/theme/plugins/about-you-config.js
  packages/about-you/theme/plugins/about-you.js
Due: none

settings successfully moved to theme plugin
  packages/about-you/api-client/src/index.ts
Due: none

update version
  CHANGELOG.md
  core/i18n/package.json
  core/package.json
  docs/package.json
  package.json
  src/themes/default-amp/package.json
  src/themes/default/package.json
  test/unit/package.json
Due: none

moved
  packages/about-you/api-client/src/index.ts
Due: none

added types for setupConfig
  packages/about-you/api-client/src/index.ts
  packages/about-you/api-client/src/types/setup.ts
Due: none

fix mostly infra isuses
  packages/core/core/src/factories/useCartFactory.ts
Due: none

fix workflow, use token introspection
  .github/workflows/deploy-storefrontcloud.yml
  .github/workflows/publish-canary.yml
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
Due: commercetools-api-client

publish CT
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
Due: commercetools-api-client, commercetools-composables

remove canary version for CT
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
Due: commercetools-api-client, commercetools-composables

remove canary version for CT
  packages/commercetools/composables/package.json
  yarn.lock
Due: commercetools-composables

fix tests
  core/modules/url/test/unit/store/actions.spec.ts
Due: none

fix token introspection
  packages/commercetools/api-client/__tests__/helpers/tokenFlow.spec.ts
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
Due: commercetools-api-client

update hook type
  core/server/hooks.ts
Due: none

fix ct token introspection
  packages/commercetools/api-client/src/helpers/createAccessToken/index.ts
Due: commercetools-api-client

feat(ayc): category pagination & category composables tests
  packages/about-you/composables/__tests__/composables/getters/categoryGetters.spec.ts
  packages/about-you/composables/__tests__/composables/useCategory/factoryParams.spec.ts
  packages/about-you/composables/__tests__/composables/useCategory/index.spec.ts
  packages/about-you/composables/__tests__/helpers/category/mapCategorySearchByPathParams.spec.ts
  packages/about-you/composables/__tests__/helpers/mapProductSearch.spec.ts
  packages/about-you/composables/__tests__/helpers/product/mapProductSearchByQueryParams.spec.ts
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
  packages/about-you/composables/src/composables/useCategory/factoryParams.ts
  packages/about-you/composables/src/composables/useCategory/index.ts
  packages/about-you/composables/src/helpers/category/mapCategorySearchByPathParams.ts
  packages/about-you/composables/src/helpers/index.ts
  packages/about-you/composables/src/helpers/product/mapProductSearchByQueryParams.ts
Due: none
