Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

feat: fetching categories fix
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/useCategory/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/theme/pages/Category.vue
Due: commercetools-composables

Remove redundant unmock call from tests
  packages/commercetools/api-client/__tests__/api/customerUpdateMe.spec.ts
Due: commercetools-api-client

Add changelog file
  packages/core/docs/changelog/6071.js
Due: none

fix: MyAccount page rendering
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: none

chore: add changelog
  packages/core/docs/changelog/6171.js
Due: none

fix-#5886: lint fix
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: none

fix-#5886: cr fixes
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
Due: none

docs: add inventory mode note to ct migration guide
  packages/core/docs/migrate/2.4.0/commercetools.md
Due: none

feat(commercetools): added changeChannel feature
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/__tests__/useStore/factoryParams.spec.ts
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/theme/components/StoreLocaleSelector.vue
Due: commercetools-api-client, commercetools-composables

docs: updated good-practices.md to add projects roadmap
  packages/core/docs/integrate/good-practices.md
Due: none

feat(commercetools): added product Availability
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/theme/components/StoreLocaleSelector.vue
  packages/commercetools/theme/pages/Product.vue
Due: commercetools-api-client

fix(commercetools): wrong prop access
  packages/commercetools/theme/pages/Product.vue
Due: none

fix(commercetools): fix object prop
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/theme/pages/Product.vue
Due: commercetools-api-client

refactor(commercetools:api-client): updated the addToCart method to new signature
  packages/commercetools/api-client/src/api/addToCart/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

refactor(commercetools:composeables): updated the useCart composable to match the addToCart
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

docs(commercetools): added the base changelog
  packages/core/docs/commercetools/changelog/0000.js
Due: none

refactor(commercetools): removed channel cookie
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/api-client/src/types/setup.ts
  packages/commercetools/composables/__tests__/useStore/factoryParams.spec.ts
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

refactor(commercetools): updated changelog
  packages/core/docs/commercetools/changelog/0000.js
  packages/core/docs/commercetools/changelog/6161.js
Due: none

Update packages/core/docs/commercetools/changelog/6161.js
  packages/core/docs/commercetools/changelog/6161.js
Due: none

Allow brackets in the template path on Mac. For example no longers fails when using template path similar to "/My Mac (MacBook Pro)/Desktop/"
  packages/core/cli/src/scripts/createProject/index.ts
Due: none

Added Changelog file.
  changelog/cli-special-characters-template-path.js
Due: none

docs: add multistore note to ct migration guide
  packages/core/docs/migrate/2.4.0/commercetools.md
Due: none

Initial commit
  core/build/webpack.prod.sw.config.ts
  core/scripts/server.ts
  core/service-worker/registration.js
  package.json
Due: none

Improve new ServiceWorker [WIP]
  core/build/webpack.prod.client.config.ts
  core/build/webpack.prod.sw.config.ts
  core/service-worker/index.js
  package.json
Due: none

Debugging
  core/build/webpack.prod.sw.config.ts
  core/service-worker/index.js
Due: none

Add new service-worker using `InjectManifest` webpack module
  core/build/webpack.client.config.ts
  core/build/webpack.prod.sw.config.ts
  core/service-worker/core-service-worker.js
  core/service-worker/index.js
Due: none

Remove `build:sw` from package.json
  package.json
Due: none

Improve SW routing
  core/service-worker/core-service-worker.js
Due: none

Move SW build config to prod build config
  core/build/webpack.client.config.ts
  core/build/webpack.prod.client.config.ts
Due: none

Add documentation
  docs/guide/core-themes/service-workers.md
Due: none

Update `workbox-webpack-plugin`
  package.json
Due: none

Update to workbox `6.2.3`
  package.json
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

Update `yarn.lock` file
  yarn.lock
Due: none

docs: add missing punctuation
  packages/core/docs/migrate/2.4.0/commercetools.md
  packages/core/docs/migrate/2.4.0/integrators.md
  packages/core/docs/migrate/2.4.0/overview.md
Due: none

chore: versions bump - core to 2.4 and ct to 1.3
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-api-client, commercetools-composables

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
