Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Fixes for remove & apply coupon
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

Changelog update
  packages/core/docs/commercetools/changelog.md
Due: none

Add useful k8s & docker links
  docs/guide/installation/production-setup.md
Due: none

Add further editorial
  docs/guide/installation/production-setup.md
Due: none

Readonly changes
  packages/core/core/src/factories/useUserBillingFactory.ts
  packages/core/core/src/factories/useUserShippingFactory.ts
Due: none

CT & core tests fixes
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
Due: commercetools-composables

Cleanup
  packages/commercetools/api-client/src/types/GraphQL.ts
  packages/commercetools/composables/__tests__/useReview/useReview.spec.ts
Due: commercetools-api-client, commercetools-composables

Cleanup
  packages/commercetools/api-client/src/api/addReview/index.ts
  packages/commercetools/api-client/src/api/getReview/index.ts
  packages/commercetools/composables/__tests__/getters/reviewHelpers.spec.ts
Due: commercetools-api-client, commercetools-composables

Fix typings
  packages/commercetools/composables/src/useReview/index.ts
Due: commercetools-composables

Fix useReviewFactory tests
  packages/core/core/__tests__/factories/useReviewFactory.spec.ts
Due: none

Fix useReviewFactory test
  packages/core/core/__tests__/factories/useReviewFactory.spec.ts
Due: none

Fix for ayc test
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
Due: none

coupon -> currentCoupon in the cart factory
  packages/core/core/__tests__/factories/useCartFactory.spec.ts
  packages/core/core/src/factories/useCartFactory.ts
  packages/core/docs/commercetools/changelog.md
Due: none

Fixed tests and changelog
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/core/docs/contributing/changelog.md
Due: commercetools-composables

Add useReview to Boilerplate package
  packages/boilerplate/api-client/src/api/addReview/index.ts
  packages/boilerplate/api-client/src/api/getReview/index.ts
  packages/boilerplate/api-client/src/index.ts
  packages/boilerplate/api-client/src/types.ts
  packages/boilerplate/composables/src/composables/getters/index.ts
  packages/boilerplate/composables/src/composables/getters/reviewGetters.ts
  packages/boilerplate/composables/src/composables/useReview/index.ts
  packages/boilerplate/composables/src/index.ts
  packages/boilerplate/composables/src/types/index.ts
  packages/commercetools/theme/pages/Product.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

Bumped packages versions
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/about-you/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/core/package.json
Due: commercetools-api-client, commercetools-composables

Improve reviews in Boilerplate and simplify in CT
  packages/boilerplate/api-client/src/api/addReview/index.ts
  packages/boilerplate/api-client/src/api/getReview/index.ts
  packages/boilerplate/api-client/src/types.ts
  packages/boilerplate/composables/src/composables/getters/reviewGetters.ts
  packages/commercetools/api-client/src/api/addReview/index.ts
  packages/commercetools/api-client/src/api/getReview/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/src/getters/reviewGetters.ts
  packages/commercetools/composables/src/useReview/index.ts
Due: commercetools-api-client, commercetools-composables

Cleanup and remove review tests from CT
  packages/boilerplate/api-client/src/api/addReview/index.ts
  packages/boilerplate/api-client/src/api/getReview/index.ts
  packages/boilerplate/api-client/src/index.ts
  packages/boilerplate/api-client/src/types.ts
  packages/boilerplate/composables/src/composables/useReview/index.ts
  packages/boilerplate/composables/src/index.ts
  packages/commercetools/composables/__tests__/getters/reviewHelpers.spec.ts
  packages/commercetools/composables/__tests__/useReview/useReview.spec.ts
  packages/commercetools/composables/src/getters/reviewGetters.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useReview/index.ts
Due: commercetools-composables

Simplify mocked review getters in Boilerplate
  packages/boilerplate/composables/src/composables/getters/reviewGetters.ts
Due: none

coupon -> currentCoupon inside test
  packages/about-you/composables/__tests__/composables/useCart/factoryParams.spec.ts
Due: none

Introduce Elastic Cloud on Kubernetes
  docs/guide/installation/production-setup.md
Due: none

Changelog update
  packages/core/docs/contributing/changelog.md
Due: none

docs(k8s): add elastic search instructions
  docs/guide/installation/production-setup.md
Due: none

Fixed
  test/unit/setupTestEnvironment.ts
Due: none

Put reviewGetters in the same import as useReview
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useReview/index.ts
Due: commercetools-composables

[BP] Put reviewGetters in the same import as useReview
  packages/boilerplate/composables/src/composables/getters/index.ts
  packages/boilerplate/composables/src/composables/useReview/index.ts
  packages/boilerplate/composables/src/index.ts
Due: none

Fix changelog
  packages/core/docs/contributing/changelog.md
Due: none

Revert changes io changelog from other PR
  packages/core/docs/commercetools/changelog.md
Due: none

refactor: remove removeURLQueryParameter
  core/lib/multistore.ts
Due: none

refactor: move multistore to separate folder
  core/lib/multistore/index.ts
  core/lib/multistore/storeCodeFromRoute.ts
  core/lib/multistore/test/unit/multistore.spec.ts
  core/lib/storeCodeFromRoute.ts
Due: none

refactor: create test for getNormalizedPath
  core/lib/multistore/helpers.ts
  core/lib/multistore/storeCodeFromRoute.ts
  core/lib/multistore/test/unit/helpers.spec.ts
  core/lib/multistore/test/unit/storeCodeFromRoute.spec.ts
Due: none

refactor: use getNormalizedPath in mutlistore
  core/lib/multistore/index.ts
Due: none

Changes required to run PRO packages
  packages/commercetools/composables/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: commercetools-composables

Revert changes in Category,vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: none

Replaced deprecated action product/list call with findProducts
  CHANGELOG.md
  core/modules/catalog/store/category/actions.ts
  core/modules/url/store/actions.ts
  core/pages/Category.js
  docs/guide/basics/configuration.md
  docs/guide/basics/graphql.md
  docs/guide/basics/url.md
  docs/guide/components/category-page.md
  docs/guide/cookbook/module.md
  docs/guide/cookbook/theme.md
  docs/guide/modules/catalog.md
  docs/guide/upgrade-notes/README.md
  docs/guide/vuex/product-store.md
Due: none

Info for modules installed globally via yarn
  packages/core/cli/README.md
Due: none

introduce useFacet
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/getters/categoryGetters.ts
  packages/commercetools/composables/src/getters/facetGetters.ts
  packages/commercetools/composables/src/getters/index.ts
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/theme/components/Filters.vue
  packages/commercetools/theme/helpers/ui/index.ts
  packages/core/core/src/factories/index.ts
  packages/core/core/src/factories/useFacetFactory.ts
  packages/core/core/src/types.ts
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/helpers/category/getCategoryPath.js
  packages/core/nuxt-theme-module/theme/helpers/category/getCategorySearchParameters.js
  packages/core/nuxt-theme-module/theme/helpers/category/index.js
  packages/core/nuxt-theme-module/theme/helpers/filters/getFiltersForUrl.js
  packages/core/nuxt-theme-module/theme/helpers/filters/getFiltersFromUrl.js
  packages/core/nuxt-theme-module/theme/helpers/filters/index.js
  packages/core/nuxt-theme-module/theme/helpers/ui/index.ts
  packages/core/nuxt-theme-module/theme/pages/Category.vue
Due: commercetools-api-client, commercetools-composables

introduce useFacet
  packages/core/core/src/types.ts
Due: none

fix unit tests
  packages/about-you/composables/src/composables/getters/categoryGetters.ts
Due: none

fix unit tests
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/__tests__/getters/facetHelpers.spec.ts
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
  packages/commercetools/composables/src/getters/_utils.ts
  packages/commercetools/composables/src/getters/facetGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/core/core/__tests__/factories/useFacetFactory.spec.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
