Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

release 2.3.0
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/docs/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Due: commercetools-api-client, commercetools-composables

Update README.md
  README.md
Due: none

Refactoring useCache test
  packages/core/cache/__tests__/useCache.spec.ts
Due: none

27/04/2021 - Patch: filter attributes without options (eg: category_ids).
  core/modules/catalog/helpers/optionLabel.ts
Due: none

27/04/2021 - Updates CHANGELOG.md
  CHANGELOG.md
Due: none

27/04/2021 - Implements suggestions.
  CHANGELOG.md
  core/modules/catalog/helpers/optionLabel.ts
Due: none

chore: i18n doc
  packages/core/docs/commercetools/configuration.md
  packages/core/docs/images/ct-states-checkout.png
  packages/core/docs/images/ct-states-myaccount.png
  packages/core/docs/images/ct-taxes.png
Due: none

Update packages/core/docs/commercetools/configuration.md
  packages/core/docs/commercetools/configuration.md
Due: none

doc update
  packages/core/docs/commercetools/configuration.md
Due: none

27/04/2021 - Implements suggestions.
  core/modules/catalog/helpers/optionLabel.ts
Due: none

feat-#5847: add search by ids functionality
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

feat-#5847: update changelog
  packages/core/docs/changelog/5847.js
Due: none

feat-#5847: update useProduct docs with ids
  packages/core/docs/commercetools/composables/use-product.md
Due: none

feat-#5847: code review fixes
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/core/docs/commercetools/composables/use-product.md
Due: commercetools-api-client

chore: changelog release
  package.json
  packages/core/docs/changelog/5437.js
  packages/core/docs/changelog/5691.js
  packages/core/docs/changelog/5709.js
  packages/core/docs/changelog/5725.js
  packages/core/docs/changelog/5744.js
  packages/core/docs/changelog/5746.js
  packages/core/docs/changelog/5774.js
  packages/core/docs/changelog/5827.js
  packages/core/docs/changelog/5829.js
  packages/core/docs/changelog/5847.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5774.js
  packages/core/docs/commercetools/changelog/5836.js
  packages/core/docs/contributing/changelog.md
Due: none

Add e2e happy path test for registered customer
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/commercetools/theme/tests/e2e/integration/e2e-place-order.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/utils/data-generator.ts
  packages/commercetools/theme/tests/e2e/utils/network.ts
  packages/commercetools/theme/tsconfig.json
  yarn.lock
Due: none

feat-#5851: create scripts for local publish
  package.json
  packages/commercetools/composables/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-composables

feat-#5851: update changelog
  packages/core/docs/changelog/5851.js
Due: none

add args parameter to custom queries
  packages/commercetools/api-client/src/index.server.ts
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/types.ts
  packages/core/docs/guide/composables.md
Due: commercetools-api-client

add args parameter to custom queries
  packages/core/docs/changelog/5854.js
  packages/core/docs/commercetools/changelog/5854.js
  packages/core/docs/guide/composables.md
Due: none

Update devDependencies in boilerplate theme
  packages/boilerplate/theme/package.json
Due: none

feat-#5851: add --force to overwrite old packages
  packages/commercetools/composables/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-composables

test docs
  packages/core/docs/package.json
Due: none

test docs
  .github/workflows/deploy-docs.yml
Due: none

test docs
  .github/workflows/deploy-docs.yml
  package.json
Due: none

rename to metadata
  packages/core/core/src/factories/apiClientFactory/context.ts
  packages/core/core/src/types.ts
  packages/core/docs/guide/composables.md
Due: none

fix: core tests coverage (#5840)
  packages/core/cache/__tests__/useCache.spec.ts
  packages/core/cli/__tests__/commands/generate-template.spec.ts
  packages/core/cli/__tests__/scripts/createTemplate/createTemplate.spec.ts
  packages/core/cli/__tests__/scripts/createTemplate/processMagicCommentsInNuxtConfig.spec.ts
  packages/core/cli/__tests__/scripts/createTemplate/processTemplate.spec.ts
  packages/core/cli/__tests__/utils/getIntegrations.spec.ts
  packages/core/cli/__tests__/utils/themeUtilsConfigTemplate.spec.ts
  packages/core/cli/src/commands/generate-template.ts
  packages/core/cli/src/commands/init.ts
  packages/core/cli/src/scripts/createTemplate/createTemplate.ts
  packages/core/cli/src/scripts/createTemplate/processMagicCommentsInNuxtConfig.ts
  packages/core/cli/src/scripts/createTemplate/processTemplate.ts
  packages/core/cli/src/scripts/initStrategy/customTemplateStrategy.ts
  packages/core/core/__tests__/factories/useMakeOrderFactory.spec.ts
  packages/core/core/__tests__/factories/useShippingProviderFactory.spec.ts
  packages/core/core/__tests__/utils/context.spec.ts
Due: none

rename to metadata
  packages/core/docs/guide/composables.md
Due: none

Move vue.js devtools installation from theme docs
  packages/core/docs/general/installation.md
  packages/core/docs/guide/theme.md
  packages/core/docs/images/general/vs-code-vetur.gif
Due: none

Allow searching by orderNumber
  packages/commercetools/api-client/src/helpers/search/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

Update tests for searching by orderNumber
  packages/commercetools/api-client/__tests__/api/getOrders.spec.ts
Due: commercetools-api-client

fix: eslint warning
  core/scripts/resolvers/resolveGraphQL.js
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
