Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

Update "CLA"
  CLA.md
Due: none

fix: remove hardcoded link
  packages/commercetools/theme/nuxt.config.js
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
Due: none

fix: add modal to home page
  packages/commercetools/theme/components/InstagramFeed.vue
  packages/commercetools/theme/components/MobileStoreBanner.vue
  packages/commercetools/theme/components/NewsletterModal.vue
  packages/commercetools/theme/composables/useUiState.ts
  packages/commercetools/theme/pages/Home.vue
Due: none

feat: add working newsletter modal
  packages/commercetools/theme/components/NewsletterModal.vue
Due: none

fix: move newsletter modal to core
  packages/commercetools/theme/components/InstagramFeed.vue
  packages/commercetools/theme/components/MobileStoreBanner.vue
  packages/commercetools/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/components/NewsletterModal.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

chore: add changelog info
  packages/core/docs/changelog/6082.js
Due: none

fix: styles
  packages/core/nuxt-theme-module/theme/components/NewsletterModal.vue
Due: none

algolia doc init
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/algolia.md
Due: none

fix: separate file for theme config
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/themeConfig.js
  packages/core/nuxt-theme-module/theme/pages/Home.vue
Due: none

chore: revert the tsconfig.json
  packages/boilerplate/theme/tsconfig.json
  packages/boilerplate/tsconfig.base.json
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/tsconfig.json
  packages/commercetools/theme/tsconfig.json
Due: commercetools-api-client, commercetools-composables

fix(boilerplate:theme): applied correct eslint rues
  packages/boilerplate/theme/nuxt.config.js
Due: none

fix(commercetools:theme): applied correct eslint rues
  packages/commercetools/theme/nuxt.config.js
Due: none

fix(boilerplate:api-client): added missing typescript config
  packages/boilerplate/api-client/rollup.config.js
Due: none

working on doc
  packages/core/docs/integrations/README.md
  packages/core/docs/integrations/algolia.md
Due: none

fix: separate file for theme config
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/themeConfig.js
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
Due: none

docs: updated changelog
  packages/core/docs/changelog/6081.js
  packages/core/docs/commercetools/changelog/6081.js
Due: none

refactor(core:logger): change the logger behavior to match the console
  packages/core/core/src/utils/logger/defaultLogger.ts
  packages/core/core/src/utils/logger/makeMessageStyle.ts
  packages/core/core/src/utils/logger/makeMethod.ts
  packages/core/core/src/utils/logger/types.ts
  packages/core/core/src/utils/logger/utils.ts
Due: none

docs: added the changelog for #6085
  packages/core/docs/changelog/6085.js
Due: none

fix: oauth token by resending request
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware.config.js
  packages/core/core/src/factories/apiClientFactory/index.ts
  packages/core/core/src/types.ts
  packages/core/middleware/src/createServer.ts
Due: commercetools-api-client, commercetools-composables

update
  packages/core/docs/integrations/algolia.md
Due: none

feature(api-client): add storeKey variable on requests
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerChangeMyPassword/index.ts
  packages/commercetools/api-client/src/api/customerCreatePasswordResetToken/index.ts
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/customerUpdateMe/index.ts
  packages/commercetools/api-client/src/api/updateCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

refactor(composables): save storeKey on cookies
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/core/nuxt-theme-module/theme/components/StoreLocaleSelector.vue
Due: commercetools-composables

feat(api-client): added deleteCart api
  packages/commercetools/api-client/src/api/deleteCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/deleteCart/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/types/Api.ts
Due: commercetools-api-client

feat(commercetools): added clear method to useCart
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

refactor(commercetools:composables): fixed storeGetters.ts getItems
  packages/commercetools/composables/src/getters/storeGetters.ts
Due: commercetools-composables

test(commercetools:composables): updated the storeGetters.ts tests to add the empty channels case
  packages/commercetools/composables/__tests__/getters/storeGetters.spec.ts
Due: commercetools-composables

test(commercetools): added and fixed ct tests
  packages/commercetools/api-client/__tests__/api/customerUpdateMe.spec.ts
  packages/commercetools/composables/__tests__/getters/storeGetters.spec.ts
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
  packages/commercetools/composables/__tests__/useStore/factoryParams.spec.ts
  packages/commercetools/composables/src/getters/storeGetters.ts
Due: commercetools-api-client, commercetools-composables

refactor(commercetools): added the StoreLocaleSelector to the header components
  packages/commercetools/theme/components/AppHeader.vue
  packages/commercetools/theme/components/StoreLocaleSelector.vue
  packages/commercetools/theme/components/TopBar.vue
  packages/commercetools/theme/mockedSearchProducts.json
Due: none

fix: retry logic of CT updateCart + minor refactoring
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

refactor(nuxt-theme-module:theme): rollback to default theme
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/components/TopBar.vue
Due: none

Add e2e tests for shipping form selects validation
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping.spec.ts
Due: none

Add e2e tests for shipping form input validation
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping.spec.ts
Due: none

Add e2e test for checkout billing
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/tests/e2e/api/requests.ts
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping-validation.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
  packages/commercetools/theme/tests/e2e/types/types.ts
Due: none

chore: add changelog info
  packages/core/docs/commercetools/changelog/6050.js
Due: none

Add e2e test for checkout shipping form
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
Due: none

Add e2e test for checkout order summary
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/tests/e2e/api/requests.ts
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-order-summary.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-order-summary.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping-validation.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
Due: none

Add assertions to order summary e2e test
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-order-summary.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-order-summary.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
Due: none

Change e2e test to be no longer skipped
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
Due: none

Update e2e tests data
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
Due: none

Change v-e2e selectors
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-place-order.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
Due: none
