Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Refs #24682: Storyblok - move base and plugin interfaces into the main module
  src/modules/vsf-storyblok-module/component-width-calculator.service.ts
  src/modules/vsf-storyblok-module/index.ts
  src/modules/vsf-storyblok-module/types/alignment.value.ts
  src/modules/vsf-storyblok-module/types/asset-field.interface.ts
  src/modules/vsf-storyblok-module/types/color-picker-field.interface.ts
  src/modules/vsf-storyblok-module/types/columns-count-field.type.ts
  src/modules/vsf-storyblok-module/types/display.value.ts
  src/modules/vsf-storyblok-module/types/item-data.interface.ts
  src/modules/vsf-storyblok-module/types/link-field.interface.ts
  src/modules/vsf-storyblok-module/types/link-type.value.ts
  src/modules/vsf-storyblok-module/types/size.value.ts
  src/modules/vsf-storyblok-module/types/spacing-settings-field.interface.ts
  src/modules/vsf-storyblok-module/types/video-provider.value.ts
  src/modules/vsf-storyblok-module/types/video-url-field.interface.ts
Due: none

Refs #24682: Storyblok - add interface for `Grid` component data, fix column settings processing
  src/modules/vsf-storyblok-module/components/defaults/Grid.vue
  src/modules/vsf-storyblok-module/types/grid-data.interface.ts
Due: none

Refs #24682: Storyblok - add interface for `PageSection` component data
  src/modules/vsf-storyblok-module/components/defaults/PageSection.vue
  src/modules/vsf-storyblok-module/types/page-section-data.interface.ts
  src/modules/vsf-storyblok-module/types/section-width.value.ts
Due: none

Refs #24682: Storyblok - add interface for `Blok` mixin data
  src/modules/vsf-storyblok-module/components/Blok.ts
  src/modules/vsf-storyblok-module/types/display.value.ts
  src/modules/vsf-storyblok-module/types/item-data.interface.ts
  src/modules/vsf-storyblok-module/types/spacing-setting-field-name.value.ts
  src/modules/vsf-storyblok-module/types/spacing-settings-field.interface.ts
Due: none

Refs #24682: Storyblok - add interface for `Page` component data
  src/modules/vsf-storyblok-module/components/defaults/Page.vue
  src/modules/vsf-storyblok-module/types/metatags-field.interface.ts
  src/modules/vsf-storyblok-module/types/page-data.interface.ts
Due: none

Refs #24682: Storyblok - Block - initialize `ComponentWidthCalculator` if absent (standalone editing mode)
  src/modules/vsf-storyblok-module/components/defaults/Block.vue
  src/modules/vsf-storyblok-module/components/defaults/Grid.vue
  src/modules/vsf-storyblok-module/components/defaults/PageSection.vue
  src/modules/vsf-storyblok-module/types/block-data.interface.ts
Due: none

Refs #24682: Storyblok - fix type export
  src/modules/vsf-storyblok-module/index.ts
  src/modules/vsf-storyblok-module/types/item-data.interface.ts
  src/modules/vsf-storyblok-module/types/spacing-settings-field.type.ts
Due: none

CR fixes
  packages/commercetools/api-client/src/api/getProduct/defaultQuery.ts
  packages/commercetools/api-client/src/api/getProduct/index.ts
  packages/commercetools/composables/__tests__/useStore/factoryParams.spec.ts
  packages/commercetools/composables/src/helpers/internals/getStoreCredentials.ts
  packages/commercetools/composables/src/helpers/internals/index.ts
  packages/commercetools/composables/src/useFacet/index.ts
  packages/commercetools/composables/src/useProduct/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/commercetools/composables/src/useStore/index.ts
  packages/commercetools/theme/middleware.config.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/__tests__/factories/useStoreFactory.spec.ts
  packages/core/core/src/factories/useStoreFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/composables/use-store.md
Due: commercetools-api-client, commercetools-composables

fix useStore factoryParams tests
  packages/commercetools/composables/__tests__/useStore/factoryParams.spec.ts
Due: commercetools-composables

useSearch implementation
  packages/core/core/src/factories/useSearchFactory.ts
  packages/core/core/src/types.ts
Due: none

feat-#5968: cr fixes
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/composables/src/useForgotPassword/index.ts
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/core/core/src/factories/useForgotPasswordFactory.ts
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/pages/ResetPassword.vue
Due: commercetools-api-client, commercetools-composables

chore: add section for developer creating a shop
  packages/core/docs/general/where-to-start.md
Due: none

feat-#5968: refactor getters and forgot result
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/composables/src/getters/forgotPasswordGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useForgotPassword/index.ts
  packages/core/core/src/factories/useForgotPasswordFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/composables/use-forgot-password.md
Due: commercetools-api-client, commercetools-composables

fix tests
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
  packages/commercetools/composables/__tests__/useProduct/useProduct.spec.ts
Due: commercetools-composables

feat-#5968: update core docs
  packages/core/docs/guide/authentication.md
Due: none

Update code snippets
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/composition-api.md
Due: none

feat-#5968: update CT docs
  packages/core/docs/commercetools/composables/use-forgot-password.md
Due: none

changelog
  packages/core/docs/changelog/6015.js
Due: none

Refs #24686: Prepare store to keep bodyparts
  core/modules/cart/helpers/createCartItemForUpdate.ts
  core/modules/cart/types/CartItem.ts
  src/modules/budsies/factories/bodypart-value.factory.ts
  src/modules/budsies/factories/bodypart.factory.ts
  src/modules/budsies/helpers/cacheHandler.ts
  src/modules/budsies/models/bodypart-api-response.interface.ts
  src/modules/budsies/models/bodypart-value-api-response.interface.ts
  src/modules/budsies/models/bodypart-value.model.ts
  src/modules/budsies/models/bodypart.model.ts
  src/modules/budsies/models/is-bodypart-api-response.typeguard.ts
  src/modules/budsies/models/is-bodypart-value-api-response.typeguard.ts
  src/modules/budsies/store/actions.ts
  src/modules/budsies/store/getters.ts
  src/modules/budsies/store/mutation-types.ts
  src/modules/budsies/store/mutations.ts
  src/modules/budsies/store/state.ts
  src/modules/budsies/types/State.ts
Due: none

feat-#5968: fix tests
  packages/commercetools/composables/__tests__/useForgotPassword/useForgotPassword.spec.ts
  packages/core/core/__tests__/factories/useForgotPasswordFactory.spec.ts
Due: commercetools-composables

fix test mock
  packages/commercetools/composables/__tests__/useFacet/useFacet.spec.ts
Due: commercetools-composables

Refs #24685: fix bodyparts images dispaying
  config/local.json.petsies.example
Due: none

Refs #24685: respect customer email in state
  src/modules/budsies/helpers/cacheHandler.ts
  src/modules/budsies/store/actions.ts
  src/modules/budsies/store/getters.ts
  src/modules/budsies/store/mutation-types.ts
  src/modules/budsies/store/mutations.ts
  src/modules/budsies/store/state.ts
  src/modules/budsies/types/State.ts
Due: none

chore: syntax corrects
  packages/commercetools/composables/src/getters/_utils.ts
  packages/core/core/rollup.config.js
  yarn.lock
Due: commercetools-composables

fix rpt2 issues
  packages/core/core/src/factories/useUserFactory.ts
Due: none

fix rpt2 issues
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
Due: none

fix rpt2 issues
  packages/core/core/__tests__/factories/useUserFactory.spec.ts
  packages/core/core/src/types.ts
Due: none

Refs #24682: Code clean up
  src/modules/budsies/components/BaseImage.vue
Due: none

Refs #24341: Storyblok - Grid - don't allow content to expand the grid
  src/modules/vsf-storyblok-module/components/defaults/Grid.vue
Due: none

chore: adjust to next
  packages/commercetools/theme/components/Header/HeaderNav.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/Header/AppHeader.vue
Due: none

chore: fixes
  packages/boilerplate/api-client/src/api/getCategory/index.ts
  packages/boilerplate/theme/static/megamenu/bannerA.webp
  packages/boilerplate/theme/static/megamenu/bannerB.webp
  packages/commercetools/theme/components/Header/HeaderNav.vue
  packages/commercetools/theme/static/megamenu/bannerA.webp
  packages/commercetools/theme/static/megamenu/bannerB.webp
  packages/core/nuxt-theme-module/theme/components/Header/LocaleSelector.vue
  packages/core/nuxt-theme-module/theme/components/Header/NewCatBanners.vue
  packages/core/nuxt-theme-module/theme/components/Header/TopBar.vue
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
Due: none

fix: from cr and update customQuery
  packages/commercetools/theme/components/Header/HeaderNav.vue
  packages/commercetools/theme/middleware.config.js
  packages/core/nuxt-theme-module/theme/components/Header/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/Header/HeaderNav.vue
Due: none

refactor
  packages/core/nuxt-theme-module/theme/components/Header/HeaderNav.vue
Due: none

chore: fixes
  packages/commercetools/theme/components/Header/HeaderNav.vue
  packages/core/nuxt-theme-module/theme/components/Header/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/Header/HeaderNav.vue
Due: none

chore: hasChildren as a computed
  packages/commercetools/theme/components/Header/HeaderNav.vue
Due: none

chore: update branch
  packages/commercetools/theme/components/Header/HeaderNav.vue
Due: none

chore: duplicates refactor
  packages/commercetools/theme/components/Header/HeaderNav.vue
Due: none

chore: ui fixes
  packages/commercetools/theme/components/Header/MobileMenu.vue
  packages/core/nuxt-theme-module/theme/components/Header/NewCatBanners.vue
Due: none

chore: revert svg instead SfLoader
  packages/commercetools/theme/components/Header/MobileMenu.vue
Due: none

chore: fixes
  packages/commercetools/theme/components/Header/HeaderNav.vue
  packages/commercetools/theme/components/Header/MobileMenu.vue
  packages/core/nuxt-theme-module/theme/components/Header/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/Header/MobileMenu.vue
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
