Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Revert change in package.json
  packages/core/cli/package.json
Due: none

Update changelog
  packages/core/docs/contributing/changelog.md
Due: none

refactor: address picer and address form ui
  packages/boilerplate/theme/components/Checkout/UserShippingAddresses.vue
  packages/boilerplate/theme/components/temp/SfAddress.vue
  packages/boilerplate/theme/components/temp/SfAddressPicker.vue
  packages/boilerplate/theme/components/temp/SfRadio.vue
  packages/boilerplate/theme/pages/Checkout/Shipping.vue
Due: none

chore(cko): bumped to 0.0.7
  packages/checkout-com/package.json
Due: none

chore: changelog update
  packages/core/docs/checkout-com/CHANGELOG.md
Due: none

chore(core) render content factory params
  packages/core/core/src/factories/useContentFactory.ts
Due: none

refactor: ct- payment shipping and thankyou
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
Due: none

refactor: ct- address picker form ui
  packages/commercetools/theme/components/Checkout/UserShippingAddresses.vue
  packages/commercetools/theme/components/temp/SfAddress.vue
  packages/commercetools/theme/components/temp/SfAddressPicker.vue
  packages/commercetools/theme/components/temp/SfRadio.vue
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
Due: none

feat: wip add ceate, update and get shopping list functions
  packages/commercetools/api-client/src/api/createMyShoppingList/defaultMutation.ts
  packages/commercetools/api-client/src/api/createMyShoppingList/index.ts
  packages/commercetools/api-client/src/api/getMyShoppingList/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMyShoppingList/index.ts
  packages/commercetools/api-client/src/api/updateMyShoppingList/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateMyShoppingList/index.ts
  packages/commercetools/composables/src/useWishlist/currentWishlist.ts
  packages/commercetools/composables/src/useWishlist/index.ts
Due: commercetools-api-client, commercetools-composables

chore(core) use/render content docs update
  packages/core/docs/.vuepress/config.js
  packages/core/docs/general/cms.md
  packages/core/docs/general/use-content.md
Due: none

fix(docs): vuepress config
  packages/core/docs/.vuepress/config.js
Due: none

fix(core): render content test
  packages/core/core/__tests__/factories/useContentFactory.spec.ts
  packages/core/core/__tests__/middleware/createMiddleware.spec.ts
  packages/core/core/src/server/index.ts
Due: none

prepublish
  packages/about-you/api-client/package.json
  packages/about-you/composables/package.json
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/checkout-com/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/core/cli/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  packages/shopify/api-client/package.json
  packages/shopify/composables/package.json
  scripts/package.json
Due: commercetools-api-client, commercetools-composables

refactor: my-profile, my-newsletter and loyalty-card
  packages/core/nuxt-theme-module/theme/pages/MyAccount/LoyaltyCard.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyProfile.vue
Due: none

Updated the code to show the orders history to the user for the orders placed offline (#5015)
  core/modules/order/index.ts
Due: none

fix: conflict resolved
  packages/core/nuxt-theme-module/theme/pages/Checkout/ThankYou.vue
  yarn.lock
Due: none

feat: add composable and fix mutations
  packages/commercetools/api-client/src/api/createMyShoppingList/defaultMutation.ts
  packages/commercetools/api-client/src/api/getMyShoppingList/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMyShoppingList/index.ts
  packages/commercetools/api-client/src/api/updateMyShoppingList/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateMyShoppingList/index.ts
  packages/commercetools/composables/src/useWishlist/currentWishlist.ts
  packages/commercetools/composables/src/useWishlist/index.ts
  packages/core/docs/commercetools/changelog.md
Due: commercetools-api-client, commercetools-composables

fix: try to fix currentWislist in composable
  packages/commercetools/api-client/src/api/createMyShoppingList/index.ts
  packages/commercetools/composables/src/useWishlist/currentWishlist.ts
Due: commercetools-api-client, commercetools-composables

replace lodash with lodash-es
  core/modules/catalog/helpers/configure/configureProductAsync.ts
  core/modules/catalog/helpers/productOptions/omitInternalOptionsFormat.ts
  core/modules/catalog/helpers/variant/getConfigurationMatchLevel.ts
  core/modules/catalog/helpers/variant/omitSelectedVariantFields.ts
Due: none

update changelog
  CHANGELOG.md
Due: none

refactor: shipping-details, my-account, my-reviews, order-history, account, default
  packages/boilerplate/theme/pages/MyAccount/ShippingDetails.vue
  packages/commercetools/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/nuxt-theme-module/theme/layouts/account.vue
  packages/core/nuxt-theme-module/theme/layouts/default.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyReviews.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/OrderHistory.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/ShippingDetails.vue
Due: none

fix: changes after CR
  packages/commercetools/api-client/src/api/createMyShoppingList/defaultMutation.ts
  packages/commercetools/api-client/src/api/getMyShoppingList/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMyShoppingList/index.ts
  packages/commercetools/api-client/src/api/updateMyShoppingList/defaultMutation.ts
  packages/commercetools/composables/src/useWishlist/currentWishlist.ts
  packages/commercetools/composables/src/useWishlist/index.ts
Due: commercetools-api-client, commercetools-composables

amendments for api client
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/setup.ts
Due: commercetools-api-client

Updated the change log (#5015)
  CHANGELOG.md
Due: none

fix: font fixed
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
Due: none

user groups docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/enterprise/user-groups.md
Due: none

remove checkout shipping defaulting
  packages/commercetools/api-client/__tests__/api/deleteCart/deleteCart.spec.ts
  packages/commercetools/api-client/src/api/deleteCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/deleteCart/index.ts
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/__tests__/useUser/authenticate.spec.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/core/docs/commercetools/changelog.md
Due: commercetools-api-client, commercetools-composables

remove checkout shipping defaulting
  packages/commercetools/composables/__tests__/useUser/authenticate.spec.ts
Due: commercetools-composables

chore: changelog update
  packages/core/core/src/factories/useContentFactory.ts
  packages/core/docs/contributing/changelog.md
Due: none

refactor: general adjusting
  packages/boilerplate/theme/components/Checkout/UserShippingAddresses.vue
  packages/boilerplate/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/Checkout.vue
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/pages/Checkout/ThankYou.vue
  packages/commercetools/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/nuxt-theme-module/theme/components/AppFooter.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/CartSidebar.vue
  packages/core/nuxt-theme-module/theme/components/Filters.vue
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
  packages/core/nuxt-theme-module/theme/components/checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/OrderReview.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Shipping.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/MyNewsletter.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

remove checkout shipping defaulting
  packages/commercetools/api-client/src/api/deleteCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/deleteCart/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
Due: commercetools-api-client, commercetools-composables

remove checkout shipping defaulting
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/index.ts
  packages/commercetools/theme/pages/Checkout/OrderReview.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
Due: commercetools-composables

remove checkout shipping defaulting
  packages/commercetools/api-client/__tests__/api/deleteCart/deleteCart.spec.ts
Due: commercetools-api-client

remove checkout shipping defaulting
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
Due: commercetools-composables

doc: localizedRoute update & info about multiStoreConfig in VSF-API
  docs/guide/integrations/multistore.md
Due: none

docs: last changes in multistore
  docs/guide/integrations/multistore.md
Due: none

Add shipping getters and make templates agnostic
  packages/commercetools/api-client/src/fragments/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/composables/src/getters/userShippingGetters.ts
  packages/commercetools/theme/pages/MyAccount/ShippingDetails.vue
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

Fix exported types
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
Due: commercetools-api-client, commercetools-composables

GTM: update product mutation name to fix missing product details event
  src/modules/google-tag-manager/hooks/afterRegistration.ts
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
