Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Update docs title (#6001)
  packages/core/docs/.vuepress/config.js
Due: none

fix store getters
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useStore/factoryParams.ts
  packages/core/core/src/types.ts
Due: commercetools-composables

AgnosticLocale["label"] TODO comment added
  packages/commercetools/composables/src/getters/storeGetters.ts
Due: commercetools-composables

Refs #24674: send region to magento for taxes calculation
  core/modules/cart/helpers/createOrderData.ts
  core/modules/cart/types/ShippingAddress.ts
Due: none

fix: support for params
  core/modules/catalog/events.ts
Due: none

feat-#5968: rename change to setNew
  packages/boilerplate/composables/src/useForgotPassword/index.ts
  packages/commercetools/api-client/src/api/customerResetPassword/index.ts
  packages/commercetools/composables/__tests__/useForgotPassword/useForgotPassword.spec.ts
  packages/commercetools/composables/src/useForgotPassword/index.ts
  packages/core/core/__tests__/factories/useForgotPasswordFactory.spec.ts
  packages/core/core/src/factories/useForgotPasswordFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/composables/use-forgot-password.md
  packages/core/docs/guide/authentication.md
  packages/core/nuxt-theme-module/theme/pages/ResetPassword.vue
Due: commercetools-api-client, commercetools-composables

fix hardcoded USD currency
  packages/commercetools/api-client/__tests__/api/createCart.spec.ts
  packages/commercetools/api-client/__tests__/api/createMyOrderFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeIn.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeUp.spec.ts
  packages/commercetools/api-client/__tests__/api/getCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getOrders.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart.spec.ts
  packages/commercetools/api-client/src/api/createCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/createMyOrderFromCart/index.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeIn/index.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/defaultMutation.ts
  packages/commercetools/api-client/src/api/customerSignMeUp/index.ts
  packages/commercetools/api-client/src/api/getCart/defaultQuery.ts
  packages/commercetools/api-client/src/api/getCart/index.ts
  packages/commercetools/api-client/src/api/getMe/defaultQuery.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
  packages/commercetools/api-client/src/api/getOrders/index.ts
  packages/commercetools/api-client/src/api/updateCart/defaultMutation.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/fragments/line-item.ts
  packages/commercetools/api-client/src/helpers/apiClient/defaultSettings.ts
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/composables/nuxt/defaultConfig.js
  packages/commercetools/composables/nuxt/helpers/index.js
  packages/commercetools/composables/nuxt/plugin.js
  packages/commercetools/theme/nuxt.config.js
  packages/core/core/src/types.ts
  packages/core/nuxt-module/lib/module.js
  packages/core/nuxt-module/lib/plugins/i18n-cookies.js
  packages/core/nuxt-module/lib/plugins/logger.js
  packages/core/nuxt-module/lib/plugins/ssr.js
Due: commercetools-api-client, commercetools-composables

feat-#5968: create logEmailExtension
  packages/commercetools/api-client/src/index.server.ts
  packages/commercetools/composables/src/useForgotPassword/index.ts
Due: commercetools-api-client, commercetools-composables

feat-#5968: export composable and factory params
  packages/commercetools/composables/src/index.ts
  packages/commercetools/composables/src/useForgotPassword/index.ts
Due: commercetools-composables

feat-#5968: add errors for composable methods
  packages/core/core/src/factories/useForgotPasswordFactory.ts
  packages/core/core/src/types.ts
  packages/core/docs/commercetools/composables/use-forgot-password.md
Due: none

feat-#5968: fix test
  packages/commercetools/composables/__tests__/useForgotPassword/useForgotPassword.spec.ts
Due: commercetools-composables

feat-#5968: fix core tests
  packages/core/core/__tests__/factories/useForgotPasswordFactory.spec.ts
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: version bump to 2.3.4
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/middleware/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-api-client, commercetools-composables

chore: changelog update
  packages/core/docs/changelog/5939.js
  packages/core/docs/changelog/5943.js
  packages/core/docs/changelog/5953.js
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/commercetools/changelog/5950.js
  packages/core/docs/commercetools/changelog/5953.js
  packages/core/docs/contributing/changelog.md
Due: none

chore: ct theme dept version bump
  packages/commercetools/theme/package.json
Due: none

feat-#5968: update error handling
  packages/commercetools/composables/src/useForgotPassword/index.ts
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/pages/ResetPassword.vue
Due: commercetools-composables

fix: linting
  core/modules/catalog/events.ts
Due: none

added docs and changelog
  packages/core/docs/.vuepress/config.js
  packages/core/docs/changelog/5945.js
  packages/core/docs/commercetools/changelog/5945.js
  packages/core/docs/commercetools/composables/use-store.md
Due: none

changelog added
  packages/core/docs/changelog/5874.js
  packages/core/docs/commercetools/changelog/5874.js
Due: none

changelog added
  packages/core/docs/commercetools/changelog/5925.js
Due: none

chore: cli version bump
  packages/core/cli/package.json
Due: none

perf: WIP add Lighthouse CI
  .github/workflows/lighthouse-ci.yml
Due: none

perf: WIP test lighthouse action
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-preview-storefrontcloud.yml
  .github/workflows/deploy-storefrontcloud.yml
  .github/workflows/run-e2e-regression.yml
  .github/workflows/run-e2e-tests.yml
  .github/workflows/test.yml
Due: none

perf: WIP fix yml file
  .github/workflows/lighthouse-ci.yml
Due: none

perf: WIP fix yml file
  .github/workflows/lighthouse-ci.yml
  lighthouserc.json
Due: none

feat-#5968: update translations and CR fixes
  packages/commercetools/theme/lang/de.js
  packages/commercetools/theme/lang/en.js
  packages/core/core/src/factories/useForgotPasswordFactory.ts
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/lang/de.js
  packages/core/nuxt-theme-module/theme/lang/en.js
  packages/core/nuxt-theme-module/theme/pages/ResetPassword.vue
Due: none

perf: WIP add multiple pages and mobile/desktop
  .github/workflows/lighthouse-ci.yml
  lighthouserc.json
Due: none

Docker - don't copy yarn.lock into the image, mount it from the host instead; update yarn.lock content
  docker-compose.yml
  docker/vue-storefront/Dockerfile
  yarn.lock
Due: none

Refs #24341: Update `yarn.lock`
  yarn.lock
Due: none

Refs #24680: Add `vue-multiselect` package
  yarn.lock
Due: none

Docker - add volume to preserve yarn cache cache
  docker-compose.yml
Due: none

fix: remove unnecessary step
  core/modules/catalog/events.ts
Due: none

Refactor docs
  packages/core/docs/.vuepress/config.js
  packages/core/docs/guide/composables.md
  packages/core/docs/guide/composition-api.md
  packages/core/docs/guide/error-handling.md
Due: none

feat-#5968: update docs after CR
  packages/core/docs/commercetools/composables/use-forgot-password.md
Due: none

update docs
  packages/core/docs/guide/composables.md
  packages/core/docs/integrate/integration-guide.md
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
