Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

fix(ct:api) contact info deprecated, support for direct field usage added
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/commercetools/api-client/src/types/GraphQL.ts
Due: commercetools-api-client

Removed redundant mode cors from task execute/queue method, added them in task getPayload method
  core/data-resolver/CartService.ts
  core/data-resolver/NewsletterService.ts
  core/data-resolver/OrderService.ts
  core/data-resolver/ProductService.ts
  core/data-resolver/ReviewsService.ts
  core/data-resolver/StockService.ts
  core/data-resolver/UserService.ts
  core/lib/sync/task.ts
  docs/guide/data-resolvers/introduction.md
Due: none

Added changelog entries
  CHANGELOG.md
  docs/guide/vuex/sync-store.md
Due: none

fix(ct:api) use Logger instead of console
  packages/commercetools/api-client/src/helpers/cart/actions.ts
Due: commercetools-api-client

reexport module
  core/lib/storeCodeFromRoute.ts
Due: none

fix(ct:api) add changelog and optimize the if condition check code
  packages/commercetools/api-client/src/helpers/cart/actions.ts
  packages/core/docs/commercetools/changelog.md
Due: commercetools-api-client

refactor: reverted condition in loadWishlist
  packages/core/core/src/factories/useWishlistFactory.ts
Due: none

fix(ct:api) access object prop safety added
  packages/commercetools/api-client/src/helpers/cart/actions.ts
Due: commercetools-api-client

Remove '_' from form field names
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/MyAccount/ShippingAddressForm.vue
Due: none

Fix property name
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
Due: none

Rename '_' from fields
  packages/commercetools/composables/src/getters/userBillingGetters.ts
  packages/commercetools/composables/src/getters/userShippingGetters.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
Due: commercetools-composables

Remove '_'
  packages/boilerplate/composables/src/composables/useUserShipping/index.ts
Due: none

Revert changes in BP
  packages/boilerplate/composables/src/composables/useUserShipping/index.ts
Due: none

Fix typo
  packages/commercetools/composables/src/getters/userBillingGetters.ts
  packages/commercetools/composables/src/getters/userShippingGetters.ts
Due: commercetools-composables

Fix dependency path resolution
  packages/core/nuxt-module/lib/module.js
  yarn.lock
Due: none

Updated code to set the auth scheme based on cofiguration.
  config/default.json
  core/lib/sync/task.ts
Due: none

Updated changelog entries
  CHANGELOG.md
Due: none

Fixed the code to show the placeholder on the product page (#5087)
  core/modules/catalog/helpers/getProductGallery.ts
  core/modules/catalog/helpers/index.ts
Due: none

Updated the CHANGELOG.md file (#5087)
  CHANGELOG.md
Due: none

Fix errors in getters
  packages/boilerplate/composables/src/composables/getters/productGetters.ts
  packages/commercetools/composables/src/getters/productGetters.ts
Due: commercetools-composables

Removed the hardcoded values to define the width/height of the image (#5090)
  core/modules/catalog/helpers/index.ts
Due: none

Updated the CHANGELOG.md file (#5090)
  CHANGELOG.md
Due: none

Fixed the code to display the unique images and media_gallery on the product page (#5093)
  core/modules/catalog/helpers/getProductGallery.ts
Due: none

Updated the CHANGELOG.md file (#5093)
  CHANGELOG.md
Due: none

Make useUserBilling templates integration-agnostic (#5069)
  packages/boilerplate/theme/pages/MyAccount.vue
  packages/boilerplate/theme/pages/MyAccount/BillingDetails.vue
  packages/commercetools/composables/src/getters/userBillingGetters.ts
  packages/commercetools/composables/src/getters/userShippingGetters.ts
  packages/commercetools/composables/src/useUserBilling/index.ts
  packages/commercetools/composables/src/useUserShipping/index.ts
  packages/commercetools/theme/components/MyAccount/BillingAddressForm.vue
  packages/commercetools/theme/components/UserBillingAddress.vue
  packages/commercetools/theme/pages/MyAccount.vue
  packages/commercetools/theme/pages/MyAccount/BillingDetails.vue
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/enterprise/use-user-billing.md
  packages/core/docs/commercetools/enterprise/user-groups.md
  packages/core/docs/commercetools/use-user-billing.md
  packages/core/docs/contributing/changelog.md
  packages/core/docs/core/use-user-billing.md
  packages/core/nuxt-theme-module/theme/components/MyAccount/BillingAddressForm.vue
  packages/core/nuxt-theme-module/theme/components/UserBillingAddress.vue
  packages/core/nuxt-theme-module/theme/components/UserShippingAddress.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount/BillingDetails.vue
  yarn.lock
Due: commercetools-composables

fix(commercetools): set loading to false when api client throws
  packages/commercetools/composables/__tests__/useCheckout/useCheckout.spec.ts
  packages/commercetools/composables/src/useCheckout/createLoadShippingMethods.ts
  packages/commercetools/composables/src/useCheckout/createPlaceOrder.ts
  packages/commercetools/composables/src/useCheckout/createSetBillingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetPersonalDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingDetails.ts
  packages/commercetools/composables/src/useCheckout/createSetShippingMethod.ts
Due: commercetools-composables

Fix AYC test
  packages/about-you/theme/components/AppHeader.vue
Due: none

Update changelog
  packages/core/docs/commercetools/changelog.md
Due: none

chore: update changelog
  packages/core/docs/commercetools/changelog.md
Due: none

Allow array of localforage dirvers in config
  core/lib/storage-manager.ts
Due: none

Update CHANGELOG.md
  CHANGELOG.md
Due: none

release 0.11
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/core/package.json
  packages/core/docs/commercetools/changelog.md
  packages/core/docs/contributing/changelog.md
  yarn.lock
Due: commercetools-api-client, commercetools-composables

update docs
  packages/core/docs/contributing/changelog.md
Due: none

Updated the code to use spread operator when returning images (#5093)
  core/modules/catalog/helpers/getProductGallery.ts
Due: none

Added docs
  docs/guide/basics/configuration.md
Due: none

Added link to localForage docs
  docs/guide/basics/configuration.md
Due: none

Fix release-011
  packages/shopify/composables/src/composables/getters/productGetters.ts
Due: none

fix ssrs transition on the client side
  packages/core/docs/contributing/changelog.md
  packages/core/nuxt-module/lib/plugins/ssr.js
Due: none

Bump nuxt-module version used in themes
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/shopify/theme/package.json
  yarn.lock
Due: none
