Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

codecov.yml:

comment: false

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    patch: no
    project:
      default: no
      commercetools-api-client:
        flags: commercetools-api-client
        target: 90%
      commercetools-composables:
        flags: commercetools-composables
        target: 90%
      commercetools-helpers:
        flags: commercetools-helpers
        target: 90%
flags:
  commercetools-api-client:
    paths:
      - packages/commercetools/api-client
  commercetools-composables:
    paths:
      - packages/commercetools/composables
  commercetools-helpers:
    paths:
      - packages/commercetools/helpers

fix composables
  packages/core/core/__tests__/factories/useUserBillingFactory.spec.ts
  packages/core/core/__tests__/factories/useUserOrdersFactory.spec.ts
  packages/core/core/__tests__/factories/useUserShippingFactory.spec.ts
Due: none

versions
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
Due: commercetools-api-client, commercetools-composables

5270-Passed "serverItems" from "hookResult"
  core/modules/cart/store/actions/mergeActions.ts
Due: none

Update cart missmatch handling
  packages/commercetools/api-client/src/api/updateCart/index.ts
Due: commercetools-api-client

feat: script to create changelog
  package.json
  packages/core/docs/.vuepress/config.js
  packages/core/docs/contributing/changelog.md
  packages/core/docs/contributing/creating-changelog.md
  packages/core/docs/scripts/changelog.js
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Due: none

fix: wrong file
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Due: none

update packages
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  yarn.lock
Due: commercetools-api-client, commercetools-composables

update packages
  dev/docker/Dockerfile
Due: none

update packages
  .github/workflows/test.yml
Due: none

Update deps
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Due: none

update nuxt
  packages/about-you/theme/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/api-client/package.json
  packages/commercetools/composables/package.json
  packages/commercetools/theme/package.json
  packages/core/cache/package.json
  packages/core/core/package.json
  packages/core/nuxt-module/package.json
  packages/core/nuxt-theme-module/package.json
Due: commercetools-api-client, commercetools-composables

update nuxt
  yarn.lock
Due: none

5270-Added changelog
  CHANGELOG.md
Due: none

Update deps
  packages/boilerplate/api-client/package.json
  packages/boilerplate/composables/package.json
Due: none

fix: focus fixed
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
Due: none

Update
  packages/boilerplate/api-client/src/index.ts
Due: none

Update
  packages/boilerplate/composables/nuxt/plugin.js
Due: none

fix: cr fixes
  packages/core/docs/contributing/creating-changelog.md
  packages/core/docs/scripts/changelog.js
Due: none

Bugfix: Check if the variable backendPaymentMethods is iterable before the for...of loop
  CHANGELOG.md
  core/modules/cart/helpers/preparePaymentMethodsToSync.ts
Due: none

Update commit number
  CHANGELOG.md
Due: none

Update packages/core/core/src/types.ts
  packages/core/core/src/types.ts
Due: none

fix: paths fixed
  packages/core/docs/contributing/creating-changelog.md
Due: none

Remove debug code in `core/lib/sync/task.ts`
  core/lib/sync/task.ts
Due: none

context typings
  packages/commercetools/api-client/src/api/createCart/index.ts
  packages/commercetools/api-client/src/api/getCategory/index.ts
  packages/commercetools/api-client/src/api/getMe/index.ts
  packages/commercetools/api-client/src/api/getShippingMethods/index.ts
  packages/commercetools/api-client/src/api/updateCart/index.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/composables/src/context.d.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/core/core/src/types.ts
Due: commercetools-api-client, commercetools-composables

context typings
  packages/commercetools/api-client/src/index.ts
Due: commercetools-api-client

Bump deps and release nuxt-theme-module
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
  packages/commercetools/theme/package.json
  packages/core/cli/package.json
  packages/core/nuxt-theme-module/package.json
  yarn.lock
Due: none

Update deps
  packages/boilerplate/composables/package.json
  packages/boilerplate/theme/package.json
Due: none

5293-Remove-eventlistener-on-microcart-destroyed-hook: - refactored addeventlistener - added method that load cart if tab is visible - removed eventlistener - updated changelog
  CHANGELOG.md
  core/modules/cart/components/MicrocartButton.ts
Due: none

token retry strategy
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/src/helpers/comemrcetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/comemrcetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/comemrcetoolsLink/restrictedOperations.ts
  packages/commercetools/composables/src/useCart/index.ts
  packages/commercetools/composables/src/useUser/factoryParams.ts
  packages/commercetools/theme/middleware/checkout.js
  yarn.lock
Due: commercetools-api-client, commercetools-composables

token retry strategy
  packages/commercetools/composables/__tests__/getters/cartHelpers.spec.ts
  packages/commercetools/composables/__tests__/useCart/currentCart.spec.ts
  packages/commercetools/composables/__tests__/useUser/factoryParams.spec.ts
Due: commercetools-composables

Fix typo 😇
  core/helpers/index.ts
Due: none

chore: 100% test cov for ontext
  packages/core/core/__tests__/utils/context.spec.ts
Due: none

refactor: separated core utils nuxt to 2 files and tests for first
  packages/core/core/__tests__/setup.ts
  packages/core/core/__tests__/utils/nuxt/index.spec.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/core/src/utils/nuxt/nuxtContentFactory.ts
Due: none

refactor: tests for core/nuxt 2/2
  packages/core/core/__tests__/utils/nuxt/index.spec.ts
  packages/core/core/__tests__/utils/nuxt/nuxtContentFactory.spec.ts
  packages/core/core/src/utils/nuxt/index.ts
  packages/core/core/src/utils/nuxt/nuxtContextFactory.ts
Due: none

chore: context tests
  packages/core/core/__tests__/utils/context.spec.ts
Due: none

fix: cr fixes
  .github/pull_request_template.md
  package.json
  packages/core/docs/contributing/README.md
  packages/core/docs/contributing/creating-changelog.md
Due: none

Improve test coverage
  packages/commercetools/api-client/__tests__/api/addToCart.spec.ts
  packages/commercetools/api-client/__tests__/api/applyCartCoupon.spec.ts
  packages/commercetools/api-client/__tests__/api/createCart.spec.ts
  packages/commercetools/api-client/__tests__/api/createMyOrderFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/customerChangeMyPassword.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeIn.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignMeUp.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignOut.spec.ts
  packages/commercetools/api-client/__tests__/api/customerSignOut/customerSignOut.spec.ts
  packages/commercetools/api-client/__tests__/api/customerUpdateMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getCart.spec.ts
  packages/commercetools/api-client/__tests__/api/getCategory.spec.ts
  packages/commercetools/api-client/__tests__/api/getMe.spec.ts
  packages/commercetools/api-client/__tests__/api/getMyOrders.spec.ts
  packages/commercetools/api-client/__tests__/api/getProducts.spec.ts
  packages/commercetools/api-client/__tests__/api/getShippingMethods.spec.ts
  packages/commercetools/api-client/__tests__/api/isGuest.spec.ts
  packages/commercetools/api-client/__tests__/api/removeCartCoupon.spec.ts
  packages/commercetools/api-client/__tests__/api/removeFromCart.spec.ts
  packages/commercetools/api-client/__tests__/api/setShippingMethod.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCart.spec.ts
  packages/commercetools/api-client/__tests__/api/updateCartQuantity.spec.ts
  packages/commercetools/api-client/__tests__/api/updateShippingDetails.spec.ts
  packages/commercetools/api-client/__tests__/setup.ts
  packages/commercetools/api-client/src/api/customerSignOut/index.ts
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/api/isGuest/index.ts
  packages/commercetools/api-client/src/helpers/apiClient/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/helpers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/restrictedOperations.ts
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/src/types/Api.ts
  packages/commercetools/api-client/src/types/setup.ts
Due: commercetools-api-client
