Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

refactor(api-client): applied eslint rules
  packages/commercetools/api-client/src/api/createCart/index.ts
Due: commercetools-api-client

refactor(composables): applied eslint rules
  packages/commercetools/composables/src/useCart/index.ts
Due: commercetools-composables

refactor(composables): fixed useCart test
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
Due: commercetools-composables

refactor(composables): fixed addToCart test
  packages/commercetools/api-client/__tests__/api/addToCart.spec.ts
Due: commercetools-api-client

refactor(api-client): applied eslint rules
  packages/commercetools/api-client/__tests__/api/addToCart.spec.ts
Due: commercetools-api-client

fix(commercetools): fixed useStore tests
  packages/commercetools/composables/__tests__/getters/storeGetters.spec.ts
  packages/commercetools/composables/__tests__/useStore/factoryParams.spec.ts
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/theme/components/StoreLocaleSelector.vue
  packages/commercetools/theme/pages/Product.vue
Due: commercetools-composables

#24753: Google Tag Manager - prepare module
  .env.example
  config/local.json.budsies.example
  config/local.json.petsies.example
  docker-compose.yml
  package.json
Due: none

fix: nullable where getProduct graphql param
  packages/commercetools/api-client/src/helpers/search/index.ts
Due: commercetools-api-client

fix: unit-test
  packages/commercetools/api-client/__tests__/helpers/search.spec.ts
Due: commercetools-api-client

fix: add missing mobile menu for ct
  packages/commercetools/theme/components/AppHeader.vue
Due: none

chore: changelog
  packages/core/docs/commercetools/changelog/6184.js
Due: none

revert onMounted
  packages/commercetools/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: none

fix
  packages/commercetools/theme/components/AppHeader.vue
  packages/core/nuxt-theme-module/theme/components/AppHeader.vue
Due: none

Remove mode: 'universal' from the nuxt config
  packages/commercetools/theme/nuxt.config.js
  packages/core/cli/__tests__/scripts/createProject/processMagicComments.spec.ts
Due: none

fix: changes in store docs and fixes after CR
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/commercetools/setup-store.md
  packages/core/docs/images/setup-store/add-atrribute.png
  packages/core/docs/images/setup-store/add-product-1.png
  packages/core/docs/images/setup-store/add-product-2.png
  packages/core/docs/images/setup-store/add-product-3.png
  packages/core/docs/images/setup-store/api-client-1.png
  packages/core/docs/images/setup-store/api-client-2.png
  packages/core/docs/images/setup-store/categories-search.png
  packages/core/docs/images/setup-store/categories-sidebar.png
  packages/core/docs/images/setup-store/countries.png
  packages/core/docs/images/setup-store/create-category-0.png
  packages/core/docs/images/setup-store/create-category-1.png
  packages/core/docs/images/setup-store/create-category-2.png
  packages/core/docs/images/setup-store/currencies.png
  packages/core/docs/images/setup-store/languages.png
  packages/core/docs/images/setup-store/manage-projects.png
  packages/core/docs/images/setup-store/product-type-1.png
  packages/core/docs/images/setup-store/product-type-2.png
  packages/core/docs/images/setup-store/product-type-3.png
  packages/core/docs/images/setup-store/products-sidebar.png
  packages/core/docs/images/setup-store/project-settings-sidebar.png
  packages/core/docs/images/setup-store/project-settings.png
  packages/core/docs/images/setup-store/shipping-methods.png
  packages/core/docs/images/setup-store/shipping-methods_1.png
  packages/core/docs/images/setup-store/taxes.png
  packages/core/docs/images/setup-store/variant.png
  packages/core/docs/images/setup-store/zones.png
Due: none

docs: update demo url
  README.md
  packages/core/docs/.vuepress/config.js
Due: none

feat: images added
  packages/core/docs/images/setup-store/add-atrribute.png
  packages/core/docs/images/setup-store/add-product-1.png
  packages/core/docs/images/setup-store/add-product-2.png
  packages/core/docs/images/setup-store/add-product-3.png
  packages/core/docs/images/setup-store/api-client-1.png
  packages/core/docs/images/setup-store/api-client-2.png
  packages/core/docs/images/setup-store/categories-search.png
  packages/core/docs/images/setup-store/categories-sidebar.png
  packages/core/docs/images/setup-store/countries.png
  packages/core/docs/images/setup-store/create-category-0.png
  packages/core/docs/images/setup-store/create-category-1.png
  packages/core/docs/images/setup-store/create-category-2.png
  packages/core/docs/images/setup-store/currencies.png
  packages/core/docs/images/setup-store/languages.png
  packages/core/docs/images/setup-store/manage-projects.png
  packages/core/docs/images/setup-store/product-type-1.png
  packages/core/docs/images/setup-store/product-type-2.png
  packages/core/docs/images/setup-store/product-type-3.png
  packages/core/docs/images/setup-store/products-sidebar.png
  packages/core/docs/images/setup-store/project-settings-sidebar.png
  packages/core/docs/images/setup-store/project-settings.png
  packages/core/docs/images/setup-store/shipping-methods.png
  packages/core/docs/images/setup-store/shipping-methods_1.png
  packages/core/docs/images/setup-store/taxes.png
  packages/core/docs/images/setup-store/variant.png
  packages/core/docs/images/setup-store/zones.png
Due: none

feat: docs and config added
  packages/core/docs/.vuepress/config.js
  packages/core/docs/commercetools/getting-started.md
  packages/core/docs/commercetools/setup-store.md
Due: none

feat: docs changes after CR
  packages/core/docs/commercetools/setup-store.md
Due: none

chore: version bump for ct theme
  packages/commercetools/theme/package.json
Due: none

fix: ct theme package schema
  packages/commercetools/theme/package.json
Due: none

feat: changes docs after CR
  packages/core/docs/commercetools/setup-store.md
Due: none

test
  .github/workflows/deploy-docs.yml
  packages/api-extractor.base.json
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/src/index.ts
  packages/commercetools/api-client/tsconfig.json
  packages/core/core/api-extractor.json
  packages/core/docs/.gitignore
  packages/core/docs/.vuepress/config.js
  packages/core/docs/Dockerfile
  packages/core/docs/package.json
  yarn.lock
Due: commercetools-api-client

api refs generated correct
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/package.json
  packages/commercetools/api-client/rollup.config.js
  packages/core/docs/.vuepress/config.js
  packages/rollup.base.config.js
Due: commercetools-api-client

fix
  packages/core/docs/.vuepress/config.js
Due: none

docs: fixed typo in the checklist.md
  packages/core/docs/integrate/checklist.md
Due: none

chore: updated husky to 7.0.1
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
  package.json
  yarn.lock
Due: none

docs: enhanced the good-practices.md documentation
  packages/core/docs/integrate/good-practices.md
Due: none

add commands to yarn dev
  packages/core/docs/package.json
Due: none

fix path to types
  packages/commercetools/api-client/package.json
Due: commercetools-api-client

Get rid of unnecessary part
  packages/core/docs/Dockerfile
Due: none

Load wishlist on login and clear on logout
  packages/core/nuxt-theme-module/theme/components/LoginModal.vue
  packages/core/nuxt-theme-module/theme/pages/MyAccount.vue
Due: none

build test
  .github/workflows/deploy-docs.yml
Due: none

test
  .github/workflows/deploy-docs.yml
Due: none

Fix missing index.d.ts
  packages/boilerplate/api-client/rollup.config.js
  packages/boilerplate/rollup.base.config.js
  packages/commercetools/api-client/api-extractor.json
  packages/commercetools/api-client/tsconfig.json
  packages/commercetools/composables/tsconfig.json
  packages/core/docs/.gitignore
Due: commercetools-api-client, commercetools-composables

update path to types in package.json
  packages/commercetools/api-client/package.json
Due: commercetools-api-client

bp fix
  packages/boilerplate/api-client/tsconfig.json
Due: none

tsconfig update
  packages/boilerplate/api-client/tsconfig.json
Due: none

fix: remove merge conflict tags
  packages/core/docs/guide/getters.md
  packages/core/docs/integrate/integration-guide.md
Due: none

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
