Repository vuestorefront/vue-storefront: changes, and which Codecov flags are due for each by the changed paths.
All: commercetools-api-client, commercetools-composables, commercetools-helpers

Add e2e checkout test for registered user
  packages/commercetools/theme/pages/Checkout/Billing.vue
  packages/commercetools/theme/pages/Checkout/Shipping.vue
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-billing-validation.json
  packages/commercetools/theme/tests/e2e/fixtures/test-data/e2e-checkout-shipping-validation.json
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-billing-validation.spec.ts
  packages/commercetools/theme/tests/e2e/integration/e2e-checkout-shipping-validation.spec.ts
  packages/commercetools/theme/tests/e2e/pages/checkout.ts
Due: none

fix(core): added file that was wrong deleted
  packages/core/nuxt-theme-module/theme/components/LocaleSelector.vue
Due: none

Reorderd headers in checkout #6037
  packages/commercetools/theme/pages/Checkout/Payment.vue
  packages/core/nuxt-theme-module/theme/pages/Checkout/Payment.vue
Due: none

refactor(comemrcetools): updated commit author
  packages/commercetools/composables/src/getters/storeGetters.ts
  packages/commercetools/theme/components/StoreLocaleSelector.vue
Due: commercetools-composables

feature/#6086-upgrade-dev-tools-nodev15.x-npmv7.x-yarnv2.4.x upgraded foundation engine set to node v12 and yarn v2.4.2
  .gitignore
  .yarn/releases/yarn-2.4.2.cjs
  .yarnrc.yml
  package.json
  packages/core/docs/general/installation.md
  yarn.lock
Due: none

changelog / yarn config update
  .yarnrc.yml
  packages/core/docs/changelog/6086.js
  packages/core/docs/general/installation.md
  yarn.lock
Due: none

fix(commercetools): fixed unity test
  packages/commercetools/composables/__tests__/getters/storeGetters.spec.ts
Due: commercetools-composables

bug/6089-incorrect-method --> resolved
  packages/core/nuxt-theme-module/index.js
Due: none

bug/6089-incorrect-method --> commit changelog
  packages/core/docs/changelog/6089.js
Due: none

cache control headers for home, cateogry, product
  packages/core/nuxt-theme-module/theme/helpers/cacheControl.js
  packages/core/nuxt-theme-module/theme/pages/Category.vue
  packages/core/nuxt-theme-module/theme/pages/Home.vue
  packages/core/nuxt-theme-module/theme/pages/Product.vue
Due: none

update changelog
  packages/core/docs/changelog/6093.js
Due: none

refactor(ct:api-client): new requestAuthToken fn
  packages/commercetools/api-client/src/api/index.ts
  packages/commercetools/api-client/src/api/requestAuthToken/index.ts
Due: commercetools-api-client

refactor(ct:composables): update integrationPlugin
  packages/commercetools/composables/nuxt/plugin.js
Due: commercetools-composables

refactor(ct:theme): new token middleware
  packages/commercetools/theme/middleware/token.js
  packages/commercetools/theme/nuxt.config.js
Due: none

Remove duplicate dependency
  packages/core/nuxt-module/package.json
Due: none

Remove duplicate dependency (#6094)
  packages/core/nuxt-module/package.json
Due: none

Fix configuration of root `tsconfig.json`
  tsconfig.json
Due: none

WishlistSidebar modifications
  packages/core/nuxt-theme-module/theme/components/WishlistSidebar.vue
Due: none

Remove old commands and fix core tests
  .github/workflows/test.yml
  package.json
  packages/core/cache/src/composables/useCache.ts
  packages/core/cache/src/index.ts
  packages/core/core/__tests__/setup.ts
  packages/core/core/jest.config.js
  packages/core/core/package.json
  packages/core/jest.config.js
  packages/jest.base.config.js
  yarn.lock
Due: none

bug/6099-missing-dependency
  packages/core/core/package.json
Due: none

bug/6099-missing-dependency -changelog
  packages/core/docs/changelog/6099.js
Due: none

Update
  packages/commercetools/composables/__tests__/setup.ts
  packages/commercetools/composables/__tests__/useStore/factoryParams.spec.ts
  packages/commercetools/composables/jest.config.js
  packages/commercetools/composables/package.json
Due: commercetools-composables

Update
  packages/jest.base.config.js
  tsconfig.json
Due: none

Update
  packages/jest.base.config.js
Due: none

test(commercetools): code review feedback
  packages/commercetools/composables/__tests__/useCart/useCart.spec.ts
Due: commercetools-composables

enable summary section in desktop view
  packages/commercetools/theme/pages/Checkout/Payment.vue
Due: none

Add `git` as a requirement to the Installation doc
  packages/core/docs/general/installation.md
Due: none

Fix `useCart` example in CT docs
  packages/core/docs/commercetools/composables/use-cart.md
Due: none

refactor(ct:api-client): update requestAuthToken fn
  packages/commercetools/api-client/src/api/requestAuthToken/index.ts
Due: commercetools-api-client

refactor(ct:api-client): update createCTConnection fn
  packages/commercetools/api-client/src/helpers/commercetoolsLink/index.ts
  packages/commercetools/api-client/src/helpers/commercetoolsLink/linkHandlers.ts
  packages/commercetools/api-client/src/index.server.ts
Due: commercetools-api-client

refactor(ct:theme): update token middleware
  packages/commercetools/theme/middleware/token.js
Due: none

fix: getter for product sku
  packages/commercetools/composables/src/getters/productGetters.ts
Due: commercetools-composables

docs: updated changelog
  packages/core/docs/commercetools/changelog/6107.js
Due: none

refactor(ct:api-client): clean up new fn
  packages/commercetools/api-client/src/api/requestAuthToken/index.ts
  packages/commercetools/api-client/src/types/setup.ts
Due: commercetools-api-client

Add `git` as a requirement to the Installation doc (#6105)
  packages/core/docs/general/installation.md
Due: none

Fix `useCart` example in CT docs (#6106)
  packages/core/docs/commercetools/composables/use-cart.md
Due: none

cr fix
  packages/commercetools/theme/nuxt.config.js
  packages/commercetools/theme/themeConfig.js
  packages/core/nuxt-theme-module/theme/components/SearchResults.vue
Due: none

change orders query
  packages/commercetools/api-client/src/api/getOrders/defaultQuery.ts
Due: commercetools-api-client

implement orders pagination
  packages/commercetools/theme/pages/MyAccount/OrderHistory.vue
Due: none

change orders composable
  packages/commercetools/composables/src/types/index.ts
  packages/commercetools/composables/src/useUserOrder/index.ts
Due: commercetools-composables

Path conditions:
  commercetools-api-client: any of: packages/commercetools/api-client
  commercetools-composables: any of: packages/commercetools/composables
  commercetools-helpers: any of: packages/commercetools/helpers
